@use "../base/variables" as v; 




/*Accordion regular*/
.accordion-reg {
    max-width: 100%;
    &.explore-services{
      .accordion-reg-button.collapsed{background-color: #fff; box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; padding: 20px;}
      .accordion-reg-collapse{background-color: #fff; box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; border-radius: 0;}
      
    }
    &.explore-faq{
      .accordion-reg-button.collapsed{background-color: #fff; box-shadow: rgba(33, 35, 38, 0.2) 0px 5px 5px -5px; padding: 20px;}
      .accordion-reg-collapse{background-color: #fff; box-shadow: rgba(33, 35, 38, 0.2) 0px 5px 5px -5px; border-radius: 0;}
      
    }

  }
  
  .accordion-reg-header {
    margin: 0;
    padding: 0;
  }
  
  .accordion-reg-item {

    margin-bottom: 1.063rem;
  }
  
  .accordion-reg-button {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    text-align: left;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: v.$font-family-Poppins;
    font-weight: v.$font-weight-Medium;
  }
  
  .accordion-reg-button:hover {
    background-color: #e2e6ea;
  }
  
  .accordion-reg-button.collapsed {
    background-color: #F6F6F6;
  }
  
  .accordion-reg-button .arrow {
    transition: transform 0.3s ease;
  }
  
  .accordion-reg-button[aria-expanded="true"] .arrow {
    transform: rotate(45deg);
  }
  
  .accordion-reg-collapse {
    display: none;
    padding: 15px;
    background-color: #f6f6f6;
    animation: fadeIn 0.3s ease-in-out;
    border-radius: 16px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-top: -16px;
  }
  
  .accordion-reg-collapse.show {
    display: block;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-5px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @media (min-width: 768px) {
    .two-coulmn-accordion{
      display: grid  ;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;

      .accordion-reg-item{margin-bottom: 0;}
    }
  }