@use "../base/variables" as v; 

.hero-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 400px;
  overflow: hidden;

  .hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  .hero-content {
    position: relative;
    z-index: 1;
    max-width: 750px;
    padding: 2rem 1rem 2rem 1rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .hero-text {
    font-size: 18px;
    line-height: 1.6;
    font-family: "Inter";
    font-weight: 400;
  }
  .text-btn{
    width: 100%;
  }
}
@media (min-width: 768px) {
  .hero-section{
    .hero-content{
      padding: 2rem 1rem 2rem 9rem;
    }
  }

}

.masthead {
  position: relative;
  height: 300px;
  background: linear-gradient(90deg, v.$dsa-dark-blue 0%, v.$dsa-medium-blue 100%);
  background-size: cover;

  .section-wrapper {
    height: 100%;
    padding-bottom: 1rem;
    &.flex-column{
      align-items: center; justify-content: space-between;
    }
  }

  h1 {
    color: v.$white;
    max-width: 600px;
    line-height: 1.4;
    font-size: 2rem;
    font-family: v.$font-family-Poppins;
    font-weight: v.$font-weight-SemiBold;
    a{color: v.$white;}
  }
  &__text {
    position: relative;
    height: inherit;
    z-index: 2;
  }

  &__bg {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    overflow: hidden;
    &:before {
      content: "";
      position: absolute;
      display: block;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 100%
      );
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: auto;
      height: auto;
      min-width: 100%;
      min-height: 100%;
    }
  }
.envizi-ibm {
  right: 30%;
  bottom: 28%;
  position: absolute;
  img{width: 120px;}
}
}
  /* end */
  //Tablets
  @media (max-width: 767px){
    .masthead {
      &__bg img {
        height: 240px;
        left: 100%;
        max-width: fit-content;
    }
    .section-wrapper {
      &.flex-column{
        flex-wrap: wrap;
      }
    }
    &.esg-banner {
      h1 {
        font-size: 20px;
        max-width: 200px;
    }
 
    .envizi-ibm {
      right: 16px;
  }
    }
  }
  }