@use "../base/variables" as v; 
.btn {
    border-radius: 2px;
    font-size: 1rem;
    border: 1px solid transparent;
    padding: 8px 20px 7px 20px;
    line-height: 1.5333333333;
    text-decoration: none;
    height: auto;
    transition: all 0.25s ease-in-out;
    user-select: none;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    display: inline-block;
    width: min-content;
  }
  .btn-primary {
    color: v.$white;
    background-color: v.$strong-blue;
    &:hover {
      color: v.$white;
      background-color: v.$strong-blue;
    }
    &:active {
      &:hover {
        color: v.$white;
        background-color: v.$strong-blue;
      }
      &:focus {
        color: v.$white;
        background-color: v.$strong-blue;
      }
    }
  }
  .btn-outline-primary {
    color: v.$dsa-bright-blue;
    background-color: transparent;
    background-image: none;
    border-color: v.$dsa-bright-blue;
    &:hover {
      color: v.$white;
      background-color: v.$dsa-bright-blue;
      border-color: v.$dsa-bright-blue;
    }
  }
  .btn-secondary {
    color: v.$white;
    background-color: v.$gray-dark;
    border-color: v.$gray-dark;
    &:hover,
    &:focus {
      color: v.$white;
      background-color: v.$gray-dark;
      border-color: v.$gray-dark;
    }
  }
  .btn-outline-secondary {
    color: v.$gray-dark;
    background-color: transparent;
    border-color: v.$gray-dark;
    &:hover {
      color: v.$white;
      background-color: v.$gray-dark;
      border-color: v.$gray-dark;
    }
  }
  .btn-cta-link {
    a {
        color: v.$dsa-cyan-blue;
        text-decoration: none;
        margin-bottom: 5px;
        font-size: 16px;
        font-weight: 600;
        &:after {
            content: "";
            display: inline-block;
            background: url(../img/esg-cta-arrow.svg) no-repeat left top;
            width: 6px;
            height: 8px;
            margin-left: .5rem;
            vertical-align: middle;
        }
        &:hover:after{color: v.$dsa-dark-blue ; background: url(../img/esg-cta-arrow-h.svg) no-repeat left top;}
    }
}

.text-cta-link {
  color: #217FD4;
  text-decoration: none;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins";
  &:hover{color: #217FD4;}
  &:after {
      content: "";
      display: inline-block;
      background: url(../img/Arrow-text-link.svg) no-repeat left top;
      width: 26px;
      height: 16px;
      margin-left: .5rem;
      vertical-align: middle;
  }
}