@use "../base/variables" as v;

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.splide__arrow{background: transparent !important;}
.splide__arrow svg{fill: #525252 !important;}
.slider-content {
  position: absolute;
  top: 4rem;
  left: 1.5rem;
  color: v.$white;
  z-index: 10;
  max-width: 840px;
  animation: fadeInUp 1s ease-in-out;

  .slide-title {
    font-size: 38px;
    line-height: 50px;
    animation: fadeInUp 1s ease-in-out;

    a { color: v.$white; }
  }

  .slide-desc {
    margin-top: 1rem;
    font-size: 20px;
    line-height: 30px;
    animation: fadeInUp 1.3s ease-in-out;
  }
}

.slide-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  //filter: brightness(0.5);
}

.trending-insights {
  position: absolute;
  bottom: 0%;
  right: 1.5rem;
  color: v.$black;
  z-index: 10;
  animation: fadeInUp 1s ease-in-out;
  display: flex;
  min-height: 100px;
  background-color: v.$white;
  max-width: 800px;

  .ti-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    margin: 1.5rem 0 0 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;

    li {
      padding: 0 1.5rem 0.8rem 1.5rem;
      border-right: solid 1px v.$strong-blue;
      margin-bottom: 1rem;

      &:last-child {
        border: none;
      }

      a {
        color: v.$black;
        text-decoration: none;
      }
    }
  }

  .ti-heading {
    padding-left: 1.5rem; padding-right: 1.5rem; text-transform: uppercase; margin-top: 1.5rem;
  }
  &.position-right{right: 0;}
}
.splide__pagination{
    &__page {
        &.is-active {
          background: #525252 !important;
          transform: scale(1.5);
          &::before {
            content: "";
            display: block;
            position: absolute;
            width: 11px;
            height: 11px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #525252;
            border-radius: 100%;
          }
        }
        &::before{
          background: 0 0;
          border: solid 1px transparent;
          content: "";
          display: block;
            position: absolute;
            width: 16px;
            height: 16px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
      }
      li{margin-right: 5px !important;
      &:last-child{margin-right: 0;}
      }
}


.regular-pagination {
  .splide__pagination {
    bottom: -30px;
    right: 0;
    left: 0%;
    max-width: 1440px;
    margin: 0 auto;

    &__page {
      background-color: #D9D9D9 !important;
      width: 4px;
      height: 4px;
      margin: 5px;

      &.is-active {
        transform: scale(1.4);
        background-color: #D9D9D9;
        
        &::before {
          background: transparent;
          border: solid 1px v.$dsa-cyan-blue;
          }
      }
    }
  }
&.resource-splide{
  .splide__pagination {
    justify-content: flex-start;
    bottom: -30px;
  }
  .splide__arrow{border: solid 1px #9A9A9A;
  svg{height: 0.8rem; width: 0.8rem;}
  }
  .splide__arrow--prev{left: -15px;}
  .splide__arrow--next{right: -15px;}
        
        .splide__arrow--prev{left: 18px !important;}
        .splide__arrow--next{right: 0px;left: 55px !important;}
        .splide__arrow{
            border: solid 1px #535353;
            opacity: 1;
            width: 28px;
            height: 28px;
            svg {
            fill: #000 !important;
            height: 0.5rem !important;
            stroke: #000000;
            stroke-width: 5px;
        }
        }
        .splide__arrows{bottom: 0;position: absolute;}
     
  
}
&.gateway-dba{
  .splide__pagination {
    justify-content: flex-start;
    bottom: -30px;
  }
  .splide__arrow{border: solid 1px #9A9A9A;
  svg{height: 0.8rem; width: 0.8rem;}
  }
  .splide__arrow--prev{left: -15px;}
  .splide__arrow--next{right: -15px;}
  
}
&.resource-video {
.splide__pagination{left: 182px; bottom: 20px;}
}

}
#main-slider{
  height: 612px;
  .splide__pagination {
    justify-content: flex-start;
    bottom: 15%;
    right: 0;
    left: 0%;
    max-width: 1440px;
    margin: 0 auto;

    &__page {
      background-color: v.$white;
      width: 4px;
      height: 4px;
      margin: 5px;

      &.is-active {
        transform: scale(1.5);
        //background: transparent !important;
        border: solid 1px v.$white;
        background: #fff !important;
        &::before {
            //background: v.$white;
            background: transparent;
            border: solid 1px #fff;
          
          }
      }
    }

  }

  .section-wrapper, .section-wrapper-min {
    position: absolute;
    height: 612px;
    right: 0;
    left: 0%;
    margin: 0 auto;
  }

  .btn {
    margin-top: 2rem;
    padding: 0.75rem 1.5rem;
    animation: fadeInUp 1.6s ease-in-out;
  }



  .splide__list {
    height: 612px;
  }
  .splide__arrow{ opacity: 1;
  background: rgb(0, 0, 0, 32%) !important;
  svg{fill: #fff !important;height: 0.7rem !important;
    width: .7rem !important;} 

  }
    .splide__arrows{
    justify-content: flex-start;
    bottom: 10%; top: inherit;
    right: 0;
    left: 0%;
    max-width: 1220px;
    margin: 0 auto;
    position: absolute;
    .splide__arrow--prev{left: 1.5rem; box-shadow: rgba(0, 0, 0, 0.32) 0px 4px 4px;}
    .splide__arrow--next{left: 4rem; right: inherit; box-shadow: rgba(0, 0, 0, 0.32) 0px 4px 4px;}
    }
  
}



    

.clients-carousel{
    .splide{max-width: 1245px; margin: 0 auto;}
    
  }
  .our-team-experts{
    .splide__pagination{bottom: 0;}
  }
  .explore-content-block{
    .splide__arrow{width: auto; height: auto;}
    .splide__arrow--prev{left: -1.5rem;}
    .splide__arrow--next{right: -1.5rem;}
  }


  @media (max-width: 1024px) {
    .slider-content {
      max-width: 90%;
      .slide-title {
        font-size: 1.3rem;
        line-height: normal;
      }
    
      .slide-desc {
        font-size: 1rem;
      }
    }
  
    .trending-insights {
      border-bottom: 1px solid #ccc;
    }
  
    .ti-heading {
      width: auto;
    }
  
    .ti-list {
      font-size: 14px;
      line-height: 18px;
  
      li {
        width: auto;
        border: none;
      }
    }
  
    .slide-bg {
      height: 95vh;
    }
  
    #main-slider {
        .splide__pagination {
            bottom: 35%;
          }
        .btn {
            margin-top: 1rem;
          }
          
    }
  }
  @media (max-width: 768px) {
    #main-slider {
      .slide-content {
        max-width: 90%;
        top: 15%;
        .slide-title {
          font-size: 1.3rem;
        }
    
        .slide-desc {
          font-size: 1rem;
        }
      }
    }
  }
@media (max-width: 600px) {
    .trending-insights {
      max-width: 100%;
      left: 0;
      right: 0;
      .ti-list {
        grid-template-columns: 1fr;
    
        li {
          padding-bottom: 0;
        }
      }
    }
    #main-slider {
      .splide__pagination {
        bottom: 26%;
        left: 10px;
      }
      .btn {
        margin-top: 0;
      }
    }
    .regular-pagination.resource-video .splide__pagination {
    left: 0;
    bottom: -30px; 
}
  }