@use "../base/variables" as v; 
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select,
textarea {
  width: 100%;
  padding: 8px 10px;
  display: inline-block;
  border: solid 1px #e7e7e7;
  box-sizing: border-box;
  background: v.$white;
}
select {
  background: v.$gray-100
    url(../img/down-arroe-select.webp) 
    no-repeat 98% 50%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}

input[type="submit"] {
  border: none;
  cursor: pointer;
}


/* Let’s Discuss the Right Resources for Your State */
.let-discuss-form {
    &.ldform-gray-bg{background-color: #F6F6F6;}
    padding-top: 67px;
    padding-bottom: 86px;;
    h2{ text-align: center; margin-bottom: 1rem; font-size: 1.5rem;}
    h3{text-align: center; font-weight: normal; color: v.$dsa-grey; font-size: 1.125rem;}
    .ld-form {
        width: 642px; margin: 3rem auto 0 auto;
        input[type=text], select, textarea, input[type=checkbox],input[type=email] {
            border-color: #D0D5DD;
            border-radius: 8px;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 5px 0px, rgba(0, 0, 0, 0.05) 0px 0px 1px 0px;
            padding: 0 1rem;
            color: #667085;
            font-size: 14px;
        }
        .form-field-two-column, .form-field-one-column{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 30px;
            input[type=text],input[type=email], select{ height: 48px;width: 48%;}
        }
        .form-field-one-column{
            textarea{
                padding-top: 1rem; padding-bottom: 1rem;
            }
            &.codecs{display: inherit;}
            select {width: 100%;}
        }
        .form-check-input{
            display: flex;
            align-items: center;
            span{
                font-size: 14px;
                line-height: normal;
                color: #4E4E4E;
                a{text-decoration: underline; color: #4E4E4E;
                    &:hover{text-decoration: none;}
                    }
            }
            input{margin-right: 1rem; width: 30px; height: auto;}
            
        }
        input[type=submit] {
            background-color: v.$dsa-cyan-blue;
            color: v.$white;
            padding: 9px 20px;
            border: none;
            border-radius: 2px;
            cursor: pointer;
            width: 147px;
          }
          input[type=submit]:hover {
            background-color: v.$dsa-medium-blue;
          }
    }
    .security-Check-code {
        border-radius: 5px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        border: #D0D5DD solid 1px;
        padding: 0; 
        box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
        background-color: v.$white;
        input[type=text] {
            border: none;
            width: 100%;
            margin-bottom: 0px;
            height: auto;
            border-radius: 5px;
            box-shadow: none;
            &:focus {
                outline: none;
            }

        }
        .security-Check {
            background-color:v.$white;
            border-radius: 3px;
            display: flex;
            align-items: center;
            height: 54px;
            img{ width: 130px;}
        }
    }

}
/* end */
.reload-captcha {
    float: right;
    margin-right: 0;
    cursor: pointer;
    svg {
     width: 15px;
    margin-top: 5px;
     }
    }
    #loading_contact {padding: 10px; color:v.$gray-600;}

    .services-question-section .got-question-block form {
        input[type="text"],
        select,
        input[type="tel"],
        textarea {
          border: none;
          border-radius: 0;
          box-shadow: none;
          border-bottom: 1px solid #C4C4C4;
          background: transparent;
          margin-bottom: 1rem;
          padding-left: 0;
          color: #231F20;
        }
        input[type="submit"] {
            padding: 9px 20px;
            width: 147px;
          }
        .form-check-input {
          display: flex;
          margin-top: 0;
          margin-bottom: 1.5rem;
          align-items: center;
      
          input {
            margin-right: 1rem;
            width: 30px;
            height: 30px;
          }
      
          span {
            color: #727272;
            font-size: 12px;
            line-height: 18px;
          }
        }
      
        select {
          background: url(/img/input-arrow.png) no-repeat 98% 50%;
          color: #727272;
        }
      }
      
@media (max-width: 667px) {
.let-discuss-form{
    .ld-form {width: 100%;
        .code-sensitive{margin-top: 5px;}
        .reload-captcha{margin-right: 0; margin-top: 0; margin-left: 5px;}
        .form-field-two-column{ flex-direction: column; margin-bottom: 0px;
            input[type=text],input[type=email], select{ width: 100%; margin-bottom: 2rem;}
        }
    }
}
}
