@use "../base/variables" as v; 
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select,
textarea {
  width: 100%;
  padding: 8px 10px;
  display: inline-block;
  border: solid 1px #e7e7e7;
  box-sizing: border-box;
  background: v.$white;
}
select {
  background: v.$gray-100
    url(../img/down-arroe-select.webp) 
    no-repeat 98% 50%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}

input[type="submit"] {
  border: none;
  cursor: pointer;
}

.btn-plus-minus{ padding: 8px; cursor: pointer;}
.filed-btn-group{
  display: flex;
    flex-direction: row;
    gap: 1.5rem;
    width: 49%;
    align-items: flex-start;
    select{width: 100% !important;}
}

/* Let’s Discuss the Right Resources for Your State */
.let-discuss-form {
    &.ldform-gray-bg{background-color: #F6F6F6;}
    padding-top: 67px;
    padding-bottom: 86px;;
    h2{ text-align: center; margin-bottom: 1rem; font-size: 1.5rem;}
    h3{text-align: center; font-weight: normal; color: v.$dsa-grey; font-size: 1.125rem;}
    .ld-form {
        width: 642px; margin: 3rem auto 0 auto;
        input[type=text], select, textarea, input[type=checkbox],input[type=email],input[type=password] {
            border-color: #D0D5DD;
            border-radius: 8px;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 5px 0px, rgba(0, 0, 0, 0.05) 0px 0px 1px 0px;
            padding: 0 1rem;
            color: #667085;
            font-size: 14px;
        }
        .form-field-two-column, .form-field-one-column, .form-field-three-column{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 30px;
            input[type=text],input[type=email],input[type=password], select{ height: 48px;width: 48%;}
            animation: fadeInUp 1s ease-in-out;
        }
        .form-field-three-column{
           input[type=text],input[type=email],input[type=password], select{ height: 48px;width: 33%;}
        }
        .form-field-one-column{
            textarea{
                padding-top: 1rem; padding-bottom: 1rem;
            }
            &.codecs{display: inherit;}
            select {width: 100%;}
        }
        .form-check-input{
            display: flex;
            align-items: center;
            span{
                font-size: 14px;
                line-height: normal;
                color: #4E4E4E;
                a{text-decoration: underline; color: #4E4E4E;
                    &:hover{text-decoration: none;}
                    }
            }
            input{margin-right: 1rem; width: 30px; height: auto;}
            
        }
        input[type=submit] {
            background-color: #207fd4;
            color: v.$white;
            padding: 9px 20px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            width: 147px;
          }
          input[type=submit]:hover {
            background-color: #207fd4;
          }

    }
    .security-Check-code {
        border-radius: 5px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        border: #D0D5DD solid 1px;
        padding: 0; 
        box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
        background-color: v.$white;
        input[type=text] {
            border: none;
            width: 100%;
            margin-bottom: 0px;
            height: auto;
            border-radius: 5px;
            box-shadow: none;
            &:focus {
                outline: none;
            }

        }
        .security-Check {
            background-color:v.$white;
            border-radius: 3px;
            display: flex;
            align-items: center;
            height: 54px;
            img{ width: 130px;}
        }
    }

          &.ct-form{
            .ld-form{max-width: 800px; width: 100%;}
             
          }
}
/* end */
.search-bar{ display: flex;
input{
  border: solid 1px #CAD0D9;
  padding: 0.4rem 1rem; border-radius: 4px; margin-right: 0.4rem; width: 100%;
}
button{width: 39px; height: 39px; display: flex; justify-content: center;
img{max-width: 16px;}
}
}
.reload-captcha {
    float: right;
    margin-right: 0;
    cursor: pointer;
    svg {
     width: 15px;
    margin-top: 5px;
     }
    }
    #loading_contact {padding: 10px; color:v.$gray-600;}

    .services-question-section .got-question-block {
        &.ask-contact{width: 90%; margin: 0;}
      form {
        input[type="text"],
        select,
        input[type="tel"],
        textarea {
          border: none;
          border-radius: 0;
          box-shadow: none;
          border-bottom: 1px solid #C4C4C4;
          background: transparent;
          margin-bottom: 0.5rem;
          padding-left: 0;
          color: #231F20;
          font-size: 15px;
        }
        input[type="submit"] {
            padding: 9px 20px;
            width: 147px;
          }
        .form-check-input {
          display: flex;
          margin-top: 0;
          margin-bottom: 1.5rem;
          align-items: center;
      
          input {
            margin-right: 1rem;
            width: 30px;
            height: 30px;
          }
      
          span {
            color: #727272;
            font-size: 12px;
            line-height: 18px;
          }
        }
      
        select {
          background: url(/img/input-arrow.png) no-repeat 100% 50%;
          color: #727272;
          
        }
        .codecs{
          display: flex;gap:0.5rem; margin: 1rem 0; align-items: center;
          .security-Check-code{ display: flex; width: 100%; 
          .loadCaptchaImage{ height: 40px;border: solid #c4c4c4 1px; border-radius: 3px;border-bottom-left-radius: 0;}
          input{margin-bottom: 0;}
          }
        }
       
      }
    }
      .form-field-two-column, .form-field-three-column, .form-field-one-column{display: flex; gap: 1.5rem;}
      .filter-form { padding-top:2rem; width: 99.5vw; margin-left: calc(-50vw + 50%);
      padding-bottom: 2rem; position: sticky; top: 85px; background-color: #fff; z-index: 2;
/* Form Layout */
.event-form {
  margin: 0 auto;
}

/* Dropdowns and Inputs Row */
.form-row {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  //margin-bottom: 2rem;
  flex-direction: column;
}

.form-row select {
  padding: 0.47rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-width: 150px;
  appearance: none;
  background-color: white;
  cursor: pointer;
  background: #fff url(../img/events/select-arrow.svg) no-repeat 96% 50%;
}

/* Search Button */
.search-btn {
  padding:.70rem 1rem;
  font-size: 1rem;
  border: none;
  background-color: #207fd4;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
  img{width: auto; max-width: inherit;}
}
.search-btn:hover {
  background-color: #207fd4 ;
}

/* Filter Tabs */
.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  flex-wrap: wrap;
  a{color: #000;}
}

.filter-tab {
  padding: 0.45rem 1.2rem;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 25px;
  font-size: 0.95rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.filter-tab.active {
  border-color: #207fd4;
  color: #207fd4;
  font-weight: bold;
}
.filter-tab:hover {
  background-color: #f2f2f2;
}
.select-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0.5rem 0.75rem;
  background-color: #fff;
  max-width: 200px;
  position: relative;
  //gap: 0.5rem;
}

.select-wrapper select {
  border: none;
  font-size: 1rem;
  //background: transparent;
  flex: 1;
  appearance: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  padding-left: 0.5rem;
}

.select-icon { display: contents;
  img {
  width: 16px;
  height: 16px;
  display: block;
}
}
&.event-filter-form .form-row {
  .select-wrapper{max-width: 265px;}
  select, input{
    min-width: 215px;
  }
  
}
&.news-filter-form .form-row {
  .select-wrapper{max-width: 295px;}
  select, input{
    min-width: 246px;
  }
}
}

@keyframes fadeInForm {
  from { opacity: 0; }
  to { opacity: 1; }
}

.hidden-filed {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
  &.show {
  display: flex;
  animation: fadeInForm 0.5s forwards;
}
}



@media (max-width: 667px) {
  .form-field-two-column, .form-field-three-column{flex-direction: column;gap: 0rem;}
  .filed-btn-group{width: 100%;}
.let-discuss-form{
    .ld-form {width: 100%;
        .code-sensitive{margin-top: 5px;}
        .reload-captcha{margin-right: 0; margin-top: 0; margin-left: 5px;}
        .form-field-two-column, .form-field-three-column{ flex-direction: column; margin-bottom: 0px;
            input[type=text],input[type=email], select{ width: 100%; margin-bottom: 2rem;}
        }
    }
}
}
@media (max-width: 767px) {
.filter-form{
  .form-row {flex-wrap:wrap;}
}
}
@media (min-width: 768px) {
.filter-form{
    .form-row{flex-direction: row;}
  &.event-filter-form {
    .form-row {
      select,input {
    min-width: 110px;}
    .select-wrapper{max-width: 150px;}
    }

  }
  &.news-filter-form .form-row {
  .select-wrapper{max-width: 280px;}
  select, input{
    min-width: 168px;
  }
}
}
}

@media (min-width: 1200px) {
.filter-form{ 

&.event-filter-form .form-row {
  .select-wrapper{max-width: 265px;}
  select, input{
    min-width: 215px;
  }
  
}
&.news-filter-form .form-row {
  .select-wrapper{max-width: 295px;}
  select, input{
    min-width: 246px;
  }
}
}
}