@use "../base/variables" as v; 
//Why work with Dezan Shira
.section-padding { padding-top: 80px; padding-bottom: 80px;}
.para{color: v.$gray;
    a{color: v.$gray; text-decoration: underline;
        &:hover{text-decoration: none;}
        }
}
.thumb-round{ display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;}

//Why work with Dezan Shira    
.why-work-with-DSA{ background-color: v.$gray-bg; @extend .section-padding; 
    p{@extend .para;margin-bottom: 0; }
    .flex-spacing{ flex-direction: column;}
.dsa-block{width: calc((100%)/1);padding: 1rem;
    margin-top: 2rem;
    border-radius: 2px;
    text-align: center;
   &:hover{
       .icon-block{
        transform: scale(1.1);
       }
       .dsa-block-title{
           h4{color: v.$dsa-bright-blue; 
               a{color: v.$dsa-bright-blue;}
           }
       }
   }
    }
.icon-block{
    height: 5rem;
    width: 5rem;
    @extend .thumb-round;
    background-color: #f2f6fc;
    margin-bottom: 1.5rem;
    transition: transform .5s ease;
    &.yellow-icon{
        background: rgba(255, 203, 49, 0.3);
    }
    &.red-icon{
        background: rgba(237, 28, 36, 0.3);
    }
    &.green-icon{
        background: rgba(26, 150, 73, 0.3);
    }
    &.purple-icon{
        background: rgba(98, 112, 181, 0.3);
    }
}
.dsa-block-title {
    h4{font-size: 18px; font-weight: bold;  color: v.$blue-theme;line-height: 24px;
    a{color: v.$blue-theme;}
    }
}
}
//end

//our servicess
  .our-dsa-services{@extend .section-padding; padding-top: 88px; padding-bottom: 111px;
    .flex-spacing{ flex-direction: column;flex-wrap: wrap;}
    p{@extend .para;margin-bottom: 0; }
    .dsa-services-block{width: calc((100%)/1);padding: 1rem; display: flex; flex-direction: column;
        margin-top: 2rem;
        border-radius: 2px;
        text-align: center;
        &:hover{
            .service-thumb{
                transform: scale(1.1);
            }
            .dsa-block-title{
               a{
                   h4{color: v.$dsa-cyan-blue;}
               }
            }
        }
        p{margin-bottom: 0;}
        .left-thumb-block{ margin-right: 0rem; margin-bottom: 1rem; height: 130px;
            .service-thumb{
                height: 130px;
                width: 130px;
                max-width: max-content;
                @extend .thumb-round;
                transition: transform .5s ease;

            }
        }
        .right-dec-block{
            .dsa-block-title{
                h4{color: v.$dsa-cyan-blue; font-size: 20px; font-weight: bold;
                    a{color: v.$dsa-cyan-blue;}
                }
            }
        }
        }
        .btn { margin-top: 2rem;
            font-weight: 600;
            font-size: 18px;
            padding-left: 2rem;
            padding-right: 2rem;}
}
//end

// Upcoming Events and News by ASEAN Briefing
  .event-asean-news{@extend .section-padding; background-color: v.$gray-bg; padding-top: 125px; padding-bottom: 125px;
    .flex-spacing{ flex-direction: column;}
    .upcoming-events-block{ width: auto;
        ul{margin: 0; list-style: none;
        li{ display: flex; margin-bottom: 1rem; transition: box-shadow .2s ease,transform .2s ease;
            &:last-child{margin-bottom: 0px;} 
            &:hover{
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;cursor: pointer;
            }
            .event-date{ background-color: #E8E8E8; width: 68px; height: auto; padding: 1.5rem 1rem; font-size: 24px; font-weight: bold; line-height: 24px; color: #357DC0; text-align: center; display: flex; justify-content: center; align-items: center; flex-direction: column;
            span{color: v.$gray40; display: block; font-size: 16px;}
            }
            .event-details{display: flex; border: solid 1px #ddd; padding: 1rem 1.5rem; 
                &:hover{ 
                    .details{
                        .event-title{
                            a{color: v.$dsa-bright-blue;}
                        }
                    }  
                }
                .details{  
                .event-title{color: v.$blue-theme; font-weight: 600; line-height: 24px;
                    a{color: v.$blue-theme;
                        &:hover{color: v.$dsa-bright-blue;}
                    }
                }
                .event-schedule{font-size: 12px; color: #666; }
            }
            .tooltip{display: none;}
                .event-speaker{
                    height: 4rem;
                    width: 4rem;
                    max-width: min-content;
                    @extend .thumb-round;
                    background-color: #f2f6fc;
                    border: solid 1px #CDCDCD;}
            }
        }
        }
        .tooltip .tooltiptext{border-radius: 3px; background-color: #373D3F; text-align: left; padding: 1rem 1rem; font-weight: 500; width: 140px;
        small{font-size: 11px;font-weight: normal; color: #afafaf;}
        }
        .tooltip-right{top: -5px;
            left: 125%;
        &:after {
            content: "";
            position: absolute;
            top: 50%;
            right: 100%;
            margin-top: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent #373D3F transparent transparent;
        }
        }
    }
    .briefing-news-section{ width: auto; margin-top: 2rem;
        .briefing-news{display: flex; flex-direction: column;
            .posts { width: auto; margin-right: 0px; height: auto;
                &:hover{
                    .thumbnail{
                        img{transform: scale(1.1);}
                    }                   
                }
                .thumbnail {
                    height: 194px; overflow: hidden;
                    img {
                        width: 100%;
                        min-height: 194px;transition: transform .5s ease;
                    }
                }
                .news-content {
                    padding: 1.5rem 0 1.5rem 0;
                    overflow: hidden;
                    color: v.$black;
                    margin-bottom: 0;
                    p{color: v.$gray40; line-height: 24px; font-size: 16px;  margin: 0; margin-top: 1rem;}
                    h3{font-size: 18px; color: v.$blue-theme;  font-weight: 400;
                    a{color: v.$blue-theme;}
                    }
                }  
            }
            .briefing-news-list{ padding: 0;margin: 0; list-style: none; width: auto;
                li{border-bottom: solid 1px #C4C4C4; padding-top: 1.5rem; padding-bottom: 1.5rem;
                .news-title{font-size: 16px; line-height: 22px; color: v.$blue-theme; 
                a{color: v.$blue-theme}
                }
                &:first-child{padding-top: 0px;}
                &:last-child{border: none;}
                } 
                }
                .briefing-name-label{color: v.$gray40;  margin-top: 1rem; font-size: 15px;}
           }
    }
}
//end
@media screen and (min-width: 767px) {
    //Why work with Dezan Shira 
    .why-work-with-DSA{
        .flex-spacing{ flex-direction: row; flex-wrap: wrap;}
        .dsa-block{width: calc((100% - 85px)/2); text-align:left; }
    }
    //end
    //our servicess
    .our-dsa-services{
        .flex-spacing{ flex-direction: row;}
        .dsa-services-block{width: calc((100% - 90px)/2); flex-direction: column; text-align: left;
            .left-thumb-block{ margin-right: 2rem; }
        }
        //end
    }
      // Upcoming Events and News by ASEAN Briefing
    .event-asean-news{
        .flex-spacing{ flex-direction: column;}
        .upcoming-events-block{ width: auto;
            ul{
                li{
                    .event-details{
                        .tooltip{display: block; margin-left: 2rem;}
                    }
                }
            }
        }
        .briefing-news-section{ width: auto; margin-top: 2rem;
            .briefing-news{ flex-direction: row;
                .posts { width: 345px; margin-right: 30px; height: auto;}
                .briefing-news-list{width: auto;}
            }
    }
  }
  //end
  }
  @media screen and (min-width: 1100px) {
    //our servicess
    .our-dsa-services{
        .dsa-services-block{flex-direction: row; 
            .left-thumb-block{ margin-bottom: 0rem;}
        }
    }
    //end
  }
  @media screen and (min-width: 1167px) {
    //Why work with Dezan Shira 
    .why-work-with-DSA{
        .dsa-block{width: calc((100% - 85px)/4); text-align:left; }
    }
    //end
  }

@media screen and (min-width: 1024px) {
    .event-asean-news{
        .flex-spacing{ flex-direction: row;}
        .upcoming-events-block{ width: 45%;}
        .briefing-news-section{ width: 48%; margin-top: 0rem;
            .briefing-news{ flex-direction: column;
                .posts { margin-right: 0px; } 
            }
    }
  }
}
@media screen and (min-width: 1300px) {
    .event-asean-news{
        .briefing-news-section{ 
            .briefing-news{  flex-direction: row;
                .posts { width: 345px; margin-right: 30px; height: 194px;}
                .briefing-news-list{width: 40%; }
            }
    } 
  }
}
