@use "../base/variables" as v; 

 /* Measuring Asia’s Eight Most Dynamic Emerging Countries*/
 .common-tab-container {
    //width: 90%;
    margin: 0 auto;
    &.studies-insights{width: 100%;}
  }
  .common-tab-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.74rem;
    justify-content: space-evenly;
    //justify-content: center;
    background-color: #f0f6fc;
    //box-shadow: rgba(0, 0, 0, 0.10) 0px 2px 4px;
    //padding: 20px 0;
        position: sticky;
    top: 85px;
   margin: 0; 
   padding: 1.5rem 0;
   list-style: none;
   line-height: normal;
   color: v.$dsa-light-grey;
    
    li{
    //padding: .45rem 1rem;
    //border: 1px solid #ccc;
    //background-color: #fff;
    //border-radius: 25px;
    //font-size: .95rem;
    cursor: pointer;
    //transition: all .3s ease;
        // border-right: solid 1px #DEDEDE;
        // padding-right: 14px;
        // margin-right: 14px;
        // padding-top: 1px;
        // padding-bottom: 1px;
        // &:last-child{border: none; padding-right: 0; margin: 0;}
    }
    
  }
  .common-tab-button {
    padding: 0.6rem 1rem;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 25px;
    font-size: .95rem;
    transition: all .3s ease;
    &.active {
        // color: v.$black;
        // border-bottom: solid 3px v.$cyan-blue-dark;
        // font-weight: bold;
        border-color: #207fd4;
    color: #207fd4;
    font-weight: 700;
      }
      &:hover{
        background-color: #f2f2f2;
      }
  }
  .common-tab-content {
    display: none; 
    padding-top: 2rem;
    p{color: v.$dsa-light-grey;}
    .btn-cta-link{ text-align: right;}
    .dec-heade-title{display: flex; color: v.$black; margin-bottom: 1.5rem; font-weight: 600;
    img{margin-right: 1rem; border-radius: 10px; width: 45px;}
    }

  }
  #tabDropdown {
    display: none; 
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    border: solid 2px v.$cyan-blue-dark;
    border-radius: 5px;
    &:focus{outline:v.$cyan-blue-dark ;}
  }
  .tab-dropdown{ display: none;}
 /* end*/
//v-tab-and-advantages css
.after-content{
  display: inline-block;
  background: url(../img/sprite-all.svg) no-repeat 0 -50px;
  width: 15px;
  height: 10px;
  margin-left: .5rem;
  vertical-align: middle; transform: scale(1.2); 
}

.hidden {display: none;}
@keyframes leftMove {
  0%   { left:0px; top:0px;}
  25%  {left:10px; top:0px;}
  100% {left:0px; top:0px;}
}

.pathfinder{background-color: v.$white; padding-top:0px;
  .c-tab--vertical{ padding-bottom:0px; display: flex;}
  .c-tab__content{
      &.cyber {  
            .c-tab__content__item{
              .c-tab__content__inner{
                opacity: 0;
                transition: opacity 1s ease-in-out;
                background:transparent; 
                  .tab-content-description{
                      p{line-height: 24px; font-size:14px; color:#474747;}
                      .btn {padding: 0.75rem 1rem;font-size: 0.875rem; line-height:1.4;margin-right: 18px; vertical-align:top;}
                     
                  }
              }
          }
      }
  }
  .c-tab__menu{color: v.$dsa-light-grey;
      .c-tab__menu__item{margin-right:0px;padding-left:0px; color:v.$dsa-light-grey;font-weight: bold;
      }
      .c-tab--active{background: v.$white; background-color: v.$white;  color: v.$strong-blue; font-weight: 600;
          span{
              &::after{content: "";
                @extend .after-content;
                  }
          }
          &:hover span:after {content: "";
            @extend .after-content;
              position: relative;
              animation-name: leftMove;
              animation-duration: 0.5s;
              animation-iteration-count: 1;
              }
     
      }
  }
  h2{padding: 0; border: none; color: v.$black;}
}

/*end*/
    .c-tab {
  /* max-width: 1000px; */
  margin: 0 auto;
  max-width: 100%;
  padding-bottom: 1.5rem;
  &__menu {
    display: none;
    &__item {
      position: relative;
      display: flex;
      align-items: center;
      min-height: 60px;
      transition: background 1s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;

      &:first-child {
        border-top: 1px solid rgba(255, 255, 255, 0.2);
      }
      .icon-active {
        transform: scale(0.6);
      }
    }
  }

  &__content {
    &__item {
      @media (min-width: #{v.$mobile-bp-min}) {
        display: flex;
        flex-direction: column;
      }
    }

    &__btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: v.$white;
      padding: 1rem 1rem;
      &:after {
        content: "";
        display: inline-block;
        background: url(../img/sprite-all.svg) no-repeat -150px -50px;
        width: 16px;
        height: 10px;
        transition: transform 0.2s ease;
        margin-left: 10px;
      }
    }

    &__inner {
      display: none;
      padding: 2rem 1.5rem;
      line-height: 1.6;
      background: v.$white;
    }
    &__btn {
      color: v.$black;
      .icon-active {
        transform: scale(0.6);
      }
  }
  }
}

.common-tab-container{
  &.studies-insights{
    .common-tab-buttons{
    box-shadow: none;
    li{border: none;
    .common-tab-button{
      padding: 0.5rem 1rem;
      border: solid 1px #E0E5EB;
      border-radius: 20px;
      color: #333D4C;
      font-weight: v.$font-weight-Medium;
      font-size: 14px;
      &.active, &:hover{
        border: solid 1px #111827; color: #111827; font-weight: v.$font-weight-Medium; background-color: #F5F7FA;
      }
    }
    }
    }
    }
}

@media  only screen and  (max-width: 667px) {
  .pathfinder .c-tab__content.cyber .c-tab__content__item .c-tab__content__btn svg {
    display: none;
  }
  }
@media only screen and  (max-width: 768px){ 
    .pathfinder {
      .c-tab__content{height:auto; background: none !important;
          &.cyber {
              .c-tab__content__item {
                      .c-tab__content__btn{padding: 0px 0; color:v.$dsa-light-grey; line-height: 20px; font-size: 14px;justify-content: space-between;padding: 1rem 1rem;
                        span{display:block; width:80%}
                        .icon-active{transform: scale(0.48);fill: v.$dsa-light-grey;}
                        &:after{background: url(../img/sprite-all.svg) no-repeat -150px -40px;margin-right:10px; margin-left:0;}
                        &:nth-child(2){display: none;}
                    }

                  &.c-tab--active {
                      .c-tab__content__btn{border-radius: 2px; background: #f2f2f2;
                      &:after{
                        transform: translateX(-50%) scale(0.8) rotate(180deg);
                      }
                      }  
                      span{color: #0078d4; font-weight: 600;} 
                  } 
              }
              .c-tab__content__inner{padding-bottom: 0; border-bottom: solid 2px #e2e2e2; margin-bottom:1rem;}
          }
      }
  } 
}
@media only screen and (max-width: 1100px){
  .common-tab-buttons {
    display: none; 
  }
  #tabDropdown {
    display: block;
  }
  .tab-dropdown{display: block;}
}
@media only screen and  (min-width: 768px){
  .c-tab{
    display: flex;
    justify-content: center;
    &__menu{
      width: 25%;
      display: flex;
      flex-direction: column;
    }
    &__content{
      &__item:not(.c-tab--active) {
        display: none;
      }
      &__inner{
        padding: 2rem;
      }
    }
  }
.c-tab__content__btn {
    display:none !important;
}
  .pathfinder{
      .c-tab__content{height: 100%;   max-height: 30rem;width: 563px;
          &.cyber {
              .c-tab__content__inner { padding: 2rem; width:auto; margin: 1.5rem 1.5rem 1.5rem 1.5rem;
                  .tab-content-description  {//width: 400px; 
                   min-height: 130px; margin-left: 0; padding: 1rem; background: rgba(255, 255, 255, 0.93);border-radius: 3px;
                      p{font-size: 14px; margin-bottom: 0;}
                  }
              }
              .c-tab__content__item{min-height: 214px;}
      
          }
      }
      }
}

