@use "../base/variables" as v; 
.tooltip-basic{
	content: "";
	position: absolute;	
	border-width: 5px;
	border-style: solid;
	border-color: transparent v.$black transparent transparent;}
.tooltip {
	position: relative;
	display: inline-block;
	color: v.$black;
	cursor: pointer;
	.tooltiptext {
		visibility: hidden;
		position: absolute;
		width: 120px;
		background-color: v.$black;
		color: v.$white;
		text-align: center;
		padding: 2px 0;
		border-radius: 2px;
		z-index: 1;
		opacity: 0;
		transition: opacity 0.3s;
        font-size: 12px;
		text-transform: initial;

	}
	&:hover {
		.tooltiptext {
			visibility: visible;
			opacity: 1;
		}
	}
&.tp-share{
	.tooltiptext{
		background-color: #efefef;
		display: flex; justify-content: space-between; gap: 1rem; padding: 0.8rem; align-items: center;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
	}
	.tooltip-bottom {
	&::after {
	border-color: transparent #efefef transparent transparent;
	}
		}
	}
}
.tooltip-bottom {
	top: 90%;
	left: 50%;
	margin-left: -60px;
	&::after {
		bottom: 100%;
		left: 50%;
		margin-left: -5px;
		transform: rotate(90deg);
		@extend .tooltip-basic;
	}
}

.tooltip-right {
	top: 6%;
	left: 42px;
	margin-left: 0px;
	&::after {
		bottom: 30%;
		right: 100%;
		margin-top: 20px;
		@extend .tooltip-basic;
	}
}

