
// font Inter
@font-face {
  font-family: "Inter";
  src: 
    url("../fonts/Inter_18pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: 
    url("../fonts/Inter_18pt-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: 
    url("../fonts/Inter_18pt-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: 
    url("../fonts/Inter_18pt-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: 
    url("../fonts/Inter_18pt-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
// font Poppins
@font-face {
  font-family: "Poppins";
  src: 
    url("../fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: 
    url("../fonts/Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: 
    url("../fonts/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: 
    url("../fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
body {
    font-family:  "Inter";
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    padding-top: 85px;
    font-weight: 300;
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    line-height: 1.2;
    //margin-bottom: 0.5rem;
     margin-bottom: 2rem;
  }
  
  h1 { font-size: 2.5rem; }
  h2 { font-size: 2rem; }
  h3 { font-size: 1.75rem; }
  h4 { font-size: 1.5rem; }
  h5 { font-size: 1.25rem; }
  h6 { font-size: 1rem;}
  p {
    //margin-bottom: 1.188rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    word-break: break-word;
  }

  
  a {
    color: #207FD4;
    text-decoration: none;
    transition: color 0.3s ease;
    font-weight: 400;
  
    &:hover {
      color: #0d2844;
    }
  }
  ul, ol{
    margin-left: 1.5rem; margin-bottom:2rem; padding: 0; 
  }
  ul{list-style: disc;}
  ol{list-style:decimal;}
  .text-center { text-align: center; }
  .text-left { text-align: left; }
  .text-right { text-align: right; }
  
  
  blockquote {
    border-left: 4px solid #007bff;
    padding: 0.5rem 1rem;
    font-style: italic;
    color: #666;
  }
  
  code {
    font-family: 'Courier New', monospace;
    background: #f4f4f4;
    padding: 2px 4px;
    border-radius: 4px;
  }
  @media (max-width: 768px) {
    h1 { font-size: 2rem; }
    h2 { font-size: 1.75rem; }
    h3 { font-size: 1.5rem; }
  }
    
  img:focus {
    outline: none;
}