// Variables

// Color syste
$white:    #ffffff !default;
$black:    #000000 !default;
$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #ea2127 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
$gray:    #6c757d !default;
$gray-dark:#343a40 !default;

$success:#198754 !default;
$info:#0dcaf0 !default;
$warning:#ffc107 !default;
$danger:#dc3545 !default;
$light:#f8f9fa !default;
$dark:#212529 !default;

//DSA theme Color
$dsa-dark-blue:#0c2740 !default;
$dsa-medium-blue:#344c71 !default;
$dsa-cyan-blue:#3471b7 !default;
$dsa-bright-blue:#357DC0 !default;
$dsa-yellow:#ffcc32 !default;
$dsa-red:#d2232a !default;
$dsa-green:#1d9649 !default;
$dsa-purple:#636eab !default;
$dsa-light-grey:#58585B !default;
$dsa-dark-grey:#58595b !default;
$dsa-grey:#58595b !default;




$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-900: #212529 !default;


//country page
$gray40:#666666 !default;
$gray:#6D6E71!default;
$gray-bg:#F9F9F9!default;
$font-family-arial:Arial, Helvetica, sans-serif !default;
$blue-theme:#112E41!default;
$cyan-blue-dark:#357DC0!default;
$white-smoke:#F3F3F3!default;

// Grid
$reflex-xs: 576px !default;
$reflex-sm: 768px !default;
$reflex-md: 992px !default;
$reflex-lg: 1200px !default;
$reflex-xlg: 1440px !default;

// icons
$icomoon-font-family: "dsa-icons" !default;
$icomoon-font-path: "/fonts/icons/" !default;

$icon-wechat: "\e924";
$icon-laptop1: "\e914";
$icon-unlocked: "\e915";
$icon-locked: "\e916";
$icon-secure: "\e916";
$icon-lamp: "\e917";
$icon-light: "\e917";
$icon-justice: "\e901";
$icon-settings: "\e918";
$icon-cog: "\e918";
$icon-preferences: "\e918";
$icon-bulb: "\e919";
$icon-lamp1: "\e919";
$icon-idea: "\e919";
$icon-calendar: "\e902";
$icon-date: "\e902";
$icon-schedule: "\e902";
$icon-lightbulb: "\e91a";
$icon-laptop_chromebook: "\e91b";
$icon-location_city: "\e91c";
$icon-users1: "\e91d";
$icon-chevron-down: "\e913";
$icon-twitter-old: "\e900";
$icon-wechat1: "\e925";
$icon-long-arrow-right: "\e91e";
$icon-long-arrow-left: "\e921";
$icon-angle-up: "\e910";
$icon-industry: "\e903";
$icon-bar-chart: "\e904";
$icon-bar-chart-o: "\e904";
$icon-file-text-o: "\e905";
$icon-book: "\e906";
$icon-arrow-circle-o-down: "\e907";
$icon-play-circle: "\e908";
$icon-envelope-open: "\e909";
$icon-envelope: "\e90a";
$icon-laptop: "\e90b";
$icon-minus: "\e911";
$icon-plus: "\e912";
$icon-help-with-circle: "\e90c";
$icon-envelope1: "\e90d";
$icon-arrow-down-alt1: "\e90e";
$icon-download: "\e90e";
$icon-envelope2: "\e90f";
$icon-mail: "\e90f";
$icon-email: "\e90f";
$icon-contact: "\e90f";
$icon-office: "\e922";
$icon-newspaper: "\e923";
$icon-book1: "\e91f";
$icon-books: "\e920";
$icon-file-text2: "\e926";
$icon-copy: "\e92c";
$icon-address-book: "\e944";
$icon-location: "\e947";
$icon-map2: "\e94c";
$icon-calendar1: "\e953";
$icon-display: "\e956";
$icon-bubbles: "\e96c";
$icon-user: "\e971";
$icon-users: "\e972";
$icon-user-tie: "\e976";
$icon-search: "\e986";
$icon-briefcase: "\e9ae";
$icon-cloud-download: "\e9c2";
$icon-sphere: "\e9c9";
$icon-flag: "\e9cc";
$icon-facebook: "\ea90";
$icon-facebook2: "\ea91";
$icon-twitter: "\ea96";
$icon-youtube: "\ea9d";
$icon-youtube2: "\ea9e";
$icon-linkedin: "\eac9";
$icon-linkedin2: "\eaca";