<section class="hero-section">
    <img
      src="/img/hero-expert.webp"
      alt="Talk to an expert"
      width="2000" height="554"
      class="hero-image"/>
    <div class="section-wrapper-min">
    <div class="hero-content">
      <p class="hero-text">
        我们提供专业的咨询和企业服务，帮助企业在复杂多变的市场环境和监管体系中把握方向、稳健前行。
      </p>
      
      <div class="text-btn">
       
          <button class="btn btn-outline-white down-arrow" data-show-on-click="get-in-touch">联系我们</button>
      
        </div>
    </div>
  </div>

  </section>
<section class="let-discuss-form ldform-gray-bg get-in-touch" id="let-discuss-form">
    <div class="section-wrapper">
        <h2>敬请垂询</h2>
        <h3>联系我们的本地专家，我们将在1个工作日内答复。</h3>
        <div class="ld-form">

            <form method="post" action="https://www.dezshira.com/submit_mini_contact" id="contact_form">

    <input type="hidden" name="dsa_contact_token" value="">
<input type="hidden" name="request_uri" value="http://dezshira.in/">
<input type="hidden" name="to" value="info@dezshira.com">

<input type="hidden" class="TokenNameKey" name="csrf_name" value="csrf6894525b4894d">
<input type="hidden" class="TokenValueKey" name="csrf_value" value="02954258d764d759627f298d5f9d1f71">
    <div class="form-field-two-column">
        <input id="fname" type="text" name="fname" placeholder="名" required="">
        <input id="lname" type="text" name="lname" placeholder="姓" required="">
    </div>
    <div class="form-field-two-column">
        <input id="email_address" type="email" name="email_address" placeholder="电子邮件" required="">
        <input id="organization" type="text" name="organization" placeholder="公司" required="">
    </div>

    <div class="form-field-two-column">
        <select class="formSelectOption" id="contact_form_type_service_required" name="type_service_required">
            <option disabled="" selected="">选择服务项目</option>
            <option value="Accounting, Financial Reporting &amp; Review">审计与风险管理咨询</option>
<option value="Audit and Risk Advisory">会计，财务报告与审核</option>
<option value="Corporate Establishment and Governance">公司设立与治理</option>
<option value="Country Benchmarking / Location Selection">跨国对标分析/选址</option>
<option value="Due Diligence">尽职调查</option>
<option value="ESG Sustainability Services">ESG可持续咨询</option>
<option value="HR Global Mobility PEO / EOR">人力资源：国际派遣、专业雇主服务（PEO）、名义雇主服务（EOR）</option>
<option value="HR Advisory and Payroll">人力资源咨询与薪酬管理</option>
<option value="HR Payroll Software">人力资源：薪酬管理软件</option>
<option value="HR Visa &amp; Work Permits">人力资源：签证与工作许可</option>
<option value="Intellectual Property">知识产权</option>
<option value="Joint Ventures and Match making">合资公司与商业对接</option>
<option value="Legal Services">法务服务</option>
<option value="M&amp;A - asiamerger portal">并购 - asiamerger</option>
<option value="Market Research &amp; Business Intelligence">市场调研与商业智能</option>
<option value="Mergers and Acquisitions">并购咨询</option>
<option value="Recruitment">招聘服务</option>
<option value="Tax Advisory &amp; Planning">税务咨询与筹划</option>
<option value="Tax International &amp; Transfer Pricing">国际税与转让定价</option>
<option value="Technology, Cyber / Data Privacy">信息技术，网络/数据安全</option>
<option value="Technology, IT and ERP Services">信息技术与ERP服务</option>
<option value="Other">其他</option>
<option value="Other, Journalist Comment or Quote">其他，媒体采访或内容引用</option>
<option value="Other, Asia Briefing Media/Ad Placement">其他，亚洲简报（Asia Briefing）媒体问询/刊登广告</option>
        </select>
        <select class="formSelectOption" id="contact_form_investment_destination" name="investment_destination">
            <option disabled="" selected="">选择区域</option>
            <option value="Bangladesh">孟加拉国</option>
<option value="China">中国</option>
<option value="Hong Kong SAR">香港特别行政区</option>
<option value="India">印度</option>
<option value="Indonesia">印度尼西亚</option>
<option value="Israel">以色列</option>
<option value="Japan">日本</option>
<option value="Malaysia">马来西亚</option>
<option value="Mongolia">蒙古</option>
<option value="Philippines">菲律宾</option>
<option value="Russia">俄罗斯</option>
<option value="Singapore">新加坡</option>
<option value="South Korea">韩国</option>
<option value="Thailand">泰国</option>
<option value="Turkiye">土耳其</option>
<option value="United Arab Emirates">阿联酋</option>
<option value="Vietnam">越南</option>
        </select>
    </div>


    <div class="form-field-one-column">
        <select id="contact_form_country" name="country">
            <option selected="" value="">选择您的国家</option>
            <option value="Belt &amp; Road Initiative">一带一路倡议</option>
<option value="Afghanistan, Islamic State">阿富汗伊斯兰国</option>
<option value="Åland Islands">奥兰群岛</option>
<option value="Albania">阿尔巴尼亚</option>
<option value="Algeria">阿尔及利亚</option>
<option value="American Samoa">美属萨摩亚</option>
<option value="Andorra, Principality of">安道尔公国</option>
<option value="Angola">安哥拉</option>
<option value="Anguilla">安圭拉</option>
<option value="Antarctica">南极洲</option>
<option value="Antigua and Barbuda">安提瓜和巴布达</option>
<option value="Argentina">阿根廷</option>
<option value="Armenia">亚美尼亚</option>
<option value="Aruba">阿鲁巴</option>
<option value="Australia">澳大利亚</option>
<option value="Austria">奥地利</option>
<option value="Azerbaijan">阿塞拜疆</option>
<option value="Bahamas">巴哈马</option>
<option value="Bahrain">巴林</option>
<option value="Bangladesh">孟加拉国</option>
<option value="Barbados">巴巴多斯</option>
<option value="Belarus">白俄罗斯</option>
<option value="Belgium">比利时</option>
<option value="Belize">伯利兹</option>
<option value="Benin">贝宁</option>
<option value="Bermuda">百慕大</option>
<option value="Bhutan">不丹</option>
<option value="Bolivia">玻利维亚</option>
<option value="Bosnia-Herzegovina">波斯尼亚和黑塞哥维那</option>
<option value="Botswana">博茨瓦纳</option>
<option value="Bouvet Island">布韦岛</option>
<option value="Brazil">巴西</option>
<option value="British Indian Ocean Terr.">英属印度洋领地</option>
<option value="Brunei Darussalam">文莱达鲁萨兰国</option>
<option value="Bulgaria">保加利亚</option>
<option value="Burkina Faso">布基纳法索</option>
<option value="Burundi">布隆迪</option>
<option value="Cambodia, Kingdom of">柬埔寨王国</option>
<option value="Cameroon">喀麦隆</option>
<option value="Canada">加拿大</option>
<option value="Cape Verde">佛得角</option>
<option value="Cayman Islands">开曼群岛</option>
<option value="Central African Republic">中非共和国</option>
<option value="Chad">乍得</option>
<option value="Chile">智利</option>
<option value="China">中国</option>
<option value="Taiwan">台湾</option>
<option value="Christmas Island">圣诞岛</option>
<option value="Cocos (Keeling) Islands">科科斯（基林）群岛</option>
<option value="Colombia">哥伦比亚</option>
<option value="Comoros">科摩罗</option>
<option value="Congo">刚果</option>
<option value="Cook Islands">库克群岛</option>
<option value="Costa Rica">哥斯达黎加</option>
<option value="Croatia">克罗地亚</option>
<option value="Cuba">古巴</option>
<option value="Curaçao">库拉索</option>
<option value="Cyprus">塞浦路斯</option>
<option value="Czech Republic">捷克共和国</option>
<option value="Congo, Democratic Republic">刚果（金）</option>
<option value="Denmark">丹麦</option>
<option value="Djibouti">吉布提</option>
<option value="Dominica">多米尼克</option>
<option value="Dominican Republic">多米尼加共和国</option>
<option value="Timor-Leste">Timor-Leste</option>
<option value="Ecuador">厄瓜多尔</option>
<option value="Egypt">埃及</option>
<option value="El Salvador">萨尔瓦多</option>
<option value="Equatorial Guinea">赤道几内亚</option>
<option value="Eritrea">厄立特里亚</option>
<option value="Estonia">爱沙尼亚</option>
<option value="Ethiopia">埃塞俄比亚</option>
<option value="Falkland Islands">福克兰群岛</option>
<option value="Faroe Islands">法罗群岛</option>
<option value="Fiji">斐济</option>
<option value="Finland">芬兰</option>
<option value="France">法国</option>
<option value="French Guyana">法属圭亚那</option>
<option value="French Polynesia">法属波利尼西亚</option>
<option value="French Southern Territories">法属南部领地</option>
<option value="Gabon">加蓬</option>
<option value="Gambia">冈比亚</option>
<option value="Georgia">格鲁吉亚</option>
<option value="Germany">德国</option>
<option value="Ghana">加纳</option>
<option value="Gibraltar">直布罗陀</option>
<option value="Greece">希腊</option>
<option value="Greenland">格陵兰</option>
<option value="Grenada">格林纳达</option>
<option value="Guadeloupe (French)">瓜德罗普（法属）</option>
<option value="Guam (USA)">关岛（美国）</option>
<option value="Guatemala">危地马拉</option>
<option value="Guernsey">根西岛</option>
<option value="Guinea">几内亚</option>
<option value="Guinea Bissau">几内亚比绍</option>
<option value="Guyana">圭亚那</option>
<option value="Haiti">海地</option>
<option value="Heard and McDonald Islands">赫德岛和麦克唐纳群岛</option>
<option value="Holy See (Vatican City)">梵蒂冈（教廷）</option>
<option value="Honduras">洪都拉斯</option>
<option value="Hong Kong SAR">香港特别行政区</option>
<option value="Hungary">匈牙利</option>
<option value="Iceland">冰岛</option>
<option value="India">印度</option>
<option value="Indonesia">印度尼西亚</option>
<option value="Iran">伊朗</option>
<option value="Iraq">伊拉克</option>
<option value="Ireland">爱尔兰</option>
<option value="Isle of Man">马恩岛</option>
<option value="Israel">以色列</option>
<option value="Italy">意大利</option>
<option value="Ivory Coast (Cote D'Ivoire)">象牙海岸（科特迪瓦）</option>
<option value="Jamaica">牙买加</option>
<option value="Japan">日本</option>
<option value="Jersey">泽西岛</option>
<option value="Jordan">约旦</option>
<option value="Kazakhstan">哈萨克斯坦</option>
<option value="Kenya">肯尼亚</option>
<option value="Kiribati">基里巴斯</option>
<option value="Kuwait">科威特</option>
<option value="Kyrgyz Republic (Kyrgyzstan)">吉尔吉斯共和国（吉尔吉斯斯坦）</option>
<option value="Laos">老挝</option>
<option value="Latvia">拉脱维亚</option>
<option value="Lebanon">黎巴嫩</option>
<option value="Lesotho">莱索托</option>
<option value="Liberia">利比里亚</option>
<option value="Libya">利比亚</option>
<option value="Liechtenstein">列支敦士登</option>
<option value="Lithuania">立陶宛</option>
<option value="Luxembourg">卢森堡</option>
<option value="Macau SAR">澳门特别行政区</option>
<option value="Macedonia">马其顿</option>
<option value="Madagascar">马达加斯加</option>
<option value="Malawi">马拉维</option>
<option value="Malaysia">马来西亚</option>
<option value="Maldives">马尔代夫</option>
<option value="Mali">马里</option>
<option value="Malta">马耳他</option>
<option value="Marshall Islands">马绍尔群岛</option>
<option value="Martinique">马提尼克</option>
<option value="Mauritania">毛里塔尼亚</option>
<option value="Mauritius">毛里求斯</option>
<option value="Mayotte">马约特</option>
<option value="Mexico">墨西哥</option>
<option value="Micronesia">密克罗尼西亚</option>
<option value="Moldavia">摩尔多瓦</option>
<option value="Monaco">摩纳哥</option>
<option value="Mongolia">蒙古</option>
<option value="Montenegro">黑山</option>
<option value="Montserrat">蒙特塞拉特</option>
<option value="Morocco">摩洛哥</option>
<option value="Mozambique">莫桑比克</option>
<option value="Myanmar">缅甸</option>
<option value="Namibia">纳米比亚</option>
<option value="Nauru">瑙鲁</option>
<option value="Nepal">尼泊尔</option>
<option value="Netherlands">荷兰</option>
<option value="New Caledonia (French)">新喀里多尼亚（法国）</option>
<option value="New Zealand">新西兰</option>
<option value="Nicaragua">尼加拉瓜</option>
<option value="Niger">尼日尔</option>
<option value="Nigeria">尼日利亚</option>
<option value="Niue">纽埃</option>
<option value="Norfolk Island">诺福克岛</option>
<option value="North Korea">北朝鲜</option>
<option value="Northern Mariana Islands">北马里亚纳群岛</option>
<option value="Norway">挪威</option>
<option value="Oman">阿曼</option>
<option value="Other">其他</option>
<option value="Pakistan">巴基斯坦</option>
<option value="Palau">帕劳</option>
<option value="Palestine, State of">巴勒斯坦</option>
<option value="Panama">巴拿马</option>
<option value="Papua New Guinea">巴布亚新几内亚</option>
<option value="Paraguay">巴拉圭</option>
<option value="Peru">秘鲁</option>
<option value="Philippines">菲律宾</option>
<option value="Pitcairn Island">皮特凯恩群岛</option>
<option value="Poland">波兰</option>
<option value="Portugal">葡萄牙</option>
<option value="Puerto Rico">波多黎各</option>
<option value="Qatar">卡塔尔</option>
<option value="Reunion (French)">留尼汪（法国）</option>
<option value="Romania">罗马尼亚</option>
<option value="Russia">俄罗斯</option>
<option value="Rwanda">卢旺达</option>
<option value="S. Georgia &amp; S. Sandwich Is.">南乔治亚岛与南桑威奇群岛</option>
<option value="Saint Barthélemy">圣巴特岛</option>
<option value="Saint Helena">圣赫勒拿岛</option>
<option value="Saint Kitts &amp; Nevis Anguilla">圣基茨和尼维斯安圭拉</option>
<option value="Saint Lucia">圣卢西亚</option>
<option value="Saint Martin">圣马丁岛</option>
<option value="Saint Pierre and Miquelon">圣皮埃尔和密克隆岛</option>
<option value="Saint Tome (Sao Tome)">圣多美（圣多美和普林西比）</option>
<option value="Saint Vincent &amp; Grenadines">圣文森特和格林纳丁斯</option>
<option value="Samoa">萨摩亚</option>
<option value="San Marino">圣马力诺</option>
<option value="Saudi Arabia">沙特阿拉伯</option>
<option value="Senegal">塞内加尔</option>
<option value="Serbia">塞尔维亚</option>
<option value="Seychelles">塞舌尔</option>
<option value="Sierra Leone">塞拉利昂</option>
<option value="Singapore">新加坡</option>
<option value="Slovak Republic">斯洛伐克共和国</option>
<option value="Slovenia">斯洛文尼亚</option>
<option value="Solomon Islands">所罗门群岛</option>
<option value="Somalia">索马里</option>
<option value="South Africa">南非</option>
<option value="South Korea">韩国</option>
<option value="South Sudan">南苏丹</option>
<option value="Spain">西班牙</option>
<option value="Sri Lanka">斯里兰卡</option>
<option value="Sudan">苏丹</option>
<option value="Suriname">苏里南</option>
<option value="Svalbard and Jan Mayen Is.">斯瓦尔巴群岛和扬马延岛</option>
<option value="Swaziland">斯威士兰</option>
<option value="Sweden">瑞典</option>
<option value="Switzerland">瑞士</option>
<option value="Syria">叙利亚</option>
<option value="Tajikistan">Tajikistan</option>
<option value="Tanzania">坦桑尼亚</option>
<option value="Thailand">泰国</option>
<option value="Togo">多哥</option>
<option value="Tokelau">托克劳</option>
<option value="Tonga">汤加</option>
<option value="Trinidad and Tobago">特立尼达和多巴哥</option>
<option value="Tunisia">突尼斯</option>
<option value="Turkiye">土耳其</option>
<option value="Turkmenistan">土库曼斯坦</option>
<option value="Turks and Caicos Islands">特克斯和凯科斯群岛</option>
<option value="Tuvalu">图瓦卢</option>
<option value="Uganda">乌干达</option>
<option value="Ukraine">乌克兰</option>
<option value="United Arab Emirates">阿联酋</option>
<option value="United Kingdom">英国</option>
<option value="United States">美国</option>
<option value="Uruguay">乌拉圭</option>
<option value="USA Minor Outlying Islands">美国本土外小岛</option>
<option value="Uzbekistan">乌兹别克斯坦</option>
<option value="Vanuatu">瓦努阿图</option>
<option value="Venezuela">委内瑞拉</option>
<option value="Vietnam">越南</option>
<option value="Virgin Islands (British)">英属维尔京群岛</option>
<option value="Virgin Islands (USA)">美属维尔京群岛</option>
<option value="Wallis and Futuna Islands">瓦利斯和富图纳群岛</option>
<option value="Western Sahara">西撒哈拉</option>
<option value="Yemen">也门</option>
<option value="Yugoslavia (former)">南斯拉夫（前）</option>
<option value="Zambia">赞比亚</option>
<option value="Zimbabwe">津巴布韦</option>
<option value="ASEAN Region">非洲东南亚国家联盟地区</option>
        </select>
    </div>
    <div class="form-field-one-column">
        <textarea id="comments" name="comments" placeholder="留言" rows="4" cols="50"></textarea>
    </div>
    <div class="form-field-one-column codecs">
        <div class="security-Check-code">
            <input class="form-control" id="captcha_code" name="captcha_code" type="text" placeholder="验证码">
            <div class="security-Check"><img id="siimage_popup" src="" alt="captcha image" class="loadCaptchaImage"></div>
        </div>
        <div class="code-sensitive"><small class="reload-captcha" id="reload_captcha" data-captcha-reload="">
                <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="m3.508 6.726c1.765-2.836 4.911-4.726 8.495-4.726 5.518 0 9.997 4.48 9.997 9.997 0 5.519-4.479 9.999-9.997 9.999-5.245 0-9.553-4.048-9.966-9.188-.024-.302.189-.811.749-.811.391 0 .715.3.747.69.351 4.369 4.012 7.809 8.47 7.809 4.69 0 8.497-3.808 8.497-8.499 0-4.689-3.807-8.497-8.497-8.497-3.037 0-5.704 1.597-7.206 3.995l1.991.005c.414 0 .75.336.75.75s-.336.75-.75.75h-4.033c-.414 0-.75-.336-.75-.75v-4.049c0-.414.336-.75.75-.75s.75.335.75.75z" fill-rule="nonzero"></path>
                </svg></small></div>
    </div>
    <div class="form-field-one-column">
        <label class="form-check-input" for="contact_form_agree_privary_policy">
            <input type="checkbox" name="agree_privary_policy" id="contact_form_agree_privary_policy" data-privacy=""><span>提交此表单即表示我同意接收来自协力管理咨询的相关信息。我已阅读隐私政策，并了解我的个人信息可能会被跨境传输。</span>
        </label>
    </div>

    <div>
        <div id="contact_form_loading" class="text-center" style="display:none;" data-loading=""> 提交中，请稍后...</div>
        <div id="contact_form_message" class="text-center" data-message=""></div>
    </div>

    <div class="text-center">
        <input type="submit" value="提交">
    </div>
</form>

        </div>
    </div>
</section>
  