<section class="hero-section">
    <img
      src="/img/hero-expert.webp"
      alt="Talk to an expert"
      width="2000" height="554"
      class="hero-image"
    />
    <div class="section-wrapper">
    <div class="hero-content">
      <p class="hero-text">
        We provide expert advisory and corporate services across Asia, guiding
        businesses through complex markets and regulations.
      </p>
      <div class="text-btn"><a href="https://www.dezshira.com/contact" class="btn btn-primary">Talk to an expert</a></div>
    </div>
  </div>

  </section>
  