<div class="section-wrapper section-top-bottom-padding">
    <h2 class="heading-second text-center">Register for Our Expert-Led Sessions</h2>
    <h3 class="heading-third text-center mb-3">Stay Ahead with Us</h3>

    <div class="sessions-wrapper ">
        <div class="left-column">
            <div class="session-card">
                <div class="image-container">
                    <img src="/img/span-thubnail.webp" alt="Seville, Spain" class="session-image">
                    <div class="date-badge">
                        <span>April</span>
                        <strong>10</strong>
                    </div>
                </div>
                <div class="conference-details">
                    <div class="conference-type">Conference</div>
                    <h3 class="conference-title"><a href="#" target="_blank">Meet with Alberto Vetteretti at LEA European Regional Conference & Private Equity Panel Discussion</a></h3>
                    <p class="conference-description">In this session, our panel will share their experiences and approaches in the Private Equity landscape. You will hear perspectives from the UK, US and Asia. By the end of this...</p>
                    <a href="#" class="text-cta-link">
                        Register
                        <span class="arrow-anim"></span>
                      </a>
                </div>
            </div>
        </div>

        <div class="right-column">
            <div class="session-card-right">
                <div class="date-right">
                    <span>Apr</span>
                    <strong>19</strong>
                </div>
                <div class="session-info">
                    <div class="session-type-right">Seminar</div>
                    <h3 class="session-title-right"><a href="#" target="_blank">Decoding Singapore's Budget 2025: Implications for Foreign Businesses and Investors</a></h3>
                    <span class="location-badge-right">SINGAPORE</span>
                </div>
            </div>

            <div class="session-card-right">
                <div class="date-right">
                    <span>Apr</span>
                    <strong>12</strong>
                </div>
                <div class="session-info">
                    <div class="session-type-right">Webinar</div>
                    <h3 class="session-title-right"><a href="#" target="_blank">Tax and Accounting In China's Digital Era: Practical Strategies for Business Advancement</a></h3>
                    <span class="location-badge-right badge-cb">CHINA</span>
                </div>
            </div>

            <div class="session-card-right">
                <div class="date-right">
                    <span>Apr</span>
                    <strong>11</strong>
                </div>
                <div class="session-info">
                    <div class="session-type-right">Seminar/Hybrid Event</div>
                    <h3 class="session-title-right"><a href="#" target="_blank">Vietnam 2025: Latest FDI Updates, Key Market Trends & Economic Outlook...</a></h3>
                    <span class="location-badge-right badge-vb">VIETNAM</span>
                </div>
            </div>
            
            <a href="#" class="text-cta-link">
                All Virtual and In-Person Events
                <span class="arrow-anim"></span>
              </a>
        </div>
    </div>

    
</div>