<section class="news-section section-top-bottom-padding">
    <div class="news-featured">
      <div class="news-image">
      <img src="/img/news-thumbnail.webp" height="290" width="536" alt="ASEAN Director Summit"/></div>
      <h3 class="news-title"><a href="https://www.dezshira.com/updates/2025/01/asean-director-addresses-south-china-indonesia-summit-in-shenzhen.html" target="_blank">ASEAN Director Addresses South China–Indonesia Summit in Shenzhen</a></h3>
      <p class="news-description">
        On January 17, Marco Förster, ASEAN Director at Dezan Shira & Associates, participated remotely in the
        “Expert’s Briefing on Indonesia and Southern China Future Trajectory,” an event hosted by the Consulate General
        of Indonesia in Guangzhou.
      </p>
    </div>
  
    <div class="news-list">
      <h2 class="heading-second">Dezan Shira News</h2>
  
      <div class="news-item">
        <span class="news-date">May 12, 2025</span>
        <p class="news-snippet"><a href="https://www.dezshira.com/updates/2025/05/dezan-shira-associates-india-meets-chilean-ambassador-new-delhi-india-chile-trade-and-cepa-progress.html" target="_blank">Dezan Shira &amp; Associates India Team Meets Chilean Ambassador in New Delhi to Discuss India-Chile Trade and CEPA Progress</a></p>
      </div>
  
      <div class="news-item">
        <span class="news-date">May 9, 2025</span>
        <p class="news-snippet"><a href="https://www.dezshira.com/updates/2025/05/dezan-shira-associates-joins-investment-workshop-for-chinese-delegation-in-phu-tho-province.html" target="_blank">Dezan Shira & Associates Joins Investment Workshop for Chinese Delegation in Phu Tho Province</a></p>
      </div>
  
      <div class="news-item">
        <span class="news-date">April 1, 2025</span>
        <p class="news-snippet"><a href="https://www.dezshira.com/updates/2025/04/ankur-munjal-shares-insights-on-strengthening-india-chile-trade-relations.html" target="_blank">Ankur Munjal Shares Insights on Strengthening India-Chile Trade Relations at Chile Pacific Foundation Webinar</a></p>
      </div>
      <a href="https://www.dezshira.com/updates/" class="text-cta-link">
        View All News
        <span class="arrow-anim"></span>
      </a>
    </div>
  </section>
  