<div class="section-wrapper pt-6 our-services">
    <div class="card-grid">
        <div class="card-horizontal">
            <div class="card-image-container">
                <img src="/img/Growth-In-Asia.webp" width="674" height="538" alt="Growth In Asia" class="country-image">
            </div>
            <div class="card-body">
                <h3 class="heading-second">Our Services</h3>
                <p class="card-text">We provide innovative, tailored advisory solutions and expert guidance on corporate services to help businesses thrive in dynamic global markets.</p>
                <div class="toggleBtn-dropdown">
                    <button class="toggleBtn-dropdown-button">Choose Country</button>
                    <div class="toggleBtn-dropdown-menu">
                      <a href="#" class="active" data-img="/img/Growth-In-Asia.webp" data-imagechangeclick=".country-image"  datashowonclick=".service-left[data-country='china']">China</a>
                      <a href="#" data-imagechangeclick=".country-image"  datashowonclick=".service-left[data-country='hongkong']" data-img="/img/trend2.webp">Hong Kong</a>
                      <a href="#" data-imagechangeclick=".country-image"  datashowonclick=".service-left[data-country='india']" data-img="/img/trend3.jpg">India</a>
                    </div>
                  </div>
                <ul class="service-left show" data-country="china">
                <li><a href="https://www.dezshira.com/services/accounting-reporting">Accounting</a></li>
                <li><a href="https://www.dezshira.com/services/audit-financial-review">Audit and Financial Review</a></li>
                <li><a href="https://www.dezshira.com/services/business-advisory-services">Business Advisory</a></li>
                <li><a href="https://www.dezshira.com/services/business-intelligence-solutions">Business Intelligence</a></li>
                <li><a href="https://www.dezshira.com/cn/services/outbound-direct-investment">China Outbound | 境外直接投资</a></li>
                <li><a href="https://www.dezshira.com/services/business-advisory-services/corporate-establishment">Corporate Establishment</a></li>
                <li><a href="https://www.dezshira.com/services/payroll-human-resource-administration">HR and Payroll</a></li>
                <li><a href="https://www.dezshira.com/services/business-advisory/mergers-acquisitions-services">Mergers and Acquisitions</a></li>
                <li><a href="https://www.dezshira.com/services/risk-management-compliance">Risk Management and ESG</a></li>
                <li><a href="https://www.dezshira.com/services/tax">Tax</a></li>
                <li><a href="https://www.dezshira.com/services/information-technology-solutions">Technology</a></li>
                  </ul>

                  <ul class="service-left" data-country="hongkong">
                    <li><a href="https://www.dezshira.com/services/audit-financial-review#Financial%20Statement%20Audits">Financial Statement Audits</a></li>
                    <li><a href="https://www.dezshira.com/services/audit-financial-review#Financial%20Reviews%20and%20Advisory">Financial Reviews and Advisory</a></li>
                    <li><a href="https://www.dezshira.com/services/audit-financial-review#Yearly%20Statutory%20Audits">Yearly Statutory Audits</a></li>
                    <li><a href="https://www.dezshira.com/services/business-advisory-services#Commercial Advisory">Commercial Advisory</a></li>
                    <li><a href="https://www.dezshira.com/services/business-advisory-services#Contract Advisory">Contract Advisory</a></li>
                    <li><a href="https://www.dezshira.com/services/business-advisory/intellectual-property-advisory">Intellectual Property</a></li>
                    <li><a href="https://www.dezshira.com/services/business-advisory-services#International Expansion">International Expansion</a></li>
                    <li><a href="https://www.dezshira.com/services/business-advisory-services#Labor and Employment Advisory">Labor and Employment Advisory </a></li>
                    <li><a href="https://www.dezshira.com/services/business-intelligence/cross-country-competitiveness-benchmarking">Cross Country Benchmarking</a></li>
                    <li><a href="https://www.dezshira.com/services/business-intelligence/location-analysis-site-selection">Location Analysis and Site Selection</a></li>
                    <li><a href="https://www.dezshira.com/landing/market-entry">Market Entry Strategy</a></li>
                  </ul>

                  <ul class="service-left" data-country="india">
                    <li> <a href="https://www.dezshira.com/services/business-advisory-services/corporate-establishment#Corporate%20Governance%20and%20Compliance">Corporate Governance</a></li>
                    <li><a href="https://www.dezshira.com/services/business-advisory-services/corporate-establishment#Corporate%20Structuring">Corporate Structuring</a></li>
                    <li> <a href="https://www.dezshira.com/services/business-advisory-services/corporate-secretarial-service">Corporate Secretarial  </a></li>
                    <li> <a href="https://www.dezshira.com/services/business-advisory-services/corporate-establishment">Nominee Director </a></li>
                    <li> <a href="https://www.dezshira.com/services/outbound-direct-investment">Outbound Direct Investment </a></li>
                    <li><a href="https://www.dezshira.com/services/payroll-human-resource-administration/global-staffing-solutions">Professional Employer Organization</a></li>
                    <li><a href="https://www.dezshira.com/services/legal-financial-due-diligence">Due Diligence</a></li>
                    <li><a href="https://www.dezshira.com/services/business-advisory/mergers-acquisitions-services#Initial%20Offer%20and%20Negotiation">Initial Offer and Negotiation</a></li>
                    <li><a href="https://www.dezshira.com/services/business-advisory/mergers-acquisitions-services#Post-Merger%20Integration">Post-Merger Integration</a></li>
                    <li><a href="https://www.dezshira.com/services/business-advisory/mergers-acquisitions-services#Signing%20and%20Deal%20Closing">Signing and Deal Closing</a></li>
                    <li><a href="https://www.dezshira.com/services/business-advisory/mergers-acquisitions-services#Target%20Research%20and%20Identification">Target Research and Identification</a></li>
                  </ul>
                  <a href="https://www.dezshira.com/personnel/tag/china-beijing" class="text-cta-link">
                    Connect with a China Expert
                    <span class="arrow-anim"></span>
                  </a>
            </div>
        </div>
    </div>
</div>