<div class="section-wrapper section-top-padding">
    <h2 class="heading-second text-center">Perspectives and Trends</h2>
    <h3 class="heading-third text-center mb-3">Our latest thinking, designed to keep you informed on key market trends</h3>
    <div class="card-grid">
        <div class="card card-horizontal">
            <div class="card-body pl-3">
                <h3 class="card-title"><a href="#" target="_blank">Vietnam and China Manufacturing: Key Comparisons For Business Strategies</a></h3>
                <p class="card-text">Vietnam is a cost-effective, strategic "China Plus One" manufacturing hub, with low labor costs, rising tech investment, and favorable trade conditions.</p>
                <div class="card-buttons"><a href="#" class="card-btn card-btn-blue">Read More</a></div>
            </div>
            <div class="card-image-container">
                <img src="/img/trend1.webp" alt="Factory at Night" class="card-image">
            </div>
        </div>

        <div class="card card-horizontal">
            <div class="card-image-container">
                <img src="/img/trend1.webp" alt="#" class="card-image doing-business">
            </div>
            <div class="card-body">
                <h3 class="card-title"><a href="#" target="_blank">Explore Doing Business in Asia</a></h3>
                <p class="card-text">This guide offers key economic, geographic, and regulatory insights to help investors, managers, and expats navigate business in India.</p>
                <div class="card-buttons">
                  <a href="#" class="card-btn active" data-imageChangeClick=".card-image.doing-business" data-img="/img/trend1.webp">China</a>
                  <a href="#" class="card-btn" data-imageChangeHover=".card-image.doing-business" data-img="/img/trend2.webp">Hong Kong</a>
                    <a href="#" class="card-btn" data-imageChangeHover=".card-image.doing-business" data-img="/img/trend3.jpg">India</a>
                    <a href="#" class="card-btn" data-imageChangeHover=".card-image.doing-business" data-img="/img/trend4.jpg">Vietnam</a>
                    <a href="#" class="card-btn" data-imageChangeHover=".card-image.doing-business" data-img="/img/trend5.jpg">Singapore</a>
                    <a href="#" class="card-btn" data-imageChangeHover=".card-image.doing-business" data-img="/img/trend6.jpg">Indonesia</a>
                    <a href="#" class="card-btn" data-imageChangeHover=".card-image.doing-business" data-img="/img/trend7.jpg">UAE</a>
                    <div class="toggleBtn-dropdown">
                        <button class="toggleBtn-dropdown-button card-btn">Others</button>
                        <div class="toggleBtn-dropdown-menu">
                          <a href="#" target="_blank">China</a>
                          <a href="#" target="_blank">India</a>
                          <a href="#" target="_blank">Vietnam</a>
                          <a href="#" target="_blank">Indonesia</a>
                          <a href="#" target="_blank">Singapore</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>