<div class="section-wrapper section-top-padding">
    <div class="card-grid">
        <div class="card-horizontal">
            <div class="card-body">
                <h3 class="heading-second">Who We Are</h3>
                <p class="card-text">With over 30 years of expertise, Dezan Shira & Associates is a pan-Asia, multi-disciplinary professional services firm, guiding international investors and businesses through Asia's complex regulatory landscape with corporate, professional, and technology services essential for growth.</p>
                <section class="counter-section">
                    <div class="counter-box">
                        <span class="counter" data-target="600" data-speed="2000">0+</span>
                      <h3>professionals</h3>
                    </div>
                    <div class="counter-box">
                        <span class="counter" data-target="35" data-speed="2000">0</span>
                      <h3>offices</h3>
                      
                    </div>
                    <div class="counter-box">
                        <span class="counter" data-target="21" data-speed="2000">0</span>
                      <h3>countries</h3>
                     
                    </div>
                  </section>
                <a href="https://www.dezshira.com/success-stories/brochures" class="btn btn-primary">Download Brochure</a>
                
            </div>
            <div class="card-image-container">
              <div class="video-container" data-state="initial">
              <video id="whoWeareVideo" poster="/img/who-we-are-video-cover.webp">
                <source src="https://dp3rhc3eohw2j.cloudfront.net/Distribute/jwp1/2017/Introducing+Dezan+Shira+%26+Associates+2017/DSu3Pgpc/720p.mp4 " type="video/mp4" />
                Your browser does not support HTML5 video.
              </video>
              <div class="video-overlay">
                <div class="play-button">&#9658;</div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>