@use "../base/variables" as v;

//add home page progress bar counter
  .splide-progress-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: white;
  //bottom: 8%;
    bottom: 9.5%;
    top: inherit;
    right: 0;
    left: 240px;
    max-width: 1220px;
    margin: 0 auto;
    position: absolute;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 400;
}

.progress-bar {
  width: 60px;
  height: 4px;
  background-color: #123456;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.progress-fill {
  height: 100%;
  background-color: #ccc;
  width: 0%;
  border-radius: 4px;
  transition: width 0.3s ease;
}
.current-index, .total-count{display: none;}
//expand trending insights  
.expand-content {
    overflow: hidden;
    max-height: 93px;
    padding-left: 2rem;
    transition: max-height 0.4s ease, padding 0.4s ease;
    &.open {
        max-height: 300px;
        padding-top: 0.5rem;
      }

  }
  .expand-toggle {
    color: v.$white;
    cursor: pointer;
    text-align: center;
    position: absolute;
    left: 24px;
    bottom: 10px;
    border: solid 1px v.$white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    .icon {
        font-size: 15px;
        transition: transform 0.3s;
        //line-height: 5px;
        display: flex;
        font-family: 'Inter';
        font-weight: 300; 
        height: 18px;
        left: 22%;
        top: 46%;
        position: absolute;
        transform: translateY(-51%);
        justify-content: center;
        align-items: center;
      }
  }
  .trending-insights {
  position: absolute;
  bottom: 0%;
  color: v.$black;
  z-index: 10;
  animation: fadeInUp 1s ease-in-out;
  display: flex;
  min-height: 100px;
    max-width: 720px; right:-80px;background-color: rgb(12, 39, 65, 40%);
    transition: max-height 0.4s ease;
    &.open {
        max-height: 300px;
      }
      &:after {
        content: "";
        display: block;
        position: absolute;
        background: #fff;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        z-index: -1;
  }
  &:after{ background-color: rgb(12, 39, 65, 40%)}
    .ti-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    margin: 1.5rem 0 0 0;
    padding: 0;
    font-size: 15px;
    line-height: 23px;

    li {
      margin-bottom: 1.5rem; padding: 0 1.5rem 0rem 1.5rem;
      border-right: solid 1px v.$strong-blue;

      &:last-child {
        border: none;
      }

      a{  color: #fff;
display: -webkit-box;
-webkit-line-clamp: 3; 
-webkit-box-orient: vertical;
overflow: hidden;
text-decoration: none;
text-overflow: ellipsis;}
    }
  }
    .ti-heading {
    padding-left: 1.5rem; padding-right: 1.5rem; text-transform: uppercase; margin-top: 1.5rem;
    font-size: 15px; line-height: 23px;color: #fff;
  }
  }

  //end
  .down-arrow{
    font-size: 1rem;
    font-weight: v.$font-weight-Medium;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    &::after {
      content: "";
      border: 2px solid #fff;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg);
      transition: transform 0.2s ease;
      margin-left: 0.5rem;
    }
  }
  // Dropdown toggle
  .toggleBtn-dropdown {
    position: relative;
    display: inline-block;
    .card-btn{font-weight: v.$font-weight-SemiBold; font-family: v.$font-family-inter; font-size: .9em; justify-content: center;}
  }
  
  .toggleBtn-dropdown-button {
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: 8A8A8A;
    //line-height: 34px;
    font-weight: v.$font-weight-Medium;

  
    &::after {
      content: "";
      border: 2px solid #8a8a8a;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg);
      transition: transform 0.2s ease;
    }
  
    &:hover::after {
      border-color: #217fd4;
    }
  

  }
  
  .toggleBtn-dropdown.open .toggleBtn-dropdown-button::after {
    transform: rotate(-135deg);
  }
  
  .toggleBtn-dropdown.open .toggleBtn-dropdown-menu {
    display: block;
  }
      .toggleBtn-dropdown.drop-up .toggleBtn-dropdown-menu {
      top: auto;
      bottom: 100%;
      margin-bottom: 0.5rem;
    }
  
  .toggleBtn-dropdown-menu {
    display: none;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 8px;
    border-radius: 2px;
    min-width: 200px;
    z-index: 1000;
    margin-top: 0.5rem;
    background-color: #fff;
    max-height: 200px;
    overflow-y: auto;
    scrollbar-width: thin;
    overscroll-behavior: contain;
    top:36px; right: 0; 
  
    a {
      display: block;
      padding: 0.75rem 1rem;
      text-decoration: none;
      color: #0C2740;
  
      &:hover {
        background-color: #f1f1f1;
      }
    }
    &.dropdown-menu-home{
      position: fixed;
      top:11%; right: 5%; 
    }
  }
  .our-services{
    .toggleBtn-dropdown{margin-top: 0.5rem;}
    .toggleBtn-dropdown-button{color: #535353;}


  }
//end

//top banner slide
.slide-title {
    font-family: v.$font-family-Poppins;
    font-weight: v.$font-weight-SemiBold; 
  }
  .slide-desc {
    font-family: v.$font-family-inter;
    font-weight: v.$font-weight-normal;
  }
  .ti-heading{
    font-family: v.$font-family-Poppins;
    font-weight: v.$font-weight-SemiBold;
    line-height: 24px;
  }
  .ti-list{
    font-family: v.$font-family-inter;
    font-weight: v.$font-weight-normal;
  }
  .ti-list li{
    &:nth-child(3), &:last-child {
        border: none;
        padding-right: 0;
    }
  }
//end
// video section Who We Are
  /* Hide overlay when playing */
  .video-container[data-state="playing"] .video-overlay, .video-container[data-state="playing"] .video-title  {
    opacity: 0;
    pointer-events: none;
  }
  
  .video-container[data-autohide] video.hide-controls::-webkit-media-controls {
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .video-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    cursor: pointer;
    .video-title{
      position: absolute;
      bottom: 0;
      padding: 1rem;
      h2{ font-family: v.$font-family-Poppins; font-weight: v.$font-weight-SemiBold; color: #fff; font-size: 1rem; line-height: 24px;
        a{color: #fff;}
      span{font-size: 14px; display: block; font-family: v.$font-family-inter; font-weight: v.$font-weight-normal;}
      }
    }
  }
  
  .video-container video {
    width: 100%;
    height: auto;
    display: block;
  }
  .featured-resources{
    .video-container video {
   
      height: 320px;
  
    }
  }
  
  .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
    &.overlay-none{
      background-color: transparent;
       .play-button{
        background-color: #000;
        padding: 14px 16px;
       }
    }
  }
  
  .play-button {
    font-size: 2rem;
    color: #fff;
    pointer-events: none;
    border: 3px solid #fff;
    padding: 1rem;
    line-height: 1;
    border-radius: 50%;
  }
//end
//profile card featured resources
.profile-card {
    display: flex;
    align-items: center;
  }
  
  .profile-thumbnail {
    margin-right: 20px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    overflow: hidden;
  }
  
  .profile-thumbnail .thumbnail {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .profile-info {
    flex-grow: 1;
  }
  
  .profile-name {
    color: #344C71;
    font-size: 18px;
    margin-bottom: 5px;
    line-height: 1.2;
  }
  
  .profile-title {
    color: #9A9A9A;
    font-size: 16px;
    margin-top: 0;
  }
//end



//Dezan Shira News
.news-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px; 
    padding: 0;
    margin: 0 auto;
    //max-width: 1180px;
    max-width: 1220px;   
    .news-date {font-size: .875rem; color: #888; font-family: Inter; font-weight: 300; display: block; margin-bottom: 0.4rem;}
  }
  
  .news-featured {
    //width: 426px;
    width: 520px;
    .news-date {margin-top: 2rem;display: inline-block; }
        .news-image {
      overflow: hidden;
      img{     
         width: 100%;
        border-radius: 4px;
        object-fit: cover;
        
      }
    }
    .news-title {
    font-size: 1rem;
    line-height: 22px;
    margin: 1.5rem 0 1rem;
    margin-top: 0.5rem;
    color: #222831;
    font-family: v.$font-family-inter;
    font-weight: v.$font-weight-normal;
     a {
    color: inherit;
  }
  }
  .news-description {
    color: #535353;
    line-height: 22px;
    font-size: 14px;
    font-family: v.$font-family-inter;
    font-weight: v.$font-weight-light;
  }
  }
  
  
  .news-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 600px;
    .news-item {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 1rem;
  }
  .news-snippet {
    font-size: 1rem;
    color: #222831;
    padding: 0;margin: 0;
    font-family: v.$font-family-inter;
    font-weight: v.$font-weight-normal;
    a{color: #222831;}
  }
  .news-snippet a {
    color: inherit;
  }
  .news-link {
    margin-top: 1rem;
    font-weight: v.$font-weight-Medium;
    color: #217FD4;
    text-decoration: none;
    font-family: v.$font-family-Poppins;
    &:hover {
    text-decoration: underline;
  }
  }
  &.news-list-thumb{
    gap: 3.3rem;
    .news-item{
      display: grid;
      padding: 0;
      grid-template-columns: auto 1fr;
      gap: 1.5rem;
      border: none;
      .news-thumb{ border-radius: 4px;;
        height: 107px; width: 177px; overflow: hidden;
        //img{height: 107px;border-radius: 4px;}
      }
    }
  }
  }
  
//end
 //Featured Resources 
 .featured-resources-heading {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2rem;
  }
  
  .featured-resources {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  
  .card-content {
    h4 {
      font-family: v.$font-family-Poppins;
      font-weight: v.$font-weight-SemiBold;
      font-size: 1rem;
    }
  
    p {
      font-family: v.$font-family-inter;
      font-weight: v.$font-weight-normal;
      color: #9A9A9A;
      line-height: 26px;
    }
  
    a {
      color: #222831;
    }

  }
    
  .event-video-item {
    position: relative;
    cursor: pointer;

    .ve svg {
      position: absolute;
      left: 45%;
      top: 40%;
      fill: #fff;
      z-index: 2;
    }

    h2 {
      z-index: 1;
      position: absolute;
      bottom: 0;
      color: #fff;
      margin: 0;
      font-family: v.$font-family-Poppins;
      font-weight: v.$font-weight-SemiBold;
      font-size: 1rem;
      padding: 1rem;
      line-height: 24px;

      span {
        font-size: 14px;
        display: block;
        font-family: v.$font-family-inter;
        font-weight: v.$font-weight-normal;
      }

      a {
        color: #fff;
      }
    }

    &::after {
      content: " ";
      background-color: rgba(12, 39, 64, 0.10);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
  
  .card-2columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    //width: 840px;
    border-radius: 3px;
    height: 320px;

  
    .card-content {position: relative;
      padding: 2rem 1rem 1rem 1rem;
      height: 320px;
      width: 452px;

      .profile-card{position: absolute; bottom: 8px;}
      
      .session-type-right{position: absolute; bottom: 8px;}
    }
  
    .card-thumbnail {
      position: relative;
  width: 350px;
  overflow: hidden;
      img {
        position: absolute;
        top: 0;
        left: 0;
        //width: 100%;
        //height: 100%;
        //object-fit: cover;
      }
    }
  }
  
  .card-single-column {
    display: grid;
    grid-template-columns: 1fr;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 520px;
    border-radius: 3px;
  
  
    .card-thumbnail {
      height: 180px;
      overflow: hidden;
    }
  
    .card-content {
      padding: 1rem;
      min-height: 96px;
      position: relative;
      &.resources-video{padding: 0;}
      .session-type-right{ bottom: 8px; position: absolute;}
    }
  }
//end
//Register for Our Expert-Led Sessions
.sessions-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    max-width: 1145px;
    margin: 0 auto;
  }
  
  .left-column {
    flex: 1 1 400px;
  }
  
  .right-column {
    flex: 1 1 450px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .text-cta-link{margin-top: 0.5rem;}
  }
  
  .session-card {
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(99, 99, 99, 0.2);
  }
  
  .image-container {
    position: relative;
    height: 180px;
    overflow: hidden;
  }
  
  .session-image {
    width: 100%;
    display: block;
    object-fit: cover;
  }
  
  .date-badge {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-family: v.$font-family-Poppins;
    font-weight: v.$font-weight-SemiBold;
    gap: 0.5rem;
  
    span,
    strong {
      display: block;
      line-height: 1;
    }
  
    span {
      font-size: 1rem;
    }
  
    strong {
      font-size: 22px;
    }
  }
  
  .conference-details {min-height: 250px;
    padding: 15px; position: relative;
    .badge-es{top: 0;right: 0;}
  
    .conference-title {
      font-family: "Inter";
      font-weight: v.$font-weight-normal;
      color: #222831;
      font-size: 1rem;
    }
  
    .conference-description {
      font-family: "Inter";
      font-weight: v.$font-weight-normal;
      color: #9A9A9A;
      font-size: 14px;
      line-height: 22px;
    }
    .text-cta-link{
      bottom: 1rem;position: absolute;
    }
  }
  
  .conference-type,
  .session-type-right {
    color: #9A9A9A;
    font-family: v.$font-family-inter;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 5px;
   
  }
  
  .conference-title,
  .session-title-right {
    font-family: v.$font-family-inter;
    font-weight: 400;
    color: #222831;
    font-size: 1rem;
    line-height: 24px;
    margin-bottom: 10px;
  
    a {
      color: inherit;
    }

  }

  
  .conference-description {
    color: #495057;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  
  .session-card-right {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    border-radius: 6px;
    padding: 17px 17px 17px 17px;
    box-shadow: rgba(99, 99, 99, 0.1) 0px 1px 4px 0px;
    margin-bottom: 0.5rem;
    background-color: #fff;
    h3{margin-bottom: 0;}
  }
  
  .date-right {
    background-color: #E5F3FF;
    border-radius: 6px;
    padding: 7px 18px;
    width: 60px;
    height: 60px;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    box-shadow: rgba(9, 30, 66, 0.15) 0px 4px 8px -2px, rgba(9, 30, 66, 0.05) 0px 0px 0px 1px;
  
    strong,
    span {
      display: block;
      font-family: v.$font-family-inter;
      color: #0C2740;
    }
  
    strong {
      font-weight: v.$font-weight-Medium;
      font-size: 21px;
    }
  
    span {
      font-weight: v.$font-weight-normal;
      font-size: 15px;
    }
  }
  
  .session-info {
    flex-grow: 1;
    position: relative;
  }
  
  .location-badge-right {
    position: absolute;
    top: -17px;
    right: -17px;
    padding: 3px 6px;
    border-top-right-radius: 4px;
    font-family: v.$font-family-inter;
    font-size: 13px;
    line-height: 22px;
    background-color: #e0e1fd;
  
    &.badge-cb {
      background-color: #F3CFC1;
      color: #D2232A;
    }
  
    &.badge-vb {
      background-color: #E0E2EE;
      color: #5B69B7;
    }
  
    &.badge-ib {
      background-color: #E0E2EE;
      color: #1d9649;
    }
    &.badge-sg{
      background-color: #FFF2D4;
      color: #9F7700;
    }
    &.badge-es{
      background-color: #D8EDE9;
      color: #617975;
    }
  }
//end

// Perspectives and Trends


.card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    &.card-grid-inner{
      gap: 80px;
      .card-horizontal{align-items: start;
      &.card-h-pos{  position: relative;
      .d-flex-column{position: absolute; bottom: 1rem;}
      }
      }
      .card-title{ font-family: v.$font-family-inter; font-weight: v.$font-weight-SemiBold; font-size: 22px; line-height: 32px;}
      .card-text{font-weight: v.$font-weight-light;
      &.card-txt-mh{
        min-height: 100px;
      }
      }
    }
    &.card-grid-vedio{
    .card{padding: 0;}
    .card-image-container{ max-width: 650px; border-radius: 0;}
    .card-title{font-family: v.$font-family-Poppins; font-size: 24px; line-height: 32px; font-weight: v.$font-weight-Medium; margin-bottom: 1rem;
    a{font-weight: v.$font-weight-Medium; color: #0C2740;}
    }
    .card-text{font-weight: v.$font-weight-light;  color: #0C2740;}
    }
    &.card-vertical{
      grid-template-columns: repeat(2, 1fr);
      .card-title{margin-top: 1.8rem;}
      .card-horizontal{
        grid-template-columns: repeat(1, 1fr);
      }
      &.card-vertical-three-column{
        grid-template-columns: repeat(3, 1fr);
        gap: 2.5rem;
        .card-horizontal{
          background-color: #fff;
          box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px; padding-bottom: 1.5rem;
        }
        .card-title, .card-text, .d-flex-column{
          padding: 0rem 1.5rem;
        }
        .card-title{font-size: 18px; font-family:v.$font-family-Poppins; font-weight:v.$font-weight-SemiBold;line-height: 24px;}
        .card-image{border-bottom-left-radius: 0; border-bottom-right-radius: 0;}
        &.case-studies-insights{
          .card-title{ font-family: v.$font-family-inter; font-weight: v.$font-weight-Medium; font-size: 1rem; line-height: 26px; margin-top: 1rem; color: #222831;}
          .card-horizontal{box-shadow: none; border: solid 1px #EAEAEA; border-radius: 4px;}
        }
      }
    }
}


.card {
    background-color: #F0F6FC;
    border-radius: 4px;
    padding: 2rem;
}

.card-horizontal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    align-items: center;

}

.card-image-container {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.card-image {
    display: block;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
    //img{border-radius: 4px;}
    &.doing-business{
      animation: none;
      opacity: 1;
      transition: none;
      &.fade-out {
        animation: fadeImageOutIn 0.5s ease-in-out forwards;
      }
    }

}
.gateway-dba {
 .card {padding: 0; border-radius: 0; background-color: #fff; }
 .card-horizontal { gap: 2.5rem;  margin-left: 50px;  margin-right: 50px; }
 &.dba-home{
 .card-horizontal { margin-left: 0px;  margin-right: 0px; }
 }
}

.studies-insights{ 
  &.resource-splide{
    .splide__track{
      max-width: 1172px;
    }
  }
  .card-horizontal{
    grid-template-columns: repeat(1, 1fr);
    box-shadow: none;
    border: solid 1px #eaeaea;
    border-radius: 4px;
    max-width: 360px;
    //margin-bottom: 2rem;
    margin: 0 auto 2rem auto;
 
    .card-image-container{ height: 162px;
      img{ overflow: hidden;
  
      border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
      }

    }
   .card-title {
    font-family: Inter;
    font-weight: 500;
    font-size: 1rem;
    line-height: 26px;
    margin-top: 1rem;
    color: #222831;
    padding: 0 1.5rem;
       min-height: 112px;
}
  }
  // .splide__list { gap: 2.6rem;
  //   justify-content: space-between;}
  // .splide__slide{width: 362px !important;
  //   flex: 0 0 362px !important;}
    .text-cta-link{margin-top: 10px;}
}
@keyframes fadeImageOutIn {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.card-body {
    .heading-second{ margin-bottom: 1.5rem;}
    .service-left{ margin-top: 2rem; list-style: none; margin-left: 0;line-height: 28px;
        display: grid;
        //grid-template-columns: 1fr 1fr;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.7rem;
        color: #0C2740;
        font-size: 1rem;
        font-family: v.$font-family-inter;
        font-weight: v.$font-weight-normal;
        margin-bottom: 2rem;
        display: none;
        a{color: #0C2740;}
        &.show{display: grid;}
    }
    .card-buttons .card-btn.active{
      color: #217fd4;
        border: 1px solid #217fd4;
    }
}

.card-title {
    font-size: 22px;
    color: #222831;
    margin-bottom: 0.5rem;
    font-family: v.$font-family-Poppins;
    font-weight: v.$font-weight-SemiBold;
    line-height: 32px; 
    a{color: #222831;font-weight: v.$font-weight-SemiBold;}
}
.card-text {
    color: #535353;
    font-size: 16px;
    line-height:26px;
    margin-bottom: 1.8rem;
    font-family: v.$font-family-inter;
    font-weight: v.$font-weight-normal;
}
.card-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 15px;
}
//end

//number counter
  // .counter-box:first-child .counter:after,.counter-box:nth-child(2) .counter:after {
  //   content: "+";
  //   margin-left: 0.2rem;
  // }
  .counter-inner{ 
  padding: 0;
  display: flex;
  //display: grid;
  //grid-template-columns: repeat(3, auto); 
  align-items: center;
  justify-content: center; 
  gap: 7.5rem;
  flex-wrap: wrap;
  .counter-box{
  text-align: center; 
  padding: 0;  
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  h3, span{
  opacity: 1;
  max-height: 100px;
  transform: scaleY(1);
  transform-origin: top;
  margin: 5px 0;
  transition: all 0.3s ease;
}

h3{ margin: 0;  font-size: 20px;
line-height: 28px;
font-family: Poppins, sans-serif;
font-weight: 300;
color: #0C2740;
font-family: v.$font-family-Poppins;
  }
.hide-button {
margin: 0 auto;
opacity: 0;
visibility: hidden;
transition: opacity 0.3s ease, visibility 0.3s ease;
position: absolute;
line-height: normal;
height: 120px;
width: 160px;
left: 0;
top: 0;
display: flex;
justify-content: center;
}
// &:hover{
//   h3,span{
//   opacity: 0;
//   max-height: 0;
//   transform: scaleY(0);
//   margin: 0;
//   visibility: hidden;
//   overflow: hidden;
//   }  
//   .hide-button {
//   opacity: 1;
//   visibility: visible;
//     top: -60px;

// &:hover{text-decoration: underline;}
// }
// }
&:first-child .counter:after, &:nth-child(2) .counter:after{
    content: "+";
    margin-left: 0.2rem;
}
}
.counter {font-family: v.$font-family-Poppins; font-size: 35px; line-height: 28px;font-weight: v.$font-weight-SemiBold;color: #0C2740; }
.popover-content{top: 0;width: 13vw; background-color: #f6f6f6; padding: 0;}
  }
  //end
  /* Responsive adjustments */
 .clients-panel-list{
.splide__pagination{justify-content: center;}
 }
//        .resource-splide.splide-three-column{
//        .splide__slide {
//     width: 363px !important;
//     flex: 0 0 363px !important;
// }

//        }
 @media (max-width: 1440px) {
      .trending-insights{right: 0;}
      .gateway-dba.dba-home, .resource-splide.splide-three-column {
    .splide__track{max-width: 1220px;}
    //.splide__arrow--next{right: 0;}
    //.splide__arrow--prev{left: 0;}
      }

 }
@media (max-width: 1024px) {
  .card-grid{
    &.card-vertical{
      &.card-vertical-three-column{grid-template-columns: repeat(2, 1fr);}
    }
  }
  
    .counter-inner .popover-content{width: 100%; justify-content: center;}
    .trending-insights{
  right: 0;}
      .gateway-dba.dba-home {
        .card-horizontal{
        align-items: start;
              .card-body{
        height: 280px;
        overflow-y: scroll;
      }
       .splide__arrow{display: none;}
    }
    
      }
        .trending-insights{
      background-color: rgb(12, 39, 65, 100%);
    }
  }  
@media (max-width: 500px) {
//     .resource-splide.splide-three-column .splide__slide {
//     width: 328px !important;
//     flex: 0 0 328px !important;
// }
  .news-list.news-list-thumb .news-item{
    grid-template-columns:1fr;
  }
  .gateway-dba {
    .card-horizontal{margin-left: 0; margin-right: 0;}
    .splide__arrow{display: none;}
  }
 
.trending-insights{
  right: 0;
  .ti-list{
    grid-template-columns:repeat(2,1fr);
  }
}
  
  .profile-card {
   // flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .profile-thumbnail {
    margin: 0 0 15px;
    width: 100px;
    height: 100px;
  }

  .profile-info {
    text-align: center;
  }
  
  .card-2columns {
    .card-thumbnail{width: 100%;}
    .card-content { width: 100%;height: 100%;
      .profile-card{position: inherit; bottom: 0;}

    }
  }
  .card-single-column{f
    .card-thumbnail{height: auto;}
  }
  .session-type-right{position: inherit; bottom: 0;}
  .counter-inner {flex-direction: column; gap: 3rem;
  //.counter-box{ margin-bottom: 2rem;}
}
.card-buttons {
   justify-content: center;
}
}
@media (max-width: 640px) {
  .clients-panel-list.resource-splide{
    .splide__arrow{top: 50%; bottom: inherit;}
    .splide__arrow--next{right: 0; left: inherit;}
    .splide__arrow--prev{left: 0;}}
    .studies-insights .splide__list{gap: 0;}
}
@media (max-width: 767px) {
  .event-video-item h2{display: none;}
  .card-2columns { height: auto;
    .card-thumbnail {
      img{position: inherit;}
    }
  }
    .card-horizontal {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .card-image {
        width: 100%;
        height: auto;
    }
    .card-body {
        width: 100%;
        .service-left{grid-template-columns: 1fr;}
        &.pl-3{padding-left: 0;}
        
    }
    .image-container{height: auto;}
    .card-single-column .card-content{
      min-height: 130px;
    }

    .card-grid {
    &.card-vertical{
      grid-template-columns: repeat(1, 1fr);

      &.card-vertical-three-column{
        grid-template-columns: repeat(1, 1fr);
      }
    }
}
.news-list{width: auto;}
  .featured-resources {
      width: auto;
      grid-template-columns: 1fr;
      .card-2columns {
        grid-template-columns: 1fr;
        width: 100%;
        height: 100%;
        .card-thumbnail{width: auto;}
        .card-content{width: auto;}
      }
      .card-single-column{
        width: 100%;
        height: 100%;
      }
    }
    .sessions-wrapper {
      flex-direction: column;
    }
    .featured-resources-heading {
      grid-template-columns: 1fr;
    }
    .gateway-dba.dba-home .card-horizontal{

      .heading-level2{width: 90%; margin: 0 auto;}
    }
.card-image-container{order: -1;}
}
@media (max-width: 768px) {
    .news-section {
      grid-template-columns: 1fr;
      max-width: 100%;
  
      .news-featured {
        width: auto;
      }
    }
    .left-column,
    .right-column {
      width: 100%;
    }

  }
@media (max-width: 900px) {
    .splide-progress-wrapper{bottom: 23.5%; left: 125px;}
    
  }

@media (max-width: 1200px) {
    .resource-splide, .our-testimonial {
    .splide__arrow{top: inherit; bottom: -50px;}
    .splide__arrow--next{right: inherit; left: 50px;}
    .splide__arrow--prev{left: 0;}
    &.splide-three-column .splide__arrow--prev{left: 0;}
    
  }
  .news-featured, .news-list{max-width: 100%; width: inherit;}
}
@media (max-width: 1360px) {
    .card-2columns {height: 100%;
      .card-thumbnail{width: 100%;}
    }
    .card-2columns .card-content{width: 100%; height: 100%;
      .profile-card{position: inherit;}
      .session-type-right{position: inherit;}
    }
    .card-single-column{width: 100%;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
