@use "../base/variables" as v;

//expand trending insights  
.expand-content {
    overflow: hidden;
    max-height: 93px;
    padding-left: 2rem;
    transition: max-height 0.4s ease, padding 0.4s ease;
    &.open {
        max-height: 300px;
        padding-top: 0.5rem;
      }
  }
  .expand-toggle {
    color: #222222;
    padding: 2px;
    border: none;
    cursor: pointer;
    font-size: 12px;
    text-align: left;
    position: absolute;
    left: 24px;
    bottom: 10px;
    line-height:12px;
    border: solid 1px #222222;
    border-radius: 50%;
    .icon {
        font-size: 1.25rem;
        transition: transform 0.3s;
      }
  }
  .trending-insights {
    overflow: hidden;
    transition: max-height 0.4s ease;
    &.open {
        max-height: 300px;
      }
  }
  //end
  // Dropdown toggle
  .toggleBtn-dropdown {
    position: relative;
    display: inline-block;
  }
  
  .toggleBtn-dropdown-button {
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  
    &::after {
      content: "";
      border: 2px solid #8a8a8a;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg);
      transition: transform 0.2s ease;
    }
  
    &:hover::after {
      border-color: #217fd4;
    }
  
    &.drop-up .toggleBtn-dropdown-menu {
      top: auto;
      bottom: 100%;
      margin-bottom: 0.5rem;
    }
  }
  
  .toggleBtn-dropdown.open .toggleBtn-dropdown-button::after {
    transform: rotate(-135deg);
  }
  
  .toggleBtn-dropdown.open .toggleBtn-dropdown-menu {
    display: block;
  }
  
  .toggleBtn-dropdown-menu {
    display: none;
    position: absolute;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    min-width: 200px;
    z-index: 1000;
    margin-top: 0.5rem;
    background-color: #fff;
    max-height: 200px;
    overflow-y: auto;
    scrollbar-width: thin;
    overscroll-behavior: contain;
    top: 100%;
  
    a {
      display: block;
      padding: 0.75rem 1rem;
      text-decoration: none;
      color: #0C2740;
  
      &:hover {
        background-color: #f1f1f1;
      }
    }
  }
  
//end

//top banner slide
.slide-title {
    font-family: v.$font-family-Poppins;
    font-weight: v.$font-weight-SemiBold; 
  }
  .slide-desc {
    font-family: v.$font-family-inter;
    font-weight: v.$font-weight-normal;
  }
  .ti-heading{
    font-family: v.$font-family-Poppins;
    font-weight: v.$font-weight-SemiBold;
  }
  .ti-list{
    font-family: v.$font-family-inter;
    font-weight: v.$font-weight-normal;
  }
  .ti-list li{
    &:nth-child(3), &:last-child {
        border: none;
    }
  }
//end
// video section Who We Are
  /* Hide overlay when playing */
  .video-container[data-state="playing"] .video-overlay {
    opacity: 0;
    pointer-events: none;
  }
  
  .video-container[data-autohide] video.hide-controls::-webkit-media-controls {
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .video-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    cursor: pointer;
  }
  
  .video-container video {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
  }
  
  .play-button {
    font-size: 2rem;
    color: #fff;
    pointer-events: none;
    border: 3px solid #fff;
    padding: 1rem;
    line-height: 1;
    border-radius: 50%;
  }
//end
//profile card featured resources
.profile-card {
    display: flex;
    align-items: center;
  }
  
  .profile-thumbnail {
    margin-right: 20px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    overflow: hidden;
  }
  
  .profile-thumbnail .thumbnail {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .profile-info {
    flex-grow: 1;
  }
  
  .profile-name {
    color: #344C71;
    font-size: 18px;
    margin-bottom: 5px;
    line-height: 1.2;
  }
  
  .profile-title {
    color: #9A9A9A;
    font-size: 16px;
    margin-top: 0;
  }
//end

/* Responsive adjustments */
@media (max-width: 500px) {
    .profile-card {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .profile-thumbnail {
      margin: 0 0 15px;
      width: 100px;
      height: 100px;
    }
  
    .profile-info {
      text-align: center;
    }
  }

//Dezan Shira News
.news-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 4rem;
    padding-left:1rem;
    padding-right: 1rem;
    margin: 0 auto;
    max-width: 1145px;
  }
  
  .news-featured {
    width: 420px;
  }
  
  .news-featured .news-image {
    width: 100%;
    border-radius: 4px;
    object-fit: cover;
  }
  
  .news-featured .news-title {
    font-size: 1rem;
    margin: 1.5rem 0 1rem;
    color: #222831;
    font-family: v.$font-family-inter;
    font-weight: v.$font-weight-normal;
  }
  
  .news-featured .news-title a {
    color: inherit;
  }
  
  .news-featured .news-description {
    color: #535353;
    line-height: 22px;
    font-size: 14px;
    font-family: v.$font-family-inter;
    font-weight: v.$font-weight-light;
  }
  
  .news-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .news-list .news-item {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 1rem;
  }
  
  .news-list .news-date {
    font-size: 0.875rem;
    color: #888;
    font-family: v.$font-family-inter;
    font-weight: v.$font-weight-light;
  }
  
  .news-list .news-snippet {
    font-size: 1rem;
    color: #222831;
    margin-top: 0.25rem;
    font-family: v.$font-family-inter;
    font-weight: v.$font-weight-normal;
  }
  
  .news-list .news-snippet a {
    color: inherit;
  }
  
  .news-list .news-link {
    margin-top: 1rem;
    font-weight: v.$font-weight-Medium;
    color: #217FD4;
    text-decoration: none;
    font-family: v.$font-family-Poppins;
  }
  
  .news-list .news-link:hover {
    text-decoration: underline;
  }
//end
 //Featured Resources 
 .featured-resources-heading {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2rem;
  }
  
  .featured-resources {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  
  .card-content {
    h4 {
      font-family: v.$font-family-Poppins;
      font-weight: v.$font-weight-SemiBold;
      font-size: 1rem;
    }
  
    p {
      font-family: v.$font-family-inter;
      font-weight: v.$font-weight-normal;
      color: #9A9A9A;
      line-height: 26px;
    }
  
    a {
      color: #222831;
    }
  
    .event-video-item {
      position: relative;
  
      .ve svg {
        position: absolute;
        left: 45%;
        top: 40%;
        fill: #fff;
        z-index: 2;
      }
  
      h2 {
        z-index: 1;
        position: absolute;
        bottom: 0;
        color: #fff;
        margin: 0;
        font-family: v.$font-family-Poppins;
        font-weight: v.$font-weight-SemiBold;
        font-size: 1rem;
        padding: 1rem;
        line-height: 24px;
  
        span {
          font-size: 14px;
          display: block;
          font-family: v.$font-family-inter;
          font-weight: v.$font-weight-normal;
        }
  
        a {
          color: #fff;
        }
      }
  
      &::after {
        content: " ";
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }
  
  .card-2columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  
    .card-content {
      padding: 1rem 1rem 0rem 1rem;
    }
  
    .card-thumbnail {
      position: relative;
  
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  
  .card-single-column {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  
    .card-thumbnail {
      height: 180px;
      overflow: hidden;
    }
  
    .card-content {
      padding: 1rem;
    }
  }
//end
//Register for Our Expert-Led Sessions
.sessions-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    max-width: 1145px;
    margin: 0 auto;
  }
  
  .left-column {
    flex: 1 1 400px;
  }
  
  .right-column {
    flex: 1 1 450px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .session-card {
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(99, 99, 99, 0.2);
  }
  
  .image-container {
    position: relative;
    height: 180px;
    overflow: hidden;
  }
  
  .session-image {
    width: 100%;
    display: block;
    object-fit: cover;
  }
  
  .date-badge {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-family: v.$font-family-Poppins;
    font-weight: v.$font-weight-SemiBold;
    gap: 0.5rem;
  
    span,
    strong {
      display: block;
      line-height: 1;
    }
  
    span {
      font-size: 1rem;
    }
  
    strong {
      font-size: 22px;
    }
  }
  
  .conference-details {
    padding: 15px;
  
    .conference-title {
      font-family: "Inter";
      font-weight: v.$font-weight-normal;
      color: #222831;
      font-size: 1rem;
    }
  
    .conference-description {
      font-family: "Inter";
      font-weight: v.$font-weight-normal;
      color: #9A9A9A;
      font-size: 14px;
      line-height: 22px;
    }
  }
  
  .conference-type,
  .session-type-right {
    color: #9A9A9A;
    font-family: v.$font-family-inter;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 5px;
  }
  
  .conference-title,
  .session-title-right {
    font-family: v.$font-family-inter;
    font-weight: 400;
    color: #222831;
    font-size: 1rem;
    line-height: 24px;
    margin-bottom: 10px;
  
    a {
      color: inherit;
    }
  }
  
  .conference-description {
    color: #495057;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  
  .session-card-right {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    border-radius: 6px;
    padding: 17px;
    box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.02);
  }
  
  .date-right {
    background-color: #E5F3FF;
    border-radius: 6px;
    padding: 7px 18px;
    width: 60px;
    text-align: center;
  
    strong,
    span {
      display: block;
      font-family: v.$font-family-inter;
      color: #0C2740;
    }
  
    strong {
      font-weight: v.$font-weight-Medium;
      font-size: 21px;
    }
  
    span {
      font-weight: v.$font-weight-normal;
      font-size: 15px;
    }
  }
  
  .session-info {
    flex-grow: 1;
    position: relative;
  }
  
  .location-badge-right {
    position: absolute;
    top: -16px;
    right: 0;
    padding: 3px 6px;
    border-top-right-radius: 4px;
    font-family: v.$font-family-inter;
    font-size: 13px;
    line-height: 22px;
  
    &.badge-cb {
      background-color: #F3CFC1;
      color: #D2232A;
    }
  
    &.badge-vb {
      background-color: #E0E2EE;
      color: #5B69B7;
    }
  
    &.badge-ib {
      background-color: #E0E2EE;
      color: #1d9649;
    }
  }
//end

// Perspectives and Trends
.card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.card {
    background-color: #F0F6FC;
    border-radius: 4px;
    padding: 2rem;
}

.card-horizontal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    align-items: center;
}

.card-image-container {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}

.card-image {
    display: block;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
    //img{border-radius: 4px;}

}
.card-body {
    .heading-second{ margin-bottom: 1.5rem;}
    .service-left{ margin-top: 1rem;
        display: grid;
        //grid-template-columns: 1fr 1fr;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
        color: #0C2740;
        font-size: 1rem;
        font-family: v.$font-family-inter;
        font-weight: v.$font-weight-normal;
        a{color: #0C2740;}
    }

}

.card-title {
    font-size: 22px;
    color: #222831;
    margin-bottom: 1.5rem;
    font-family: v.$font-family-Poppins;
    font-weight: v.$font-weight-SemiBold;
    a{color: #222831;}
}
.card-text {
    color: #495057;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    font-family: v.$font-family-inter;
    font-weight: v.$font-weight-light;
}
.card-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 15px;
}
//end

//number counter
.counter-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 1rem 0rem 2rem 0rem;
    text-align: left;
  }

  .counter-box h3 {
    font-size: 1rem;
    color: #0C2740;
    margin-bottom: 0.5rem;
    font-family: v.$font-family-Poppins;
    font-weight: v.$font-weight-normal;
  }
  
  .counter {
    font-size: 2rem;
    color: #0C2740;
    font-family: v.$font-family-inter;
    font-weight: v.$font-weight-normal;
  }
  .counter-box:first-child .counter:after {
    content: "+";
    margin-left: 0.2rem;
  }
  //end
@media (max-width: 767px) {
    .card-horizontal {
        grid-template-columns: 1fr;
        
    }
    .card-image {
        width: 100%;
        height: auto;
    }
    .card-body {
        width: 100%;
        .service-left{grid-template-columns: 1fr;}
        &.pl-3{padding-left: 0;}
        
    }
    .image-container{height: auto;}
}

@media (max-width: 768px) {
    .news-section {
      grid-template-columns: 1fr;
      max-width: 100%;
  
      .news-featured {
        width: auto;
      }
    }
  
    .featured-resources {
      width: auto;
      grid-template-columns: 1fr;
  
      .card-2columns {
        grid-template-columns: 1fr;
      }
    }
  
    .sessions-wrapper {
      flex-direction: column;
    }
  
    .left-column,
    .right-column {
      width: 100%;
    }
  
    .featured-resources-heading {
      grid-template-columns: 1fr;
    }
  }



