@use "../base/variables" as v;


  
  .contentExpand-toggle {
    color: #222222;
    padding: 2px;
    border: none;
    cursor: pointer;
    font-size: 12px;
    text-align: left;
    position: absolute;
    left: 24px;
    bottom: 0;
    line-height:12px;
    border: solid 1px #222222;
    border-radius: 50%;
    .icon {
        font-size: 1.25rem;
        transition: transform 0.3s;
      }
  }
  .trending-insights {
    overflow: hidden;
    max-height: 100px;
    transition: max-height 0.4s ease;
    &.open {
        max-height: 300px;
      }
  }
  

.toggleBtn-dropdown {
	position: relative;
	display: inline-block;
}
.toggleBtn-dropdown-button {
	padding: 0.5rem 0.5rem;
	font-size: 1rem;
	cursor: pointer;
	color: #0C2740;
	border: none;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	&::after {
		content: "";
        border: #0C2740 solid;
		border-width: 0 2px 2px 0;
		display: inline-block;
		padding: 3px;
		transform: rotate(45deg);
		transition: transform 0.2s ease;
	}
    &.border-button{
        background-color: #f0f6fc;
    color: #8a8a8a;
    border: 1px solid #8a8a8a;
    border-radius: 3px;
    padding: 9px 18px;
    min-width: 112px;
    &::after{border: #8a8a8a solid; border-width: 0 2px 2px 0;}
    }
}
.toggleBtn-dropdown.open {
	.toggleBtn-dropdown-button {
		&::after {
			transform: rotate(-135deg);
		}
	}
	.toggleBtn-dropdown-menu {
		display: block;
	}
}
.toggleBtn-dropdown-menu {
	display: none;
	position: absolute;
	//box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
	border-radius: 2px;
	min-width: 200px;
	z-index: 1000;
	margin-top: 0.5rem;
    background-color: #fff;
	a {
		display: block;
		padding: 0.75rem 1rem;
		text-decoration: none;
		color: #0C2740;
		&:hover {
			background-color: #f1f1f1;
		}
	}
}


.slide-title {
    font-family: v.$font-family-Poppins;
    font-weight: v.$font-weight-SemiBold;
    
  }
  
  .slide-desc {
    font-family: v.$font-family-inter;
    font-weight: v.$font-weight-normal;
    
    
  }
  .ti-heading{
    font-family: v.$font-family-Poppins;
    font-weight: v.$font-weight-SemiBold;
  }
  .ti-list{
    font-family: v.$font-family-inter;
    font-weight: v.$font-weight-normal;
  }
  .video-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
    cursor: pointer;
  }
  video {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Transparent overlay */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
  }
  
  .play-button {
    font-size: 2rem;
    color: white;
    pointer-events: none;
    border: solid 3px #fff;
      padding: 1rem 1rem;
      line-height: 1;
      border-radius: 50%;
  }

.profile-card {
    display: flex;
    align-items: center;
}

.profile-thumbnail {
    margin-right: 20px;
    border-radius: 50%;
    overflow: hidden;
    width: 80px;
    height: 80px;
    flex-shrink: 0;
}

.thumbnail {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-info {
    flex-grow: 1;
}

.profile-name {
    color: #344C71;
    font-size: 18px; 
    margin-bottom: 5px;
    line-height: 1.2;
}

.profile-title {
    color: #9A9A9A;
    font-size: 1rem; 
    margin-top: 0;
}


/* Responsive adjustments */
@media (max-width: 500px) {
    .profile-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .profile-thumbnail {
        margin-right: 0;
        margin-bottom: 15px;
        width: 100px;
        height: 100px;
    }
    .profile-info {
        text-align: center; 
    }
}

//Dezan Shira News
.news-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 4rem;
    padding-left:1rem;
    padding-right: 1rem;
    margin: 0 auto;
    max-width: 1145px;
    .news-featured { width: 420px;
      .news-image {
        width: 100%;
        border-radius: 4px;
        object-fit: cover;
      }
      .news-title {
        font-size: 1rem;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        color: #222831;
        font-family: v.$font-family-inter;
        font-weight: v.$font-weight-normal;
        a{color: #222831;}
      }
      .news-description {
        color: #535353;
        line-height: 22px;
        font-size: 14px;
        font-family: v.$font-family-inter;
        font-weight: v.$font-weight-light;
      }
    }
    .news-list {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      .news-item {
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 1rem;
        .news-date {
          font-size: 0.875rem;
          color: #888;
          font-family: v.$font-family-inter;
          font-weight: v.$font-weight-light;
        }
        .news-snippet {
          font-size: 1rem;
          color: #222831;
          margin-top: 0.25rem;
          font-family: v.$font-family-inter;
          font-weight: v.$font-weight-normal;
          a{color:#222831;}
        }
      }
      .news-link {
        margin-top: 1rem;
        font-weight: v.$font-weight-Medium;
        color: #217FD4;
        text-decoration: none;
        font-family: v.$font-family-Poppins;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
//end
 //Featured Resources 
.featured-resources-heading{
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2rem;
}
  .featured-resources{
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 2rem;
    .card-content{ 
        h4{font-family: v.$font-family-Poppins; font-weight: v.$font-weight-SemiBold; font-size: 1rem;} 
        p{font-family: v.$font-family-inter; font-weight: v.$font-weight-normal; color: #9A9A9A; line-height: 26px;}
        a{color: #222831;}     
        .event-video-item{position: relative;
            .ve svg{position: absolute;  left: 45%; top: 40%; fill: #fff; z-index: 2;}
            h2{ z-index: 1;
                position: absolute;
                bottom: 0;
                color: #fff;
                margin: 0; font-family: v.$font-family-Poppins; font-weight: v.$font-weight-SemiBold; font-size: 1rem; padding: 1rem; line-height: 24px;
                span{font-size: 14px; display: block;font-family: v.$font-family-inter; font-weight: v.$font-weight-normal;}
            a{color:#fff}
            }

            &::after {
                content: " ";
                background-color: rgba(0,0,0,.5);
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
              }
              
        }
    }
    .card-2columns{ display: grid;
        grid-template-columns: 2fr 2fr; gap: 2rem;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        .card-content{ 
            padding: 1rem 1rem 0rem 1rem;     
        }
        .card-thubnail{ position: relative;
            img{    
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                }
        }
    }
    .card-single-column{
        display: grid;
        grid-template-columns: 1fr; gap: 1rem;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        .card-thumbnail{ height: 180px; overflow: hidden;
        }
        .card-content{
           padding: 1rem 1rem 1rem 1rem;;
        }
    }

  }
//end
//Register for Our Expert-Led Sessions
  .sessions-wrapper {
    display: flex;
    gap: 2.5rem;
    flex-wrap: wrap; 
    margin: 0 auto;
    max-width: 1145px;
}

.left-column {
    flex: 1 1 400px; 
}

.right-column {
    flex: 1 1 450px; 
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.session-card-left {
    border-radius: 6px;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.image-container {
    position: relative;
    height: 180px;
    overflow: hidden;
}

.session-image {
    width: 100%;
    display: block;
    object-fit: cover;
}

.date-badge-left {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5); 
    color: #fff;
    padding: 1rem 2rem;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: v.$font-family-Poppins;
    font-weight: v.$font-weight-SemiBold;
    gap: 0.5rem;
    span {
        display: block;
        font-size: 1rem;
        line-height: 1;
    }
    strong {
        display: block;
        font-size: 22px;
        line-height: 1;
    }
}
.conference-details {
    padding: 15px;
    .conference-title{font-family:"Inter"; font-weight: v.$font-weight-normal; color: #222831; font-size: 1rem;}
    .conference-description{
        font-family:"Inter"; font-weight: v.$font-weight-normal; color: #9A9A9A; font-size: 14px; line-height: 22px;
    }
}

.conference-type {
    color: #9A9A9A;
    margin-bottom: 5px;
    font-family: v.$font-family-inter;
    font-size: 14px;
    line-height: 22px;
}

.conference-title {
    font-weight: bold;
    margin-bottom: 10px;
    color: #222831;
    font-size: 1rem;
    line-height: 24px;
    a{color: #222831;}
}

.conference-description {
    color: #495057;
    line-height: 1.4;
    margin-bottom: 15px;
    font-size: 14px;
}


.session-card-right {
    border-radius: 6px;
    padding: 17px;
    display: flex;
    gap: 15px;
    align-items: flex-start;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 4px -1px, rgba(0, 0, 0, 0.02) 0px 2px 4px -1px;
    
}

.date-right {
    background-color: #E5F3FF;
    border-radius: 6px;
    padding: 7px 18px;
    width: 60px;
    text-align: center;
    strong {
        display: block;
        font-size: 21px;
        line-height: 1;
        font-family: v.$font-family-inter;
        font-weight: v.$font-weight-Medium;
        color: #0C2740;
    }
    span{
        font-family: v.$font-family-inter;
        font-weight: v.$font-weight-normal;
        color: #0C2740;
        font-size: 15px;
    }
}
.session-info {
    flex-grow: 1;
    position: relative;
}

.session-type-right {
    color: #9A9A9A;
    font-size: 14px;
    margin-bottom: 3px;
    line-height: 22px;
}

.session-title-right {
    font-weight: 400;
    color: #222831;
    margin-bottom: 5px;
    font-family: v.$font-family-inter;
    font-size: 1rem;
    line-height: 24px;
    a{color: #222831;}
}

.location-badge-right {
    background-color: #FFF2D4;
    color: #212529;
    border-top-right-radius:4px;
    padding: 3px 6px;
    font-size:13px;
    font-family: v.$font-family-inter;
    line-height: 22px;
    position: absolute;
    right: 0;
    top: -16px;
    &.badge-cb{ background-color: #F3CFC1; color: #D2232A;}
    &.badge-vb{ background-color: #E0E2EE; color: #5B69B7;}
    &.badge-ib{ background-color:#E0E2EE; color: #1d9649;}
}

//end

// Perspectives and Trends
.card-grid {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px;
}

.card {
    background-color: #F0F6FC;
    border-radius: 4px;
    //overflow: hidden;
    padding: 2rem;
}

.card-horizontal {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 5rem;
}

.card-image-container {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}

.card-image {
    display: block;
    //width: 100%;
    height: auto;
    object-fit: cover;
    img{border-radius: 4px;}

}
.card-body {
    //padding: 20px;
    .heading-second{ margin-bottom: 1.5rem;}
    .service-left{ margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
        color: #0C2740;
        font-size: 1rem;
        font-family: v.$font-family-inter;
        font-weight: v.$font-weight-normal;
        a{color: #0C2740;}
    }

}

.card-title {
    font-size: 22px;
    color: #222831;
    margin-bottom: 1.5rem;
    font-family: v.$font-family-Poppins;
    font-weight: v.$font-weight-SemiBold;
    a{color: #222831;}
}
.card-text {
    color: #495057;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    font-family: v.$font-family-inter;
    font-weight: v.$font-weight-light;
}
.card-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 15px;
}

.card-button {
    background-color: #F0F6FC;
    color: #8A8A8A;
    border: 1px solid #8A8A8A;
    border-radius: 3px;
    padding: 9px 18px;
    font-size: 0.9em;
    min-width: 112px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    &:hover {
        border-color: #217FD4;
        color: #217FD4;
    }
}
//end

//number counter
.counter-section {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    gap: 2rem;
    padding: 1rem 0rem 2rem 0rem;
    text-align: left;
  }
  
  .counter-box h3 {
    font-size: 1rem;
    color: #0C2740;
    margin-bottom: 0.5rem;
    font-family: v.$font-family-Poppins;
    font-weight: v.$font-weight-normal;
  }
  
  .counter {
    font-size: 2rem;
    color: #0C2740;
    font-family: v.$font-family-inter;
    font-weight: v.$font-weight-normal;
  }
  .counter-box:first-child .counter:after {
    content: "+";
    margin-left: 0.2rem;
  }
  //end
@media (max-width: 767px) {
    .card-horizontal {
        grid-template-columns: 1fr;
    }
    .card-image {
        width: 100%;
        height: auto;
    }
    .card-body {
        width: 100%;
        .service-left{grid-template-columns: 1fr;}
    }
}

@media (max-width: 768px) {
    .news-section{
        grid-template-columns: 1fr;
        max-width: 100%;
        .news-featured{width: auto;}
    }
    .featured-resources{
        width: auto;
        grid-template-columns:1fr;
        .card-2columns{
            grid-template-columns:1fr;
        }
    }
    .sessions-wrapper {
        flex-direction: column; 
    }
    .left-column, .right-column {
        width: 100%;
    }
    .featured-resources-heading{grid-template-columns: 1fr}
  }



