@use "../base/variables" as v;
.our-team-experts h3{ font-family: v.$font-family-Poppins; font-weight: v.$font-weight-SemiBold; font-size: 24px; color: v.$black; margin-bottom: 3rem;}
.hp-clients-panel h3 {
    color: v.$black;
    text-transform: none;
    font-size: 24px;
    margin-bottom: 1.5rem;
    font-family: v.$font-family-Poppins; font-weight: v.$font-weight-SemiBold;
}
//Our Comprehensive Tax Compliance and Have Any Questions? section
.or-cta{display: grid; grid-template-columns: repeat(2, 1fr);}
.select-change-color { color: v.$black !important;}
.or-cta-cyp-card .or-cta .reg-contacts-addr { display: flex; flex-direction: column; }
.or-cta-cyp-card .or-cta .reg-contacts-addr .reg-contacts-phone, .or-cta-cyp-card .or-cta .reg-contacts-addr .reg-contacts-email { display: flex; align-items: center; margin-top: 0.5rem; }
.or-cta-cyp-card .or-cta .reg-contacts-addr .reg-contacts-phone .phone-cta-cion, .or-cta-cyp-card .or-cta .reg-contacts-addr .reg-contacts-email .email-cta-cion { width: 40px; height: 24px; }
.or-cta-cyp-card .or-cta .reg-contacts-addr .reg-contacts-email .email-text { font-size: 1rem; }
    .services-question-section {
        h2{margin-bottom: 3rem;}
        .services-list-details{
            h2 { text-align: left; width: 75%; line-height: 1.4; padding-top: 0.5rem;  font-size: 24px;font-family: v.$font-family-Poppins; margin-bottom: 1.5rem;
                font-weight: v.$font-weight-SemiBold;}
        }
        .got-question-block {
            width: 428px;
            margin-left: 54px;
            padding: 2rem 3rem;
            background-color: #f7f7f7;
            position: sticky;
            top: 90px;
            
            form {
                width: 100%;
                input[type="submit"] {
                    font-family: v.$font-family-inter;
                    font-weight: v.$font-weight-SemiBold;
                  }
              }
              .or-cta-cyp-card {margin-top: 3.5rem;
                h4 { color: #103D68; font-family: v.$font-family-Poppins; font-weight: v.$font-weight-SemiBold; font-size: 18px; margin-bottom: 0; margin-top: 1rem; }
              }
              h3{font-family: v.$font-family-Poppins; font-weight: v.$font-weight-SemiBold; font-size: 20px; color: v.$dsa-dark-blue;}
              p{font-weight: 400;}
          }
          .regional-hidden {
            display: none;
        }
    }

      
      @media (max-width: 1100px) {
        .services-question-section .got-question-block {
         width: 100%;
         margin-left: 0;
        }
      }
      
    //   @media (max-width: 768px) {
    //     .services-question-section .got-question-block {
    //      margin-left: 0;
    //     }
    //   }

//end
//The eight core tiers table
.eight-core-tiers{padding: 0rem 0 6rem 0;
    .eight-core-head { display: flex; justify-content: space-between; width: 100%; margin: 0 auto 3rem auto; flex-direction: column;
        p{text-align: center; color: v.$dsa-grey; margin-bottom: 1.5rem;
            &:nth-child(2){color: v.$dsa-medium-blue; margin-bottom: 0; font-size: 14px;}
            }
    }
    .table-secondary{ background-color: #F6F6F6; color: #4E4E4E; font-weight: bold; border-bottom: solid v.$white 12px; cursor: pointer;}
    .table-primary{ background-color: v.$dsa-cyan-blue;color: v.$white; font-size: 14px;font-weight: 500;
    a{color: v.$white;font-weight: 500;}
     th {background-color: v.$dsa-cyan-blue;}
    }
    .table-second {
        background-color: v.$white;
        color: v.$dsa-light-grey;
        font-size: 14px;
        th {background-color: v.$white;}
    }
    .table {
        td{word-break: normal;}
        th,td{border: none;
            &:first-child{width: 150px; text-align: left; }
        }
        th img{width: 45px; vertical-align: middle;}
        thead { position: sticky; top: 0px; z-index: 2; }
    }
    .eight-core-table{width: 100%; margin: 0 auto 4rem auto; }
    .tier-title{cursor: pointer;
        .ml-18{margin-left: 26px;}
        .tier{display: flex; align-items: center;}
    }
    .tier-detail{display: none;    
    }
    .arrow-move{font-size: 14px; color: v.$dsa-cyan-blue;margin-right: 1rem;
    img{width: 11px; height: 11px;}
    }
    .td-label {
        border-radius: 50%;
        display: inline-block;
        padding: 5px 8px;
        line-height: 14px;
        &.gold{
            background-color: #F5EF51; font-weight: 600;
        }
    }
    .table-striped { color: #4E4E4E;
        td{width: 75px;}
        .striped-first-td{ display: flex; line-height: 22px; 
        strong{margin-right: 1rem;}
        span{padding-left: 2.8rem;}
        }
        tbody {
            tr:nth-of-type(odd){
                background-color: v.$white;
            }
            tr:nth-of-type(even){ color: #4E4E4E;
                background-color: rgba(237, 243, 251, 1);
            }
        }
    }
}
//end

//Highlights from Each Country’s Ranking
.dynamic-emerging-countries{
    background-color: #F0F6FC;
    padding-top: 4rem;
    padding-bottom: 4rem;
    min-height: 500px;
    }
//end

//Learn more about the ESG Framework Landscape
.ESG-framework { background-color: #F6F6F6; padding-top: 60px; padding-bottom: 75px;
    h2{text-align:center; margin-bottom: 62px; font-size: 24px; font-family: v.$font-family-Poppins; font-weight: v.$font-weight-SemiBold;}
    .esg-main-block{display: flex; border-bottom: solid 1px #D4D3D3; padding-bottom: 60px; margin-bottom: 60px;justify-content: space-around;
    &:last-child{border: none; margin-bottom: 0; padding-bottom: 0; }
    }
    .esg-left-block{ margin-right: 3%; margin-top: 7px;
    img{max-width: 100%;}
    }
    .esg-right-block{
        p, ul{color: v.$dsa-light-grey;}
        ul{margin-bottom: 0;padding-left: 1rem;}
        h3{font-size: 20px; font-weight:v.$font-weight-SemiBold; font-family: v.$font-family-Poppins; color: v.$dsa-medium-blue; padding: 4px 18px 18px 18px;}

    }
    }
//end

//The world’s most comprehensive platform for ESG Data, Analytics, and Insights
.mc-platform{padding-top: 70px; padding-bottom: 100px; 
    h2{text-align:center; margin-bottom: 60px; font-size: 24px; color: v.$black;}
    h3{text-align:left; margin-bottom:47px; font-size: 18px;color: v.$black; margin-top: 0px; background-color: #DAE6D4; font-weight: 400; padding: 0.5rem 2rem; vertical-align: middle;}
    .mc-platform-container{ display: flex; justify-content: center; margin: 0 auto;
        .mc-platform-left{ width: 586px; margin-right: 60px;
            .mc-thumbnail {
                img{ width: auto;}
            }
        }
        .mc-platform-right{ width: 278px;
            ul{
                padding: 0;
                margin: 0;
                list-style: none;
                margin-left: 1rem;
                li{ display: flex; margin-bottom: 1.6rem;
                    &:before{
                        content: '';
                        background: url(/img/esg/check-bullet.svg) no-repeat 0 0px;
                        width: 28px;
                        height: 28px;
                        display: inline-block; margin-right: 13px; margin-top: 2px;
                    }
                    span{display: inline-block; width: 218px; line-height: 24px;}
                }
            }
        } 
    }
    }
    //end

    // Envizi helps:
    .ibm-envizi-esg{display: flex;  border-bottom: solid #D4D3D3 1px; padding-bottom: 70px;
        .ibm-envizi-container{ width: 100%; 
            ul { 
                padding: 0;
                margin: 0;
                list-style: none; 
                li {
                   margin-bottom: 0; font-size: 16px;  color:v.$dsa-light-grey; margin-left: 0; 
                   margin-right: 0;  width: 390px;
                }
            }
            .envizi-leaf{background: url(/img/esg/leaf-circle.svg) no-repeat left top; height: auto; width: 100%; margin-right: 0.5rem;}
            h2{font-size: 24px; margin-bottom: 2rem; margin-top: 0rem; text-align: center; line-height: 30px; color: v.$black;}
            h3{margin-top: 1rem; font-weight: 400; color: v.$dsa-light-grey; margin-bottom: 3.5rem; font-size: 18px; line-height: 30px;text-align: center;  width: 59%; margin: 2rem auto;}
            .envizi-helps-block{
                display: flex;  justify-content: center; 
                .envizi-helps{ display: flex; margin-bottom: 1.5rem;
                    &:last-child{margin-bottom: 0;}
                }
                .envizi-helps-block-right{width: 460px;}
                .envizi-helps-block-left{ width: 437px; margin-right: 2rem;
                img{width: 100%;}
                }
            }
        }
        }
    //end

    //How we help companies realize their sustainability goals
    .approach-ensures{ padding-top: 90px; padding-bottom: 53px;
        .flex-spacing{ justify-content: center;}
        .approach-ensures-container{ border-bottom: solid #D4D3D3 1px; padding-bottom: 76px;
        h2{margin-bottom: 2rem; font-size: 24px; line-height: 28px; font-family: v.$font-family-Poppins; font-weight: v.$font-weight-SemiBold;}
        h3{font-size: 18px; line-height: 30px; font-weight: v.$font-weight-Medium; width:69%; margin-left:auto; margin-right: auto;margin-bottom: 3rem;  color: v.$dsa-light-grey;font-family: v.$font-family-Poppins; }
        }
        }
    //end

    // Our ESG Advantage
    .esg-advantage{ padding-top:63px ;   
        background: url(/img/curve-bg.webp) no-repeat center bottom #F6F6F6; background-size: cover;
        min-height: 451px;
        h2{text-align: center; margin-bottom: 2.5rem; font-size: 24px;}
        .flex-spacing{display: inherit;}
        .esg-advantage-container{ display: flex; justify-content: space-evenly;
            .esg-advantage-block{ width: 392px;height: 258px;
                .icon-ellipse {width: 76px; height: 76px; display: flex; align-items: center; background-color: #e4eef6; justify-content: center; border-radius: 50%;  margin: 0 auto; 
                img{width: 38px;}
                }
                .esg-advantage-desc{ padding: 1.5rem 0rem 0rem 0rem; text-align: center;  width: 320px; margin: 0 auto;
                p, .adv-title{padding: 0; color: v.$dsa-light-grey; font-size: 1rem;line-height: 24px; margin: 0;}
                .adv-title{font-weight: 600; color: v.$black; width: 185px; margin: 0 auto  1rem auto; }
                }
            }
        }
        .carousel-inner{justify-content: space-evenly;}
        }
    //end

    // Building Performance within the ESG Landscape
    .esg-f-l{ padding-top: 75px; padding-bottom: 70px;
        .esg-f-l-container{ display: flex; justify-content: space-between; flex-direction: row;
            .esg-f-l-left{  padding-right: 100px;
                p{color: v.$dsa-light-grey;}
                h2{ margin-bottom: 1.5rem; font-size: 24px; font-weight: v.$font-weight-SemiBold; font-family: v.$font-family-Poppins; text-align: left;}
                .cta-link{
                    color: v.$strong-blue;
                    font-weight: 600;
                    padding: 0;
                    
                    &:after {
                        content: "";
                        display: inline-block;
                        background: url(/img/esg-cta-arrow.svg) no-repeat left top;
                        width: 6px;
                        height: 8px;
                        margin-left: .5rem;
                        vertical-align: middle;
                    }
                    &:hover{color: #103D68 ;
                        &:after{background: url(/img/esg-cta-arrow-h.svg) no-repeat left top;}
                    }
                }
                .btn{margin-right: 1.6rem;}

            }
            .esg-f-l-right{
                img{width: 433px; margin-top: 2rem; max-width: fit-content;}
            }
        }
        }
    //end

    //We help clients through each stage of their strategic ESG lifecycle
    .esg-lifecycle{ padding-top: 20px; padding-bottom: 120px;
        .flex-spacing{display: inherit;}
        .carousel{ padding-bottom: 3rem;}
        .carousel-inner{justify-content: center;}
        h3{font-size: 18px; font-weight:v.$font-weight-Medium; color: v.$dsa-light-grey; line-height: 1.4;text-align:center; margin-bottom: 2rem; font-size: 20px; font-family: v.$font-family-Poppins;}
        .esg-lifecycle-container {display: flex; justify-content: center; flex-direction: row;
            .lifecycle-block{ display: flex; margin-bottom: 1.4rem;
                .icon-ellipse {width: 45px; height: 45px; display: flex; align-items: center; background-color: #F0F6FC; justify-content: center; border-radius: 50%;  margin-right: 22px;box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; z-index: 1;
                img{width: 25px;}
                }
            p{padding: 0; margin: 0; color: v.$dsa-light-grey; font-size: 16px; width: 388px; line-height: 24px;
            }
            &:first-child, &:last-child{
                p{width: 328px;}
            }
            &:nth-child(3){
                p{width: 390px;}
            }
            &:nth-child(4){
                p{width: 284px;}
            }
            }
            .esg-lifecycle-right-block{width: 460px;position: relative;
            
                &:before {
                    content: "";
                    width: 1px;
                    height: 90%;
                    background-color: #E2DEDE;
                    position: absolute;
                    top: 0;
                    left: 22px;
                }
            }
            .esg-lifecycle-left-block{ margin-right: 50px;}
        }
        }
    //end

    //IBM Envizi Sustainability Performance: Your journey towards net-zero
    .ibm-enizi-sp{
        &.growth-location{
            min-height: inherit;
            .carousel-item{ margin-bottom: 0;}
        }
        //background: url(/img/curve-bg.webp) no-repeat center bottom #F6F6F6; background-size: cover;
        background-color: #F6F6F6;
        min-height: 451px;
        .flex-spacing{display: inherit;}
        h2,p {text-align:center;   
            width: 75%; 
            margin: 0 auto; margin-bottom: 26px;}
        h2{line-height: 36px; font-size: 28px; color: v.$dsa-dark-blue; font-family: v.$font-family-Poppins; font-weight: v.$font-weight-SemiBold;}
        p {margin-bottom: 3rem; color: #58585b; font-size: 16px; line-height: 26px; font-family: v.$font-family-inter; font-weight: v.$font-weight-normal;}
        
        .ibm-enizi-sp-container {display: flex; justify-content: space-between; flex-direction: row;
            .ibm-enizi-sp-block{ 
                //width: 380px;
                width: 365px;  
                display: flex;margin-left: 0rem; margin-right: 0rem;
                .ibm-enizi-sp-title{  margin-right: 2rem;    }
                .ibm-enizi-sp-text{padding: 0rem 0rem; color: v.$gray-700; 
                    h3{ font-size: 1rem;font-family: v.$font-family-Poppins; font-weight: v.$font-weight-Medium; color: v.$black; line-height: 24px;}
                    p{font-size: 15px; line-height: 24px; font-family: v.$font-family-inter; font-weight: v.$font-weight-light; text-align: left; margin-bottom: 0; width: auto; color: #535353;}
                }
            }
        }
        /*.carousel-inner{
            .carousel-item{
                &:nth-child(2){
                    .ibm-enizi-sp-block{
                        .ibm-enizi-sp-text{
                            h3{width: 60%; font-size: 16px; line-height: 24px;}
                            } 
                    }
                }
            }
        }*/
        }
    //end

    /*more and less text toggle*/
.left-section-block, .common-tab-content{
    .dots{display: none;}
    .toggle-btnls {
        color: #6d6e71;
        display: block;
        border: none;
        padding: 0;
        cursor: pointer;
        background: 0 0;
        text-decoration: underline;
    }
    .more-text {
        display: none;
    }
    .more-less, .toggle-btnls {
        color: #6d6e71;
        display: block;
    }
}
/*end*/

/*Meet Our Experts*/
.our-experts-section{min-height: 450px; padding-top: 63px; padding-bottom: 63px;
    h2{margin-bottom: 3rem;}
}
.expert-block-item{ display: flex; flex-direction: row; margin-top: 3rem;
    .expert-thumbnail-item{ margin-right: 1.5rem;
        img{border-radius: 50%; width: 94px;
            border: solid 1px #e7e7e7;}
    }
  .expert-details-item{ width: 70%;
    .expert-name { font-weight: bold; color: v.$black; font-size: 19px;
    a{color: v.$black;}
    }
    .expert-position {color: v.$dsa-light-grey; font-size: 1rem; margin-bottom: 2rem;line-height: 22px;}
    .expert-country{ color: v.$black; font-weight: 600; font-size: 14px; text-transform: uppercase;}
    .expert-social{ display: flex; margin-top: 1rem;
        a{background-color: #DAE8F4; padding: 8px; line-height: 8px; margin-right: 10px; border-radius: 50%;
            img{width: 12px;}
        }
    }
  }

}
/*end*/



//miscellaneous css
        .carousel-inner {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        .esg-cta-block{margin-top: 2rem;}  
        .content {
            padding: 0 18px;
            display: block;
            overflow: hidden;
            background-color: transparent;
            max-height: inherit;
            }     
            .cta-buttons{ margin-top: 2rem;}
            .country-section .contact-our-experts{background-color: v.$white;}
            .toggle-btnls {display: none;}
            .carousel-item{margin-bottom:2rem;}
        .more-text {
        margin-top: 1.5rem; display: block;
            &:last-child{margin-bottom: 1.5rem;}
        }
.dots{display: none;}


//Explore the Business Environment
.dbp{padding: 66px 0;background-color: v.$white;
    h2{text-align: center; margin-bottom: 2rem; font-size: 24px;}
    .dbp-block{ display: flex; justify-content: center; padding-top: 2rem; width: 100%; margin: 0 auto; flex-direction: column-reverse;
        .dbp-left-block{ width: 100%;
            ul{ padding: 0; margin: 0; list-style: none; display: flex;
                li{ font-size: 16px; margin: 0 1rem 0 0rem;
                    a{
                        color: v.$dsa-cyan-blue; text-decoration: underline; font-weight: 600;
                        &:hover{text-decoration: none;}
                    }
                    &:first-child{margin-left: 0;}
                }
            }
        }
        .dbp-right-block{ margin-bottom: 2rem;
            img{ width: 100%;}
        }
    }
}
//end
@media (max-width: 557px) {
  .services-question-section .got-question-block{padding: 1rem;}
}
@media only screen and  (max-width: 667px){
        //Explore the Business Environment
        .dbp {
            .dbp-block{
                .dbp-left-block{
                    p:nth-child(2) {text-align: center;}
                    ul{justify-content: center;}
                }
            }
        }
    //
    .esg-lifecycle .esg-lifecycle-container .lifecycle-block{
        &:last-child, &:nth-child(3), &:nth-child(4), &:first-child, &:nth-child(2) {
            p{ width: 270px;}
        }
        
        }
        //

     //IBM Envizi Sustainability Performance: Your journey towards net-zero
     .ibm-enizi-sp {
        .carousel-inner {
            .ibm-enizi-sp-container {
                .ibm-enizi-sp-block{
        flex-direction: column;
        .ibm-enizi-sp-title{
            margin-right: 0; margin-bottom: 1rem;
        }
        .ibm-enizi-sp-text{
            padding-top: 1rem;
            text-align: center;
            h3{ width: 100;}
        }
                }
            }
        
            .carousel-item:nth-child(2) .ibm-enizi-sp-block .ibm-enizi-sp-text h3{width: auto; text-align: center;}
        }
        .ibm-enizi-sp {
            h2{margin-bottom: 2rem;}
        }
        }
     //
}

@media only screen and (max-width: 767px){
   //Highlights from Each Country’s Ranking
.dynamic-emerging-countries {
    .common-tab-content .btn-cta-link{text-align: left;margin-top: 2rem;}
}
/*end */
}
@media only screen and  (max-width: 768px){
    .carousel-container {
        .carousel-btn {display: block;}
    }
}
@media only screen and  (max-width: 1000px){
//The eight core tiers table
.eight-core-tiers{
    &.amir2025{
        .eight-core-table{overflow-x: auto; overflow-y: auto; height: 500px;
            th:first-child{background-color: v.$white;}
            .table-striped{
                tr:nth-child(even) td:first-child {background-color: #edf3fb;}
                tr:nth-child(odd) td:first-child {background-color: v.$white;}
                .striped-first-td span{padding-left: 1.8rem;}
            }
            p{color: v.$dsa-light-grey; margin-bottom: 1rem; width: 40%;}
        }
    }
    .table {
        th:first-child, td:first-child{
            width: 150px;
            text-align: left;
        }
    }

}
/*end */
//Explore the Business Environment
.dbp {
    .dbp-block {
        .dbp-left-block{
            ul{flex-wrap: wrap;}
        }
    }
}
//end
}
@media only screen and (max-width: 1024px){
    //Learn more about the ESG Framework Landscape
    .ESG-framework {
        h2{text-align:center; margin-bottom: 2rem; }
        .esg-main-block{ justify-content: left; flex-direction: column;
            .content{padding: 0; }
            .esg-left-block{ margin-right: 0; margin-top: 0;}
            .esg-right-block{
            h3{padding-left: 0px; padding-right: 0; padding-top: 18px;}
            }
            }
      }
      //end

      //The world’s most comprehensive platform for ESG Data, Analytics, and Insights
      .mc-platform{
        h2{text-align:center; margin-bottom: 2rem;}
        .mc-platform-container{ flex-direction: column;
            .mc-platform-left{ width: auto; margin-right: 0px;
                .mc-thumbnail {
                    img{ width: 100%;}
                }
            }
            .mc-platform-right{  margin-top: 2rem; width: auto;
                .mc-thumbnail {
                    img{ width: 100%;}
                }
                ul li span{width: 86%;}
            }
        }
      }
      //end

      //Envizi helps:
      .ibm-envizi-esg{ 
        .ibm-envizi-container{ width: 90%; margin: 0 auto;
            ul { width: 86%;
                li {
                    width: 100%; 
                    margin-bottom: 1.5rem;
                }
            }
            h2{text-align: center;}
            h3{ width: 100%;}
            .envizi-helps-block{
                .envizi-helps{width: auto;}
                .envizi-helps-block-left{ width: auto; margin-right: 0;      
                }
                .envizi-helps-block-right{width: auto; margin-top: 1rem;}
            }
            .envizi-leaf{width: 57px;}
        }
      }
      //

      //How we help companies realize their sustainability goals
    .approach-ensures{ 
        .approach-ensures-container{ width: 100%;
            .approach-ensures-block{flex-direction: column;}
            h3{width: auto;}
        }
          }
    //end
    //Our ESG Advantage
    .esg-advantage, .ibm-enizi-sp{padding-bottom: 36px;
        .carousel-inner{justify-content: flex-start;}
      }

      .esg-advantage{ 
        .esg-advantage-container{ flex-direction: column;
            .esg-advantage-block{  width: 100%;height:210px; margin-bottom: 3.5rem; box-shadow: none;
                .esg-advantage-desc{ padding: 1rem;}
            }
        }
      }
      //end

      //Building Performance within the ESG Landscape
      .esg-f-l{
        .esg-f-l-container{  flex-direction: column;
            .esg-f-l-left{  padding-right: 0;
                    .cta-link{margin-top: 1.5rem; }
            }
            .esg-f-l-right{ display: none;
                img{width: 100%; }
            }
        }
      }
      //end
      //
      .esg-lifecycle{ padding-bottom: 36px;
        .esg-lifecycle-container {flex-direction: column; justify-content: center;
            .lifecycle-block{width: 100%; margin: 0;margin-bottom: 2rem;
            p{width: 86%; line-height: 1.6;}
            }
    
            .esg-lifecycle-left-block{ margin-right: 0;
                img{width: 100%;}
                }
                .esg-lifecycle-right-block{ width: auto; margin-top: 2rem;}
        }
      } 
      //

      //
      .ibm-enizi-sp .carousel-inner .ibm-enizi-sp-container .ibm-enizi-sp-block{width:auto; margin-left: auto; margin-right: auto;}
      .ibm-enizi-sp{padding-bottom: 36px;
        .ibm-enizi-sp-container {flex-direction: column;
            .ibm-enizi-sp-block{ width: 100%; margin-bottom: 2rem;
                .ibm-enizi-sp-text{width: auto;}
            }
        }
        h2, p{width: 96%;}
      
      //

}
//
.carousel {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 20px; /* Adjust as needed */
  }
  .carousel-inner {
    display: flex;
    justify-content: flex-start;
    transition: transform 0.5s ease; flex-wrap: inherit;
  }
  .carousel-item {
    flex: 0 0 100%; margin-bottom: 0;
  }
  .carousel-indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .carousel-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
    margin: 0 5px;
    cursor: pointer;
  }
  .carousel-indicator.active {
    background-color: black;
  }
  /* end */

  
  /* read more and less text */
  .dots {
      display: inline-block;
    }
    .toggle-btnls {
      color: v.$black;
      border: none;
      padding: 5px 0px;
      cursor: pointer;
      display: inline;
    }
    /* end */
    .cta-contact__top p{line-height: 30px; margin-bottom: 2rem;}
    /*Meet Our Experts */
    .expert-block-item{margin-top: 0; display: flex; justify-content: center;
        .expert-details-item{width: auto;}
    }
}
@media only screen and (min-width: 767px){
    .ESG-framework .esg-left-block img {
        max-width: fit-content;
    }
    //Explore the Business Environment
        .dbp {
            .dbp-block{flex-direction: row;width: 100%;
                .dbp-left-block{ width: 70%;}
                .dbp-right-block{ margin-left: 2rem; margin-top: 0;
                    img{ width: 100%;}
                }
            }
        }
    //end
    }
@media only screen and (min-width: 1001px) {
    //The eight core tiers table
.eight-core-tiers{
    .eight-core-table{width: 100%; 
    p{width: auto;}
    }
    .eight-core-head { width: 100%; 
        .eight-core-left{ width: 40%; margin-bottom: 0;
        }
    }
    .table th, .table td{
        &:first-child{width: 257px; }
    }
    .table thead th { position: sticky; top: 0; z-index: 1; }
    .table thead {  top: 85px; }
    .final-ranking-row{
        box-shadow: v.$dsa-cyan-blue 0px 0px 0px 1px; background-color: v.$white;
    }
}  
}
@media only screen and (min-width: 1100px) {
    /*Meet Our Experts*/
.our-experts-section{
    .carousel-inner{
        width: 80%;
        margin: 0 auto;
    .carousel-item{width: 30%;}
    }
}
//end
}
@media (min-width:1024px) and (max-width:1260px) {
    .ESG-framework{
        .ESG-container{
            .esg-main-block{
                .esg-left-block{
                    .esg-thumbnail{
                        img{
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
    //Envizi helps:
    .ibm-envizi-esg {
        .ibm-envizi-container {
            .envizi-leaf{width: 57px;}
            ul { width: 86%;
            }
        }
    }
    //end
    //Our ESG Advantage
    .esg-advantage {
        .esg-advantage-container {
            .esg-advantage-block{
                width: 318px; box-shadow: none; height: 230px; margin: 0 auto;
                .esg-advantage-desc{padding-top: 0;}
            }
        }
    }
    //end
    //Building Performance within the ESG Landscape
    .esg-f-l {
        .esg-f-l-container {
            .esg-f-l-right {
                img {
                    width: 100%; height: auto;
                 }
            }
            .esg-f-l-left{padding-right: 20px;}
        }
    }
    //end

    //
    .ibm-enizi-sp {
        .carousel-inner {
            .ibm-enizi-sp-container {
                .ibm-enizi-sp-block{ width: 300px; min-height: 226px;}
            }
        }
    }
    //
}
@media only screen and (min-width: 1200px){
    //The eight core tiers table
    .eight-core-tiers{
        .eight-core-table{width: 90%; }
        .eight-core-head { width: 75%; 
            .eight-core-left{ width: 40%;
            }
        }
    }
    //end
        //Explore the Business Environment
  .dbp {
    .dbp-block{width: 100%;
        .dbp-left-block{ width: 50%;}
        .dbp-right-block{ margin-left: 4rem;
            img{ width: 500px;}
        }
    }
  }
  //end
    }

    