
@use "../base/variables" as v;

   .fbn-block .cb-news .evnt-date a{ color:#e2001a !important;}
   .fbn-block .vb-news .evnt-date a{ color:#7d64ab !important;}
   .fbn-block .ib-news .evnt-date a{ color:#1d9649 !important;}
   .fbn-block .aseanb-news .evnt-date a{ color:#2d3790 !important;}
   .heading-level2{font-family: v.$font-family-Poppins; font-weight: v.$font-weight-SemiBold; font-size: 24px; color: v.$dsa-dark-blue; line-height: 30px;
a{color: v.$dsa-dark-blue;}
}

  .pricing {
    
    background: #F6F6F6;
    padding-bottom: 4rem;
    &__intro{width: 30%;}
    &__tab {
      &--country {
        display: block;
        margin: 0;
        padding: 0;
        list-style: none; font-size: 18px;
        a {
          color: v.$black;
        }
        li{border: none; padding: 0.5rem 1rem; border-left: solid 0.2rem rgba(54, 125, 191, 0.4); margin-bottom: 1rem;
            &.tab--active {border-left: solid 0.2rem rgba(54, 125, 191, 1);
            a{font-weight: bold;}
            }
            a{font-weight: normal;}
            &:last-child{margin-bottom: 0;}
            }
      }
    }
    &__country {
      display: none;
  
      &.pricing--active {
        display: block;
        @media (min-width: #{v.$mobile-bp-min}) {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
  
.bp-block {
    width: 800px;
}
  //Insights and Resources on Tax
.insights-resources {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  .insights-resources__toggle {
    background-color: #fff;
    color: #000;
    padding: 10px;
    width:300px;
    text-align: left;
    border: solid 2px #367DBF;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    margin: 0 auto 1.5rem auto;
  }
  
  @media (max-width: 820px) {
    .flex-spacing{ flex-direction: column;}
    .flex-grid-row--one-third{flex-direction: column; flex-wrap: nowrap;}
    .bp-block {
        width: auto;
    }
    .insights-resources {width: 300px;}
    .insights-resources__toggle::after {
        content: "▼";
        font-size: 0.8rem;
        margin-left: 10px;
      }
    .insights-resources__menu.show {
        display: block !important;
        width: 300px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      }
    .insights-resources__menu {
      display: none;
    }
    .insights-resources__toggle{        
        display: flex;
        justify-content: space-between;}
    .insights-resources__menu {
        display: none !important;
        position: absolute;
        top: 44px;
        left: 0px;
        width: 300px;
        background: #fff;
        z-index: 10;
        list-style: none;
        margin: 0;
        padding: 0;
      }
      //end
  }


  






  
