@use "../base/variables" as v; 

.search-filter-block {
  padding-top: 4rem;
  .career-search_form {
    background-color: #fff;
    padding: 0;
    box-shadow: none;
    margin-bottom: 0rem;
    justify-content: center;
    display: flex;
    .selectbox-with-checkbox {
      flex: 0 0 calc(25% - 1.5%);
      flex-basis: calc(25% - 1.5%);
      &:last-child {
        margin-right: 0 !important;
      }
    }
    .search-filter-title {
      vertical-align: bottom;
      padding: 12px 0rem 0 0rem;
      font-weight: bold;
      color: #8c8c8c;
      flex: 0 0 calc(12% - 1.5%);
      flex-basis: calc(12% - 1.5%);
    }
    .selectbox-with-checkbox {
      .selectbox select {
        padding: 0;
        background: #fff;
        height: 50px;
        border: 0;
        background: #fff
          url(../img/down-arroe-select.webp)
          no-repeat 98% 50%;
        box-shadow: rgba(17, 17, 26, 0.1) 0 1px 0;
      }
    }
  }
}
.checkboxes {
  display: none;
  padding-left: 18px;
  padding-bottom: 18px;
  label {
    display: block;
    input {
      margin-bottom: 0;
    }
  }
  &.show {
    display: block;
  }
}

.play-btn {
  display: flex;
  align-items: center;
  color: v.$dsa-cyan-blue;
  svg {
    fill: v.$dsa-cyan-blue;
    margin-right: 5px;
  }
}

ul {
  &.brochure_lists {
    display: block;
    li {
      display: block;
      font-size: 1rem;
      margin-bottom: 0rem;
      a {
        color: v.$dsa-light-grey;
        font-size: 15px;
        &:hover {
          color: v.$black;
        }
      }
    }
    li + li:before {
      display: none;
    }
  }
}

.success-stories-section {
  .ap-area__wrapper {
    justify-content: space-between;
    margin-top: 6rem;
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    &.justify-content-iteams {
      .ap-area__clients {
        border-bottom: solid 1px #dcdcdc;
        border-left: 0;
        border-right: 0;
        border-top: 0;
        padding: 0rem 2rem 3rem 2rem;
        margin: 0 2.4rem;
        margin-bottom: 6rem;
        width: 200px;
        align-items: flex-end;
        border-radius: 0;
        text-align: center;
        height: auto;
        position: relative;
        display: flex;
        a {
          line-height: 0;
          display: block;
        }
        img {
          width: 160px;
          margin-bottom: 0rem;
        }
      }
    }
    .ap-area__article {
      margin-bottom: 4rem;
      h2 { font-size: 18px;
        font-family: v.$font-family-Poppins;
        font-weight: v.$font-weight-SemiBold;
        a{color: v.$dsa-dark-blue;}
      }
      &:hover {
        figure {
          img {
            transform: scale(1.05);
          }
        }
      }
      &.cs {
        min-height: 200px;
        cursor: pointer;
        h2 {
          font-weight: 700;
          overflow: hidden;
          font-size: 18px;
          line-height: 1.4;
          height: auto;
        }
        figure {
          max-height: 170px;
          overflow: hidden;
          margin-top: 0rem;
          margin-bottom: 1.5rem;
          img,svg{ transition: v.$transition-img /* Animation */}
        }
      }

      .popover-content {
        background-color: #fff;
        top: 0%;
        min-height: 350px;
        padding: 2rem;
        display: inherit;
        .popover-message {
          color: v.$dsa-light-grey;
        }
        ul {
          display: block;
          text-align: left;
          margin-top: 0.5rem;
          li {
            display: block;
            margin: 0;
            font-size: 15px;
            color: v.$dsa-light-grey;
          }
        }
        ul li:before {
          content: "–";
          display: inline-block;
          margin: 0 0.375rem 0 0rem;
        }
      }
      &.quotes {
        position: relative;
        min-height: auto;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 5px 0px,
          rgba(0, 0, 0, 0.08) 0px 0px 1px 0px;
        blockquote {
          border: none;
          padding: 2rem;
          min-height: 160px;
          .quote {
            font-size: 1rem;
            line-height: 1.6;
            margin-bottom: 0.5rem;
            span {
              margin-right: 0.7rem;
            }
          }
          cite {
            display: block;
            margin-top: 1rem;
            .quote-name {
              font-weight: bold;
              width: 100%;
              display: block;
            }
            span {
              font-style: normal;
              margin-top: 0.6rem;
            }
          }
          &:before {
            display: none;
          }
        }
        figure {
          margin-top: 2rem;
        }
        img {
          width: unset;
          min-height: unset;
        }
      }
    }
    &#videoList {
      .ap-area__article {
        &.cs {
          figure {
            max-height: 205px;
          }
        }
      }
    }
  }
 
}
.ap-area__article { width: 365px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 4rem;
  padding-bottom: 1rem;
  h2 {margin:1.5rem;
    a{color: v.$dsa-dark-blue; }
  }
  ul{margin: 1.5rem;}
  &:hover {
    figure {
      img {
        transform: scale(1.05);
      }
    }
  }
  &.cs {
    min-height: 200px;
    cursor: pointer;
    h2 {
      font-weight: 700;
      overflow: hidden;
      font-size: 18px;
      line-height: 1.4;
      height: auto;

    }
    figure {
      max-height: 170px;
      overflow: hidden;
      margin-top: 0rem;
      margin-bottom: 1.5rem;
      img,svg{ transition: v.$transition-img /* Animation */}
    }
  }

  .popover-content {
    background-color: #fff;
    top: 0%;
    min-height: 350px;
    padding: 2rem;
    display: inherit;
    .popover-message {
      color: v.$dsa-light-grey;
    }
    ul {
      display: block;
      text-align: left;
      margin-top: 0.5rem;
      margin: 1.5rem;
      li {
        display: block;
        margin: 0;
        font-size: 15px;
        color: v.$dsa-light-grey;
      }
    }
    ul li:before {
      content: "–";
      display: inline-block;
      margin: 0 0.375rem 0 0rem;
    }
  }
  &.quotes {
    position: relative;
    min-height: auto;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 5px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 1px 0px;
    blockquote {
      border: none;
      padding: 2rem;
      min-height: 160px;
      .quote {
        font-size: 1rem;
        line-height: 1.6;
        margin-bottom: 0.5rem;
        span {
          margin-right: 0.7rem;
        }
      }
      cite {
        display: block;
        margin-top: 1rem;
        .quote-name {
          font-weight: bold;
          width: 100%;
          display: block;
        }
        span {
          font-style: normal;
          margin-top: 0.6rem;
        }
      }
      &:before {
        display: none;
      }
    }
    figure {
      margin-top: 2rem;
    }
    img {
      width: unset;
      min-height: unset;
    }
  }
}

@media (max-width: 667px) {
  .success-stories-section {
    .ap-area__wrapper {
      margin-top: 3rem;
      .ap-area__clients {
        width: 100% !important;
        figure {
          margin: 0 auto;
        }
      }
    }
  }
  
}


@media only screen and (min-width: 768px) {
  //success stiries
  .success-stories-section {
    .ap-area__wrapper {
      &.quotes__wrapper {
        .ap-area__article {
          &.quotes {
            max-width: calc(30.5% - 24px);
            margin-right: 0px;
            &:nth-child(3n) {
              margin-right: 0px;
            }
            &:last-child:nth-child(3n + 2) {
              margin-right: 0 !important;
              margin-left: 0px;
            }
          }
        }
      }
    }
  }
  //end
}

@media only screen and (min-width: 1140px) {
  //success stiries
  .success-stories-section {
    .ap-area__wrapper {

      &.quotes__wrapper {
        flex-wrap: wrap;
        justify-content: inherit;
        gap: 5rem;
        
      }
    }

  }
  //end
  .ap-area__article {
    //max-width: calc(28% - 24px);
    margin-right: 0;
    &.cs {
      &:last-child {
        margin-right: 0 !important;
      }
      &:last-child:nth-child(3n + 2) {
        margin-right: auto !important;
        margin-left: 148px;
      }
    }
  }
}
@media only screen and (min-width: 1300px) {
  .search-filter-block {
    .career-search_form .selectbox-with-checkbox {
      flex: 0 0 calc(16.9% - 1.5%);
      flex-basis: calc(16.9% - 1.5%);
    }
    .career-search_form {
      .search-filter-title {
        flex: 0 0 calc(6.5% - 1.5%);
        flex-basis: calc(6.5% - 1.5%);
      }
    }
  }
}
@media only screen and (min-width: 1440px) {
  //success stiries
  .selectbox-with-checkbox {
    margin-right: 1rem;
  }

  //end
}
