// Variables
@use "../base/variables" as v; 
// Footer Styles
.sprite-social {
  &:before {
    content: "";
    display: inline-block;
    background-image: url(../img/sprite-all.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    vertical-align: middle;
  }
  &-fb:before {
    background-position: 0 -84px;
  }
  &-tt:before {
    background-position: -96px -84px;
  }
  &-li:before {
    background-position: -48px -84px;
  }
  &-yt:before {
    background-position: -72px -84px;
  }
}
.footer {
  background-color: #0d2844;
  color: v.$white;
  padding: 4.5rem 0rem 3.5rem 0rem;
  font-size: 0.95rem;

  a {
    color: v.$white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  // Top Section Grid
  &-top {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(180px, 1fr));;
    gap: 2rem;
    margin-bottom: 2rem;
  }

  // Logo Area
  &-logo {
    // img {
    //   margin-bottom: 4rem;
    // }
    img[alt*="Dezan Shira & Associates Logo"] {
  width: 326px;
  //height: 34px;
  margin-bottom: 4rem;
}
    
  }

  // Each Section
  &-section {
    h4 {
      margin-bottom: 0.75rem;
      font-weight: 400;
      font-size: 1rem;
      font-family: "Poppins";
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      font-family: "Inter";
      font-weight: 300;
      font-size: 14px;
      li {
        margin-bottom: 0.5rem;
        font-family: "Inter";
      }
    }

    select {
      padding: 5px 12px;
      width: 172px;
      border-radius: 4px;
      border: 1px solid rgba(255, 255, 255, 0.33);
      color: v.$white;
      background: #0d2844 url(../img/whiteSelectArrow.svg) no-repeat 92% 50%;;
    }
      // Subscribe Form
  .subscribe {
    form {
      display: flex;
      align-items: center;
      input {
        flex: 1;
        //padding: 0.7rem 1rem;
        border-radius: 4px;
        border: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        font-size: 14px;
        height: 44px;
        
      }

      button {
        background-color: v.$white;
        color:  v.$white;
        border: none;
       // padding: 1rem 1rem 1.031rem 1rem;
        border-radius: 4px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        cursor: pointer;
        height: 44px;
        padding: 0 10px;
        
      }
    }
  }
  }


  .footer-office{ margin-top: 1rem;}
  // Bottom Section
  &-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 1rem;
    font-size: 14px;
    gap: 0.75rem;
    p{font-size: 14px;}
    a {
      color: v.$white;
    }
  }
  .footer-social { margin-bottom: 2rem;
    ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-start;
  li{line-height: 20px;}
    }
    a {
      margin: 0 0.4rem;
      color: v.$white;
      font-size: 1rem;
    }
  }
  // Responsive layout
  @media (min-width: 768px) {
    .footer{padding: 3rem 2rem 1.5rem;}
    &-bottom {
      flex-direction: row;
      justify-content: space-between;
    }

    .footer-social{
      ul{
        justify-content: end;
      }
    }
  }
  
 
  @media (min-width: 1366px) {
    &-top {
      grid-template-columns: 4fr 1fr 2fr 1fr 2fr;
    }
  }
}
  @media screen and (min-width: 769px) and (max-width: 1024px) { 
.footer{
  &-top {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 2rem;
  > * {
  flex: 1 1 180px; /* allows items to shrink and grow with a base width of 180px */
  box-sizing: border-box;
}
}
}

}

