@use "../base/variables" as v;

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;

  &-row {
    display: flex;
    flex-wrap: wrap;
  }

  &-col {
    flex: 1 1 100%; // Default: Full width for mobile
  }

  &-col-lg {
    flex: 1 1 100%;
    display: grid;
  }

  // 2-Column Layout
  &-row--two {
    .flex-col {
      padding: 13px;
      &--per52{
        flex: 1 1 100%;
      }
      &--per36{
        flex: 1 1 100%;
      }
    }

  }
  &-row--one-third{
    .flex-col-3per, .flex-col-7per {
      padding: 13px;
    }
    &.padding-none{
      .flex-col-3per, .flex-col-7per{padding: 0;}
    }
  }

  // 3-Column Layout
  &-row--three {
    .flex-col {
      padding: 13px;
    }
  }

  // 4-Column Layout
  &-row--four {
    .flex-col {
      padding: 13px;
    }
  }

  // Fixed 3-Column Layout
  &-row--fixed-three {
    .flex-col {
      padding: 13px;
    }
  }

  // Fixed 4-Column Layout
  &-row--fixed-four {
    .flex-col {
      padding: 13px;
    }
  }
}
.section-wrapper, .section-wrapper-min, .section-wrapper-small  {
  position: relative;
  margin: 0 auto;
  padding: 0 1.5rem;
  height: inherit;
}

.flex {
  &-wrapper {
    display: flex;

    &--spacing {
      display: flex;
      justify-content: space-between;
      .flex-item {
        padding: 13px;
      }
    }
    .flex-item {
      padding: 13px;
    }
  }

  &-spacing {
    display: flex;
    justify-content: space-between;
    .flex-item {
      padding: 13px;
    }
  }
}

.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}

#wrapper {
  display: flex;
  flex-direction: column;
}
details,
main {
  display: block;
}

.flex-grid-row-2column{
    gap: 2rem;
    grid-template-columns: repeat(1, 1fr);
    display: grid;
    
}
@media (max-width: 1100px) {
  .flex-grid-row--one-third .pl-4{padding: 0;}
}
@media (max-width: 557px) {
  .flex-grid-row--two .flex-col{padding: 0;}
}
@media (min-width: 768px) {
  .flex-grid-row-2column{
    grid-template-columns: repeat(2, 1fr);
    
    
}
  .flex-grid {
    &-col {
      flex: 1;
    }
    // &-row--two {
    //   .flex-col {
    //     flex: 0 0 calc(50% );
    //     //flex: 0 0 calc(50% - 1%);
    //     //margin-right: 2%;
    //     &:nth-child(2n) {
    //       margin-right: 0;
    //     }
    //     &--per52{
    //       flex: 1 0 calc(52% );
    //     }
    //     &--per36{
    //       flex: 0 0 calc(36% );
    //     }
    //    &.item-padding-none{
    //     padding: 0;
    //   }
    //   }
      
    // }
    &-row--one-third {
      .flex-col-3per {
        //flex: 0 0 calc(30% - 1%);
        flex: 0 0 calc(30%);
        //margin-right: 2%;

      }
      .flex-col-7per {
        flex: 0 0 calc(70%);
        //flex: 0 0 calc(70% - 1%);
        //margin-right: 2%;
        &:nth-child(2n) {
          margin-right: 0;
        }
      }
    }
    &-row--three {
      .flex-col {
        flex: 0 0 calc(33.33% - 2%);
        margin-right: 3%;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: calc(100% / 3);
        &:nth-child(2n) {
          margin-right: 0;
        }

        &:nth-child(3n) {
          margin-right: 3%;
        }

        &:last-child {
          margin-right: 0%;
        }
      }
    }
    // 4-Column Layout
    &-row--four {
      .flex-col {
        margin-right: 2%;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(25% - 1.5%);
      }

      .flex-col:nth-child(4n) {
        margin-right: 0;
      }
    }
    &-row--fixed-three {
      .flex-col {
        flex: 0 0 33.33%;
      }
    }
    &-row--fixed-four {
      .flex-col {
        flex: 0 0 25%;
      }
    }
  }
}
@media (min-width: 992px) {
  .flex-grid {
    &-col-lg {
      flex: 1;
    }
    &-row--three {
      .flex-col {
        flex: 0 0 calc(33.33% - 2%);
        margin-right: 3%;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: calc(100% / 4);
        &:nth-child(3n) {
          margin-right: 0;
        }

        &:nth-child(2n) {
          margin-right: 3%;
        }

        &:last-child {
          margin-right: 0%;
        }
      }
    }
  }
}
@media (min-width: 1100px) {
    .flex-grid {
    &-col {
      flex: 1;
    }
    &-row--two {
      .flex-col {
        flex: 0 0 calc(50% );
        //flex: 0 0 calc(50% - 1%);
        //margin-right: 2%;
        &:nth-child(2n) {
          margin-right: 0;
        }
        &--per52{
          flex: 1 0 calc(52% );
        }
        &--per36{
          flex: 0 0 calc(36% );
        }
       &.item-padding-none{
        padding: 0;
      }
      }
      
    }
  }
}
@media (min-width: 1220px) {
  .section-wrapper {
    //max-width: 100%;
    max-width: 1220px;
    width: 100%;
  }
  .section-wrapper-min {
    //max-width: 100%;
    max-width: 1220px;
    width: 100%;
  }
    .section-wrapper-small {
    //max-width: 100%;
    max-width: 1220px;
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .section-wrapper {
    max-width: 1440px;
    width: 100%;
  }
  .section-wrapper-min {
    max-width: 1220px;
    width: 100%;
  }
  .section-wrapper-small {
    max-width: 800px;
    width: 100%;
  }
}
