@use "../base/variables" as v; 
@font-face {
    font-family: '#{v.$icomoon-font-family}';
    src:  url('#{v.$icomoon-font-path}/#{v.$icomoon-font-family}.eot?aatp41');
    src:  url('#{v.$icomoon-font-path}/#{v.$icomoon-font-family}.eot?aatp41#iefix') format('embedded-opentype'),
      url('#{v.$icomoon-font-path}/#{v.$icomoon-font-family}.ttf?aatp41') format('truetype'),
      url('#{v.$icomoon-font-path}/#{v.$icomoon-font-family}.woff?aatp41') format('woff'),
      url('#{v.$icomoon-font-path}/#{v.$icomoon-font-family}.svg?aatp41##{v.$icomoon-font-family}') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: '#{v.$icomoon-font-family}' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: inherit;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
  }


  .icon-search {
    &:before {
      content: v.$icon-search; 
    }
  }
  
  .icon-sphere {
    &:before {
      content: v.$icon-sphere; 
    }
  }

  .icon-user {
    &:before {
      content: v.$icon-user; 
    }
  }

  
  