@use "../base/variables" as v; 
@font-face {
    font-family: '#{v.$icomoon-font-family}';
    src:  url('#{v.$icomoon-font-path}/#{v.$icomoon-font-family}.eot?aatp41');
    src:  url('#{v.$icomoon-font-path}/#{v.$icomoon-font-family}.eot?aatp41#iefix') format('embedded-opentype'),
      url('#{v.$icomoon-font-path}/#{v.$icomoon-font-family}.ttf?aatp41') format('truetype'),
      url('#{v.$icomoon-font-path}/#{v.$icomoon-font-family}.woff?aatp41') format('woff'),
      url('#{v.$icomoon-font-path}/#{v.$icomoon-font-family}.svg?aatp41##{v.$icomoon-font-family}') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: '#{v.$icomoon-font-family}' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: inherit;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
  }


  .icon-search {
    &:before {
      content: v.$icon-search; 
    }
  }
  
  .icon-sphere {
    &:before {
      content: v.$icon-sphere; 
    }
  }

  .icon-user {
    &:before {
      content: v.$icon-user; 
    }
  }

  .icon-chevron-down {
    &:before {
      content: v.$icon-chevron-down; 
    }
  }

  .icon-settings {
    &:before {
      content: v.$icon-settings; 
    }
  }
  .icon-calendar {
    &:before {
      content: v.$icon-calendar; 
    }
  }
  .icon-date {
    &:before {
      content: v.$icon-date; 
    }
  }

  .icon-long-arrow-right {
    &:before {
      content: v.$icon-long-arrow-right; 
    }
  }
  .icon-long-arrow-left {
    &:before {
      content: v.$icon-long-arrow-left; 
    }
  }
  .icon-angle-up {
    &:before {
      content: v.$icon-angle-up; 
    }
  }
  .icon-book {
    &:before {
      content: v.$icon-book; 
    }
  }

  .icon-play-circle {
    &:before {
      content: v.$icon-play-circle; 
    }
  }
  .icon-envelope-open {
    &:before {
      content: v.$icon-envelope-open; 
    }
  }
  .icon-envelope {
    &:before {
      content: v.$icon-envelope; 
    }
  }
 
  .icon-minus {
    &:before {
      content: v.$icon-minus; 
    }
  }
  .icon-plus {
    &:before {
      content: v.$icon-plus; 
    }
  }
  
  .icon-download {
    &:before {
      content: v.$icon-download; 
    }
  }
  
  .icon-email {
    &:before {
      content: v.$icon-email; 
    }
  }
  .icon-contact {
    &:before {
      content: v.$icon-contact; 
    }
  }
  
  .icon-newspaper {
    &:before {
      content: v.$icon-newspaper; 
    }
  }
  
  .icon-books {
    &:before {
      content: v.$icon-books; 
    }
  }
  .icon-location {
    &:before {
      content: v.$icon-location; 
    }
  }
  .icon-briefcase {
    &:before {
      content: v.$icon-briefcase; 
    }
  }
  .icon-cloud-download {
    &:before {
      content: v.$icon-cloud-download; 
    }
  }
  .icon-flag {
    &:before {
      content: v.$icon-flag; 
    }
  }
  
  .icon-3x {
    font-size: 3em;
  }
  .icon-2x {
    font-size: 2em;
  }
  .icon-6x {
    font-size: 6em;
  }
  .icon-1x {
    font-size: 1em;
  }
  
  