@use "../base/variables" as v; 

// coyntry Banner
.hp-country-banner {
    position: relative;
    background: v.$white-smoke;
    padding: 0;
    height: auto;
    &:after {
      width: 100%;
      height: 100%;
      background: v.$white-smoke;
      left: 0;
    }
    .section-wrapper {
      position: relative;
      margin: 0 auto;
      padding: 0 1.5rem;
      height: inherit;
    }
    &:before {
      right: 100%;
      width: 0;
      height: 0;
      border-top: 587px solid v.$white-smoke;
      border-right: 140px solid transparent;
    }
  }
  .hp-country-banner-aside {
    display: block;
    position: relative;
    height: auto;
    color: v.$white;
    background: v.$white-smoke;
    background-size: cover; width: 100%;
  }
  .hp-country-banner-aside-bg {
    position: relative; display: none;

    img{position: absolute;
        top: 0px;
        right: 0px;
        max-width: none;
        transform: scale(1);}
  }
  
  .hp-country-banner-wrap {
    position: relative;
    padding: 4rem 0;
  }
  .hp-country-banner-box {
    position: relative;
    border-top: 0;
    max-width: 100%;
    background: 0 0;
    box-shadow: none;
    z-index: 2;
  }
  .business-updates{
    h1{ font-size: 40px; line-height: 55px; color: v.$blue-theme; margin-top: 1.5rem; margin-bottom: 1.5rem;
  a{color: v.$blue-theme;}
  }
    p{font-size: 18px; line-height: 26px; color: v.$gray;}

}
//country
.svg-border-rounded{ height: auto;
  img{vertical-align: top;}
  }

  .section-intro{ width: auto; margin: 0 auto; padding-bottom: 4rem; font-size: 18px; line-height: 26px;color: v.$gray;}

  .country-section{
    .title-section{ font-size: 28px; margin-bottom: 2rem; color: v.$blue-theme;
    a{ color: v.$dsa-dark-blue;}
    }
    .sub-title-section{ font-size: 24px;  font-weight: normal; margin-bottom: 2rem; color: v.$blue-theme; }
    
    //why singapore block    
    .why-singapore{ padding-top: 80px; padding-bottom: 20px;
    .more-less{color: v.$gray; font-size: 16px; line-height: 18px; display: block; margin-top: 1rem;
    a{text-decoration: underline; color: v.$gray;
    &:hover{ text-decoration: none;}
    }
    }
    }
    }

  @media (min-width: 1100px){
  .hp-country-banner:after, .hp-country-banner:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    z-index: 1;
  }
  
  .hp-country-banner-aside {height: inherit;position: absolute;}
  .hp-country-banner {height: 587px;
    .section-wrapper {
      height: inherit;
    }
    &:after {width: 50%;}
    &:before {  left: 50%;}
  }
  .hp-country-banner-box {max-width: 580px;}

.hp-country-banner-aside-bg {display: block;}
  }

  @media only screen and (min-width: 1280px) {
    .hp-country-banner-box {max-width: 600px;}
  }
  // end
@media only screen and (min-width: 767px) {
        .section-intro{ width: 66%;}
        .svg-border-rounded{height: auto; display: flex; justify-content: center; width:100%;
        img{height: auto; width: 100%;}
        }
      }




 