
.mt-7{margin-top: 70px !important;}
.mb-7{margin-bottom: 70px !important;}
.pt-7 { padding-top: 70px !important;}
.pb-7{ padding-bottom: 70px !important;}
.mr-2 { margin-right: 20px;}
.mt-4{ margin-top: 40px;}
.mt-3{margin-top: 30px;}
.mb-3{margin-bottom: 3rem;}
.pl-3{padding-left: 3rem;}
.text-center{text-align: center;}
.section-top-bottom-padding{padding-top: 6rem; padding-bottom: 6rem;}
.section-tb3rem-padding{padding-top: 3rem; padding-bottom: 3rem;}
.section-top-padding{padding-top: 6rem;}
.section-bottom-padding{padding-bottom: 6rem;}
.section-light-gray-bg{background-color: #F6F6F6;}
.heading-second{font-family: "Poppins"; font-weight: 700; color: #0C2740;font-size: 32px;}
.heading-third{font-family: "Poppins"; font-weight: 400; color: #0C2740; font-size: 20px;}
