
.mt-7{margin-top: 70px !important;}
.mb-7{margin-bottom: 70px !important;}
.pt-7 { padding-top: 70px !important;}
.pb-7{ padding-bottom: 70px !important;}
.mr-2 { margin-right: 20px;}
.mt-4{ margin-top: 40px;}
.mt-3{margin-top: 30px;}
