$color_1: white;
.accordion-section {
	padding: 4rem 0;
	h2 {
		padding-bottom: 2rem;
		padding-left: 1.2rem;
	}
	h5 {
		padding-bottom: 1rem;
		padding-top: 1rem;
	}
	.accordion {
		.accordion-item {
			.accordion-title {
				padding: 5px 20px;
				background: white;
				cursor: pointer;
				font-weight: bold;
				transition: background 0.5s ease;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				border-radius: 2px;
				font-size: 1.2rem;
				line-height: 3rem;
				font-weight: 200;
				border-bottom: solid 1px #c6c6c6;
				svg {
					transition: 0.5s ease;
				}
			}
			.accordion-content {
				max-height: 0;
				overflow: hidden;
				transition: all 0.5s ease-in-out;
				background: #fff;
				.accordion-content-inner {
					padding: 20px;
				}
			}
		}
		.accordion-item.active {
			.accordion-title {
				background: #0056b3;
				color: $color_1;
				transition: 0.3s ease;
				svg {
					transform: rotate(45deg);
					transition: 0.3s ease;
					line {
						stroke: #fff;
					}
				}
			}
		}
	}
}
.accordion {
	width: 70%;
}
@media (max-width: 768px) {
	.accordion-section {
		.accordion {
			.accordion-item {
				.accordion-title {
					font-size: 2rem;
					line-height: 2.5rem;
				}
			}
		}
	}
}
