.masthead.small-banner-height { height: 280px;}
.guide-download-sec {position: absolute; bottom: -210px; right: 13%;z-index: 3;}
.guide-download-sec img { display: block; box-shadow: rgba(23, 40, 127, 0.3) 0px 10px 35px 10px;}
.download-publication-form {margin-top: 13rem; max-width: 500px;  margin-left: auto; margin-right: auto;}
.download-publication-form .dp-title {font-size: 20px; font-weight: 600;  text-align: center; color: #3271b7;
margin-bottom: 1rem;}
.download-publication-form .dp-text { font-size: 1rem; color: #6c757d; text-align: center;  margin-bottom: 2rem;}
.download-publication-form .dp-title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #3271b7;
}
.download-publication-form .dp-text {
  font-size: 1rem;
  color: #6c757d;
  text-align: center;
  margin-bottom: 2rem;
}
.download-publication-form .dp-form {
  width: 100%;
}
.download-publication-form .dp-form input, .download-publication-form .dp-form select, .download-publication-form .dp-form textarea {
  border-radius: 5px;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 5px;
  color: #667085;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.download-publication-form .dp-form [class*=col-] {
  padding-bottom: 0px;
  padding-top: 20px;
}
.download-publication-form .dp-form .form-label {
  font-size: 16px;
  color: #667085;
  margin-bottom: 5px;
}
.download-publication-form .dp-form .form-check {
  margin-top: 10px;
}
.download-publication-form .dp-form .form-check input {
  margin-right: 10px;
}
.download-publication-form .dp-form .form-check-label {
  font-weight: bold;
  color: #344c71;
}
.download-publication-form .dp-form .col-6 {
  width: 49.5%;
}
#scrollToForm{display: none;}
#btn_start_download{min-width: 200px;padding: 0.75rem 1rem;}
@media (max-width: 1024px) {
.masthead__text.justify-content-center{max-width: 50%;}
.guide-download-sec {position: absolute;bottom: -210px; right: 5%; z-index: 3;}
.download-publication-form{width: 320px; margin-right: 4%; float: right;}
}
@media (max-width: 767px) {
#scrollToForm{display: block;}
.download-publication-form{margin-top: 0; width: 100%; margin-right: 0; float: none;}
.masthead.small-banner-height{ height: 550px; min-height: 550px;}
.guide-download-sec{position: absolute; bottom: 40px; right: 0; left: 40px;}
.guide-download-sec img{width: 170px;}
.masthead__text.justify-content-center{max-width: 100%;justify-content: flex-start;}
}
