    h2[id]{scroll-margin-top: 120px;}
    div[id] {scroll-margin-top: 80px;}
    .masthead.case-studies-banner h1{max-width: 750px;line-height: 1.3;}
    .our-experts{background-color: #fff;}
    ul { 
      li { margin-bottom: 6px;font-weight: 300; color: #535353;  line-height: 29px; }
    }
    .linear-blue-gradient {background: linear-gradient(-180deg, #4C8FD5 0%, #284B6F 100%);}
     .section-light-blu-bg { background-color: #f0f6fc !important;}

//Client Snapshot
    .ibm-enizi-sp{
      &.client-snapshot{
      .ibm-enizi-sp-container .ibm-enizi-sp-block{flex-direction: column; width: 235px;
      .icon-square{ margin: 0 0 1rem 0;}
      .ibm-enizi-sp-text{
        h3{font-weight: 600;
         a{ font-weight: 600; color: #000; }
        }
        p, a{ color: #344C71; font-weight: 500;
        }
      }
      }
      .carousel-inner{ justify-content: center; gap: 2rem;
      .carousel-item{margin-bottom: 0;
      &:nth-child(2){width: 190px;}
      }
      }
      }
    }
//end Snapshot
   
//Insights from Our Experts
    .experts-quotes-card{ display: flex; gap: 2rem;
    .our-experts.expert-list.expert-list-one-column{ margin-top: 0;}
    }
    .quote-icon{ float: left; margin-right: 1rem;
    img{width: 30px; height: 25px;}
    }
    .experts-quote{
       p{color: #535353; line-height: 30px; margin-bottom: 1rem;}
       .experts-detail{
        .expert-name, .expert-position{font-size: 13px;}
        .expert-name{font-weight: 600;}
       }
    }
//end

//in this card
    .in-this-card{
      min-height: 280px;
      background: linear-gradient(-180deg, #217FD4 0%, #3291E7 50%, #A0BDD8 100%);
      margin-top: -180px;
      padding: 2.5rem;
      margin-bottom: 3rem;
      margin-left: 1rem;
      h3{ color: #fff; font-size: 16px; margin-bottom: 1rem;}
      ul{ margin: 0; padding: 0; list-style: none;
      li{ color: #fff; font-size: 16px; line-height: 22px; margin-bottom: 0.8rem;
      &:last-child{ margin-bottom:0rem;}
      a{ color: #fff;
      &:hover{ text-decoration: underline;}
      }
      }
      }
      &.sticky-toc-section {margin-top: 0px;}
    }
//end

.rhs-form-card .services-question-section {
    .got-question-block{ width: auto; margin-left: 1rem; padding-left: 2rem; padding-right: 2rem;
    form input[type=email] {
    border: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid #c4c4c4;
    background: 0 0;
    margin-bottom: .5rem;
    color: #231f20;
    font-size: 15px;
    padding-left: .5rem;
    padding-right: 1.5rem;
}
      }
    }

.rhs_widgets>div {position: sticky;top: 180px;}
.animate {
    animation-duration: 1s;
    animation-name: animate-fade;
    animation-delay: .5s;
    animation-fill-mode: backwards;
    animation-timing-function:ease-in;
    transition: all .5s ease;
}

@media (max-width: 667px) {
  .ibm-enizi-sp{
    &.client-snapshot{
      .carousel-inner{justify-content: flex-start; gap: 0;
      .carousel-item{flex: 0 0 100%;
        &:nth-child(2){width:auto;}
      }
      }
      .ibm-enizi-sp-container .ibm-enizi-sp-block {width: auto; margin-left: 0;margin-right: 0;
        .ibm-enizi-sp-text {
          p{text-align: center;}
        }
        .ibm-enizi-sp-title .icon-square{margin-left: auto; margin-right: auto; }
      }
    }
  }
  .rhs-form-card .services-question-section .got-question-block{margin-bottom: 2rem; margin-left: 0;}
  .in-this-card{margin-left: 0;}
  .masthead.case-studies-banner{height: 420px;}
}
@media (min-width: 767px) and (max-width: 1024px) {
    .carousel-item {
        flex: inherit;
        margin-bottom: 0;
    }
    .ibm-enizi-sp.client-snapshot .ibm-enizi-sp-container .ibm-enizi-sp-block{width: auto;}
    .ibm-enizi-sp.client-snapshot .carousel-indicators{display: none;}
}
@media (max-width: 900px) {
.in-this-card{display: none;}
.flex-grid-row--one-third .flex-col-7per, .flex-grid-row--one-third .flex-col-3per{ width: 100%; flex: 0 0 100%;}
.widget_0{display: none;}
}
@media (max-width: 768px) {
  .experts-quotes-card{flex-direction: column-reverse;}
  .experts-quotes-section .our-experts{margin-left: 0; margin-right: 0; margin-bottom: 0;}
}

