.selectbox-with-checkbox {
  flex: 0 0 calc(100%);
  margin-right: 0%;
  .selectbox {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
    padding: 0.5rem 0.75rem;
    gap: 0.5rem;
    select {
      width: 100%;
      border: none;
      background-color: transparent;
      background: transparent url(../img/events/select-arrow.svg) no-repeat 96%
        50%;
      padding: 0;
    }
  }
  .selectbox-over {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .selectbox-checkboxes {
    padding: 10px;
    position: absolute;
    overflow: hidden;
    background: #fff;
    width: 250px;
    border: solid 1px #ddd;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 3px;
    z-index: 1000;
    label {
      display: block;
    }
  }

  .checkedValues {
    margin-top: 1rem;
    margin-bottom: 1rem;
    span:first-child {
      margin-left: 0;
    }
    span {
      background: #fff;
      border-radius: 5px;
      padding: 5px 12px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      display: inline-block;
      margin-bottom: 0.5rem;
      margin-left: 0;
      text-transform: initial;
      margin-right: 0.5rem;
      font-size: 0.75rem;
    }
  }
  &.vertical-form {
    margin-right: 0px;
    .selectbox-checkboxes {
      width: 87%;
    }
  }
}

.career-search_form {
  display: flex;
  position: sticky;
  top: 85px;
  background-color: #fff;
  padding-top: 2rem;
  padding-bottom: 1rem;
  z-index: 1;
  width: 99.5vw;
  margin-left: calc(-50vw + 50%);
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.selectbox-with-checkbox {
  max-width: 265px;
}
.search-btn {
  padding: 0.7rem 1rem;
  font-size: 1rem;
  border: none;
  background-color: #207fd4;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
  height: 42px;
}


@media (max-width: 570px) {
.event-filter-form .list-acc-block.open{ margin-bottom: 2rem;}
  .events-filter__form.career-search_form{ gap: 0; flex-direction: column;
    .list-acc-label, .list-acc-block{width: 90%; margin: 2rem auto 0 auto;}
    
  }
  .selectbox-with-checkbox {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 667px) {
  .events-filter__form.career-search_form {
    gap: 1rem;
    justify-content: center;
  }
}

@media (min-width: 767px) {
  .selectbox-with-checkbox {
    flex: 0 0 calc(30% - 1.5%);
    .checkedValues {
      margin-bottom: 0;
    }
    &.vertical-form {
      margin-right: 0px;
      .selectbox-checkboxes {
        width: 230px;
      }
    }
  }
}

@media (min-width: 1100px) {
  .selectbox-with-checkbox {
    .checkedValues {
      margin-bottom: 0;
    }
    &.vertical-form {
      margin-right: 0px;
      .selectbox-checkboxes {
        width: 162px;
      }
    }
  }
}
@media (min-width: 1300px) {
  .selectbox-with-checkbox {
    .checkedValues {
      margin-bottom: 0;
    }
    &.vertical-form {
      margin-right: 0px;
      .selectbox-checkboxes {
        width: 201px;
      }
    }
  }
}
@media (min-width: 1400px) {
  .selectbox-with-checkbox {
    .checkedValues {
      margin-bottom: 0;
    }
    &.vertical-form {
      margin-right: 0px;
      .selectbox-checkboxes {
        width: 230px;
      }
    }
  }
}
