
/* Responsive Design */
.tabs-section {
	padding-top: 4rem;
	padding-bottom: 4rem;
	h2 {
		margin-bottom: 2rem;
		font-size: 18px;
	}
}
.tabs {
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid #ddd;
	width: 70%;
}
.tab-btn {
	padding: 10px 15px;
	cursor: pointer;
	border: none;
	background: none;
	font-size: 16px;
	transition: border .3s ease-out;
	&:hover {
		border-bottom: 4px solid #cdcdcd;
	}
}
.tab-btn.active {
	border-bottom: 4px solid #0056b3;
	font-weight: bold;
}
.tab-content-container {
	position: relative;
	min-height: 200px;
	transition: height 0.3s ease-in-out;
	width: 70%;
}
.tab-content {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	padding: 1.5rem 0.625rem;
}
.tab-content.active {
	display: block;
	opacity: 1;
}
@media (max-width: 768px) {
	.tabs {
		flex-direction: column;
		align-items: flex-start;
		overflow-x: hidden;
		width: 100%;
	}
	.tab-btn {
		display: block;
		width: 100%;
		text-align: left;
		padding: 10px;
		border-bottom: 1px solid #ddd;
	}
	.tab-content-container {
		width: 100%;
	}
}
